<div class="section-header" [class.breadcrumbs]="breadcrumbs && breadcrumbs.length">
  <div class="buttons"><ng-content></ng-content></div>
  <div class="breadcrumbs" *ngIf="breadcrumbs">
    <span *ngFor="let bc of breadcrumbs; let i = index"><a [routerLink]="bc.routerLink">{{bc.title}}</a>
    &gt;
    </span>
  </div>
  <h2 *ngIf="headerRouterLink"><a [routerLink]="headerRouterLink"><i class="icon-{{headerIcon}}"></i>{{headerTitle}}</a></h2>
  <h2 *ngIf="!headerRouterLink"><i class="icon-{{headerIcon}}"></i>{{headerTitle}}</h2>
</div>
<cc-error-notify></cc-error-notify>