<div class="row" [class.addMode]="addMode" cc-highlightable>
  <input info="add" type="checkbox" *ngIf="addMode && !focused" style="position: absolute;left:-1000px" (focus)="focus($event)" (blur)="blur($event)" [tabindex]="index * 2" />
  <div class="actions">
    <div class="action" *ngIf="!addMode || !adding">
    </div>
    <div class="action" *ngIf="!addMode">
      <button cc-focus highlight="true" (click)="delete()" [disabled]="editDisabled" [tabindex]="(index * 2) + 2" (focus)="focus($event)" (blur)="blur($event)">
        <div class="icon"><i class="icon-trash"></i></div>
        <span>Delete</span>
      </button>
    </div>
    <div class="action" [hidden]="!addMode || adding">
      <button #addButton=cc-focus cc-focus highlight="true" (click)="startAdd()" [tabindex]="(index * 2) + 2" (focus)="focus($event)" (blur)="blur($event)">
        <div class="icon"><i class="icon-add"></i></div>
        <span>Add</span>
      </button>  
    </div>
    <div class="action" *ngIf="addMode && adding">
      <button cc-focus highlight="true" (click)="completeAdd()" [tabindex]="(index * 2) + 2" (focus)="focus($event)" (blur)="blur($event)">
        <div class="icon"><i class="icon-ok"></i></div>
        <span>Save</span>
      </button>  
    </div>
    <div class="action" *ngIf="addMode && adding">
      <button cc-focus highlight="true" (click)="cancelAdd()" [tabindex]="(index * 2) + 2" (focus)="focus($event)" (blur)="blur($event)">
        <div class="icon"><i class="icon-cancel"></i></div>
        <span>Cancel</span>
      </button>  
    </div>
  </div>
  <div class="details" [hidden]="addMode && !adding">
    <cc-heading (focus)="focus($event)" (blur)="blur($event)" [addMode]="addMode" #productName [(value)]="product.name" [editTabindex]="(index * 2) + 1"></cc-heading>
    <div class="flex">
      <div class="field price-detail">
        <cc-product-price (focus)="focus($event)" (blur)="blur($event)" [addMode]="addMode" [(price)]="product.price" [(unitType)]="product.unitType" [editTabindex]="(index * 2) + 1"></cc-product-price>
      </div>  
      <div class="field unit-type-detail" *ngIf="product.unitType == 'perKg'">
        <cc-product-unit-quantity (focus)="focus($event)" (blur)="blur($event)" [addMode]="addMode" [(unitQuantity)]="product.unitQuantity" [editTabindex]="(index * 2) + 1"></cc-product-unit-quantity>
      </div>
      <div>&nbsp;</div>
    </div>
  </div>
</div>