<h2>Products</h2>

<div id="row-view" class="row-view" cc-active (activate)="focused = true" (deactivate)="focused = false" [class.focused]="focused">
  <button class="add-button" (click)="add.startAdd()" tabindex="1" cc-active cc-activate-on-focus cc-deactivate-on-blur>
    <div class="icon"><i class="icon-add"></i></div>
    <span>Add</span>
  </button>
  <cc-product *ngFor="let p of products; let i = index" [product]="p" [index]="i" (delete)="onDelete($event)" (update)="onUpdate($event)"></cc-product>
  <cc-product-add #add [showAddMessage]="!products.length" [loaded]="loaded" (add)="onAdd($event)" [index]="products.length"></cc-product-add>
</div>