<div class="row focused" *ngIf="adding">
  <div class="details product-add" [class.invalid]="!valid">
    <div class="product-name">
      <cc-validatable [valid]="!!product.name.length" message="Name should not be empty">
        <input #productName placeholder="New Product" type="text" [(ngModel)]="product.name" tabindex="1" />
      </cc-validatable>
    </div>
    <div style="margin: 5px 0">
      &pound;
      <cc-validatable [valid]="product.unitPrice.price > 0" message="Price should be a number greater than 0">
        <input type="text" #input class="input price" cc-numeric fixedDecimals="2" [(value)]="product.unitPrice.price" tabindex="1" />
      </cc-validatable>
      <select class="input" [(ngModel)]="product.unitPrice.unitType" tabindex="1">
        <option *ngFor="let ut of unitTypes" [ngValue]="ut.value">{{ ut.name }}</option>
      </select>
    </div>
  </div>
  <div class="actions">
    <button class="button-new button-new-right" (click)="completeAdd()" tabindex="1">
      <i class="icon-ok"></i>Save
    </button>  
    <button class="button-new button-new-right" (click)="cancelAdd()" tabindex="1">
      <i class="icon-cancel"></i>Cancel
    </button>  
  </div>
</div>