<div class="row" #active=cc-active cc-active [class.focused]="rowFocused" (activate)="rowFocused = true" (deactivate)="rowFocused = false">
  <div class="details">
    <cc-editable-header [(value)]="product.name" (valueChange)="onUpdate()"
                        [validators]="productNameValidators"
                        [messages]="{required: 'Product name is required'}">
    </cc-editable-header>
    <div class="flex">
      <div class="price-detail">
        <cc-product-price [(price)]="product.price" [(unitType)]="product.unitType" (update)="onUpdate()"></cc-product-price>
      </div>  
      <div></div>
    </div>
  </div>
  <div class="actions">
    <button class="button-new button-new-right" cc-active cc-activate-on-focus cc-deactivate-on-blur (click)="onDelete()" tabindex="1">
      <i class="icon-trash"></i>Delete
    </button>
  </div>
</div>