<div class="section-header">
  <a class="new right" (click)="add.startAdd()" tabindex="1"><i class="icon-add"></i>New product</a>
  <h2><i class="icon-carrot"></i>Products</h2>
</div>
<div class="loading-indicator" *ngIf="!loaded"><i class="icon-spin3 animate-spin"></i></div>
<p *ngIf="loaded && !products.length">There are no products yet.</p>
<div id="row-view" class="row-view" cc-active (activate)="focused = true" (deactivate)="focused = false" [class.focused]="focused">
  <cc-product-add #add [showAddMessage]="!products.length" [loaded]="loaded" (add)="onAdd($event)" [tabindex]="1"></cc-product-add>
  <cc-product *ngFor="let p of products; let i = index" [product]="p" [tabindex]="i + 1" (delete)="onDelete($event)" (update)="onUpdate($event)"></cc-product>
</div>