<div class="row" #active=cc-active cc-active [class.focused]="rowFocused" (activate)="rowFocused = true" (deactivate)="rowFocused = false">
  <div class="details">
    <cc-editable-heading key="productName-{{product.id}}"
                         [(value)]="product.name" (valueChange)="onUpdate()"
                         [validators]="productNameValidators"
                         [messages]="{required: 'Product name is required'}">
    </cc-editable-heading>
    <div class="flex">
      <div class="price-detail">
        <cc-editable-unit-price key="productPrice-{{product.id}}"
                                [(value)]="product.unitPrice"
                                (valueChange)="onUpdate()"
                                [validators]="productUnitPriceValidators"
                                [messages]="{required: 'Product price is required', notGreaterThanZero: 'Product price must be greater than zero.', notNumeric: 'Product price must be a number.'}">
        </cc-editable-unit-price>
      </div>  
      <div></div>
    </div>
  </div>
  <div class="actions">
    <button class="button-new button-new-right" cc-active cc-activate-on-focus cc-deactivate-on-blur (click)="onDelete()" tabindex="1">
      <i class="icon-trash"></i>Delete
    </button>
  </div>
</div>