<div class="actions">
  <div class="action">
    <button (click)="edit()" [disabled]="editDisabled">
      <div class="icon"><i class="icon-edit"></i></div>
      <span>Edit</span>
    </button>
  </div>
  <div class="action">
    <button (click)="delete()" [disabled]="editDisabled">
      <div class="icon"><i class="icon-trash"></i></div>
      <span>Delete</span>
    </button>
  </div>
</div>
<div class="details">
  <cc-heading [value]="product.name"></cc-heading>
  <div class="flex">
    <div class="field price-detail">
      <cc-product-price [price]="product.price" [unitType]="product.unitType"></cc-product-price>
    </div>
    <div class="field unit-type-detail" *ngIf="product.unitType == 'perKg'">
      <cc-product-unit-quantity [unitQuantity]="product.unitQuantity"></cc-product-unit-quantity>
    </div>
    <div>&nbsp;</div>
  </div>
</div>