<div class="row" #active=cc-active cc-active [class.focused]="rowFocused" (activate)="onActivate()" (deactivate)="onDeactivate()">
  <div class="actions">
    <div class="action" [hidden]="adding || !loaded">
      <button #add cc-active cc-activate-on-focus (click)="startAdd()" [tabindex]="(index * 2) + 2">
        <div class="icon"><i class="icon-add"></i></div>
        <span>Add</span>
      </button>  
    </div>
    <div class="action" *ngIf="adding">
      <button cc-active cc-activate-on-focus (click)="completeAdd()" [tabindex]="(index * 2) + 2">
        <div class="icon"><i class="icon-ok"></i></div>
        <span>Save</span>
      </button>  
    </div>
    <div class="action" *ngIf="adding">
      <button cc-active cc-activate-on-focus (click)="cancelAdd()" [tabindex]="(index * 2) + 2">
        <div class="icon"><i class="icon-cancel"></i></div>
        <span>Cancel</span>
      </button>  
    </div>
  </div>
  <p *ngIf="loaded && showAddMessage && !adding">There are no products yet.</p>
  <p *ngIf="!loaded"><i class="icon-spin3 animate-spin"></i> Loading products...</p>
  <div class="details product-add" [hidden]="!adding" [class.invalid]="!valid">
    <cc-validatable [valid]="!!product.name.length" message="Name should not be empty">
      <input #productName placeholder="New Product" type="text" class="product-name" [(ngModel)]="product.name" [tabindex]="(index * 2) + 1" cc-active cc-activate-on-focus />
    </cc-validatable>
  </div>
</div>