@import "variables";
@import "mixins";

.main-header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 10px;
  padding-left: 0;
  height: 77px;
  background: @header;

  h1, h2, h3, a {
    color: white;
  }

  a {
    text-decoration: none;

    svg {
      width: 50px;
      height: 50px;
    }
  }

  & > a {
    display: block;
    width: 240px;
  }

  h1 {
    position: absolute;
    left: 5px;
    top: 10px;
    bottom: 0;
    margin: 0;
    padding: 0;
    display:block;
    text-align: left;
    background-image: url(../img/logo-new-carrot.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 5px 3px;
    //text-shadow: darken(@header, 20%) 0px 0px 5px;
    padding-left:54px;
    padding-top: 11px;
    color: lighten(desaturate(@header, 25%), 55%);
    
    span {
      color:lighten(@carrot, 10%);
      font-weight: 400;
    }

    &:hover {
      background-image: url(../img/logo-new-carrot-lighter.svg);
      color: white;
      span {
        color: lighten(@carrot, 14%);
      }
    }
  }
    @col: lighten(desaturate(@header, 10%), 50%);

  nav {
    position: absolute;
    left: 265px;
    right: 100px;
    top: 31px;
    text-align: center;

    > span {
      display: inline-block;
    }

    cc-nav-bar-link {
      padding-top: 12px;
      padding-left: 12px;
      padding-right: 12px;
      display: inline-block;
      height: 34px;

      a {
        margin-right: 0;
        color: @col;

        i {
          margin-top: -1px;
          background: @header;
          &::before {
            color: @col;
          }
          &::after {
            border-color: @col;
          }
        }

        &:hover {
          color: white;

          i {
            background: white;
            &::before {
              color: @header;
            }
            &::after {
              border: @header;
            }
          } 
        }
      }

      &:first-of-type {
        margin-left: 0;
      }
      
      &.current {
        border: 1px solid darken(@header, 5%);
        background: darken(@header, 2%);
        border-radius: 2px;
         a {
          color: white;

          i {
            background: white;
            &::before {
              color: @header;
            }
            &::after {
              border: @header;
            }
          } 
        }
      }
    }
  }

  .logout {
    position: absolute;
    right: 5px;
    top: 20px;
    color: @col;

    i {
      margin-top: -1px;
      background: @header;
      &::before {
        color: @col;
      }
      &::after {
        border-color: @col;
      }
    }

    &:hover {
      color: white;

      i {
        background: white;
        &::before {
          color: @header;
        }
        &::after {
          border: @header;
        }
      } 
    }
  }
}

.section-header {
  position: fixed;
  z-index: 9999;
  top: 77px;
  width: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.3);
  background: #eee;
  @col: #444;
  background: @col;
  padding: 10px 10px;
  //padding-left: 15px;
  
  h2 {
    color: #ddd;
    & > a {
      color: #ddd;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
    margin: 0;
    padding: 0;
    //position: relative;

    i {
      margin-right: 10px;
      border-radius: 32px;
      height: 32px;
      width: 32px;
      display: inline-block;
      border: 1px solid #fff;
      vertical-align: top;

      &::before {
        margin: 0;
        font-size: 20px;
        line-height: 20px; 
        display: block;
        margin-top: 6px;
        margin-left: 5px;
      }
    }
  }

  a.new {
    float: right;
    margin-top: 11px;
    margin-right: 5px;
    margin-left: 10px;
    color: #ddd;

    i {
      background: #ddd;
      background: @col;
      &::before {
        color: #444;
        color: #ddd;
      }
      &::after {
        border-color: #ddd;
      }
    }

    &:hover, &.selected {
      color: @carrot;
      
      i {
        background: @carrot;
        &::before {
          color: @col;////#444;
        }
        &::after {
          //border-color: @carrot;
          border: none;
        }
      } 
    }
  }
  // &::after {
  //   content: '.';
  //   color: transparent;
  //   background: white;
  //   display: block;
  //   position: fixed;
  //   height: 10px;
  //   width: 100%;
  //   top: 125px;
  //   left: 0;
  //   z-index: 1;
  // }
}
