.r {
  border: 1px solid red;
}
.main-header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 10px;
  padding-left: 0;
  height: 77px;
  background: #579532;
}
.main-header h1,
.main-header h2,
.main-header h3,
.main-header a {
  color: white;
}
.main-header a.heading {
  display: block;
  width: 255px;
  height: 60px;
  text-decoration: none;
}
.main-header a.heading h1 {
  position: absolute;
  left: 5px;
  top: 10px;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  background-image: url(../img/logo-new-carrot.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 5px 3px;
  padding-left: 54px;
  padding-top: 11px;
  color: #eff4ec;
}
.main-header a.heading h1 span {
  color: #ffa850;
  font-weight: 400;
}
.main-header a.heading:hover h1,
.main-header a.heading:focus h1 {
  background-image: url(../img/logo-new-carrot-lighter.svg);
  color: white;
}
.main-header a.heading:hover h1 span,
.main-header a.heading:focus h1 span {
  color: #ffb264;
}
.main-header .button-new {
  color: #e0eed8;
  margin-right: 0;
}
.main-header .button-new::before {
  border-color: #e0eed8;
}
.main-header .button-new i {
  background-color: #579532;
  color: #e0eed8;
}
.main-header .button-new i {
  box-shadow: #579532 0 2px 5px 0 inset;
}
.main-header .button-new:hover,
.main-header .button-new:focus {
  color: white;
}
.main-header .button-new:hover::before,
.main-header .button-new:focus::before {
  border-color: white;
}
.main-header .button-new:hover i,
.main-header .button-new:focus i {
  background-color: white;
  color: #579532;
}
.main-header .button-new:hover i,
.main-header .button-new:focus i {
  box-shadow: white 0 2px 5px 0 inset;
}
.main-header nav {
  position: absolute;
  left: 265px;
  right: 100px;
  top: 31px;
  text-align: center;
}
.main-header nav > span {
  display: inline-block;
}
.main-header nav cc-nav-bar-link {
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  display: inline-block;
  height: 34px;
  border: 1px solid #579532;
}
.main-header nav cc-nav-bar-link:first-of-type {
  margin-left: 0;
}
.main-header nav cc-nav-bar-link.current {
  border: 1px solid #4c822c;
  background: #538d2f;
  border-radius: 2px;
}
.main-header nav cc-nav-bar-link.current .button-new {
  color: white;
}
.main-header nav cc-nav-bar-link.current .button-new::before {
  border-color: #579532;
}
.main-header nav cc-nav-bar-link.current .button-new i {
  background-color: white;
  color: #579532;
}
.main-header nav cc-nav-bar-link.current .button-new i {
  box-shadow: white 0 2px 5px 0 inset;
}
.main-header nav cc-nav-bar-link.current .button-new:hover,
.main-header nav cc-nav-bar-link.current .button-new:focus {
  color: white;
}
.main-header nav cc-nav-bar-link.current .button-new:hover::before,
.main-header nav cc-nav-bar-link.current .button-new:focus::before {
  border-color: white;
}
.main-header nav cc-nav-bar-link.current .button-new:hover i,
.main-header nav cc-nav-bar-link.current .button-new:focus i {
  background-color: white;
  color: #579532;
}
.main-header nav cc-nav-bar-link.current .button-new:hover i,
.main-header nav cc-nav-bar-link.current .button-new:focus i {
  box-shadow: white 0 2px 5px 0 inset;
}
.main-header .logout {
  position: absolute;
  right: 10px;
  top: 15px;
  color: #e0eed8;
}
.page {
  padding-top: 131px;
}
.section-header {
  position: fixed;
  z-index: 9999;
  top: 77px;
  width: 100%;
  border-top: 1px solid #acc0a0;
  border-bottom: 1px solid #fff;
  box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.3);
  background: #eee;
  background: #444;
  padding: 10px;
}
.section-header h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ddd;
  width: 100%;
  height: 32px;
  margin: 0;
  padding: 0;
}
.section-header h2 > a {
  color: #ddd;
  text-decoration: none;
}
.section-header h2 > a:hover {
  color: white;
}
.section-header h2 i {
  margin-right: 10px;
  border-radius: 32px;
  height: 32px;
  width: 32px;
  display: inline-block;
  border: 1px solid #fff;
  vertical-align: top;
}
.section-header h2 i::before {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  display: block;
  margin-top: 6px;
  margin-left: 5px;
}
.section-header h2 i.icon-carrot::before {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 6px;
}
.section-header h2 i.icon-box::before {
  margin-top: 5px;
  margin-left: 6px;
}
.section-header h2 i.icon-person::before {
  font-size: 17px;
  margin-top: 4px;
  margin-left: 6px;
}
.section-header .buttons {
  box-shadow: rgba(68, 68, 68, 0.9) -20px 0 10px 5px;
  position: absolute;
  right: 10px;
  height: 33px;
  background: #444;
}
.section-header .buttons .button-new {
  color: #ddd;
  float: left;
  margin-top: 11px;
  margin-right: 20px;
}
.section-header .buttons .button-new::before {
  border-color: #ddd;
}
.section-header .buttons .button-new i {
  background-color: #444;
  color: #ddd;
}
.section-header .buttons .button-new i {
  box-shadow: #444 0 2px 5px 0 inset;
}
.section-header .buttons .button-new:hover,
.section-header .buttons .button-new:focus {
  color: #ff8f1d;
}
.section-header .buttons .button-new:hover::before,
.section-header .buttons .button-new:focus::before {
  border-color: #ff8f1d;
}
.section-header .buttons .button-new:hover i,
.section-header .buttons .button-new:focus i {
  background-color: #ff8f1d;
  color: #444;
}
.section-header .buttons .button-new:hover i,
.section-header .buttons .button-new:focus i {
  box-shadow: #ff8f1d 0 2px 5px 0 inset;
}
.section-header .buttons .button-new.selected {
  color: #ff8f1d;
}
.section-header .buttons .button-new.selected::before {
  border-color: #444;
}
.section-header .buttons .button-new.selected i {
  background-color: #ff8f1d;
  color: #444;
}
.section-header .buttons .button-new.selected i {
  box-shadow: #ff8f1d 0 2px 5px 0 inset;
}
.section-header .buttons .button-new.selected:hover,
.section-header .buttons .button-new.selected:focus {
  color: #ff8f1d;
}
.section-header .buttons .button-new.selected:hover::before,
.section-header .buttons .button-new.selected:focus::before {
  border-color: #ff8f1d;
}
.section-header .buttons .button-new.selected:hover i,
.section-header .buttons .button-new.selected:focus i {
  background-color: #ff8f1d;
  color: #444;
}
.section-header .buttons .button-new.selected:hover i,
.section-header .buttons .button-new.selected:focus i {
  box-shadow: #ff8f1d 0 2px 5px 0 inset;
}
.sub-section-header {
  padding: 10px 15px 10px 10px;
  margin-bottom: -10px;
}
.sub-section-header h3 {
  margin-bottom: 0;
}
.sub-section-header h3 i {
  margin-right: 10px;
  border-radius: 32px;
  height: 32px;
  width: 32px;
  display: inline-block;
  border: 1px solid #777;
  vertical-align: top;
  position: relative;
  top: -5px;
}
.sub-section-header h3 i::before {
  color: #777;
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  display: block;
  margin-top: 6px;
  margin-left: 5px;
}
.sub-section-header h3 i.icon-truck::before {
  margin-top: 5px;
  margin-left: 4px;
}
.sub-section-header h3 i.icon-clipboard::before {
  margin-top: 5px;
  margin-left: 6px;
}
.sub-section-header .buttons {
  position: absolute;
  right: 0;
  margin-top: 5px;
}
.sub-section-header .buttons .button-new {
  float: left;
  margin-right: 10px;
}
.sub-section-header .buttons .button-new.selected {
  color: #ff8f1d;
}
.sub-section-header .buttons .button-new.selected::before {
  border-color: transparent;
}
.sub-section-header .buttons .button-new.selected i {
  background-color: #ff8f1d;
  color: #fff;
}
.sub-section-header .buttons .button-new:hover,
.sub-section-header .buttons .button-new:focus {
  color: #ff8f1d;
}
.sub-section-header .buttons .button-new:hover::before,
.sub-section-header .buttons .button-new:focus::before {
  border-color: #ff8f1d;
}
.sub-section-header .buttons .button-new:hover i,
.sub-section-header .buttons .button-new:focus i {
  background-color: #ff8f1d;
  color: #fff;
}
@media only screen and (max-width: 790px) {
  .main-header nav {
    top: 4px;
  }
  .main-header nav span cc-nav-bar-link {
    width: calc(50% - 2px);
    text-align: left;
  }
}
@media only screen and (max-width: 620px) {
  .main-header {
    height: 110px;
  }
  .main-header a.heading {
    position: static;
    margin: 0 auto;
  }
  .main-header a.heading h1 {
    position: static;
    height: 60px;
  }
  .main-header nav {
    width: 100%;
    top: 70px;
    left: 0px;
    text-align: center;
  }
  .main-header nav span cc-nav-bar-link {
    width: inherit;
  }
  .section-header {
    top: 110px;
    height: 90px;
  }
  .section-header .buttons {
    top: 50px;
    box-shadow: none;
  }
  .page {
    padding-top: 200px;
  }
}
@media only screen and (max-width: 425px) {
  .main-header {
    height: 143px;
  }
  .main-header a.heading {
    position: absolute;
    margin: 0;
    top: 0;
  }
  .main-header a.heading h1 {
    position: absolute;
  }
  .main-header nav span {
    display: block;
    margin: 0 5px;
  }
  .main-header nav span cc-nav-bar-link {
    width: calc(50% - 2px);
    padding-top: 11px;
    padding-left: 4px;
    padding-right: 4px;
  }
  .main-header nav span cc-nav-bar-link:nth-child(2n) .button-new {
    padding-left: 0;
    padding-right: 29px;
    text-align: right;
  }
  .main-header nav span cc-nav-bar-link:nth-child(2n) .button-new::before {
    left: inherit;
    right: 0;
  }
  .main-header nav span cc-nav-bar-link:nth-child(2n) .button-new i {
    left: inherit;
    right: 2px;
  }
  .section-header {
    top: 143px;
  }
  .page {
    padding-top: 233px;
  }
}
@media only screen and (min-width: 0px) {
  .section-header .buttons .button-new {
    margin-right: 0;
    margin-left: 20px;
    padding-left: 0;
    padding-right: 29px;
  }
  .section-header .buttons .button-new::before {
    left: inherit;
    right: 0;
  }
  .section-header .buttons .button-new i {
    left: inherit;
    right: 2px;
  }
}
