.r {
  border: 1px solid red;
}
.home {
  background: #579532;
  box-shadow: none;
  min-width: 570px;
  padding-top: 120px;
}
.home .header {
  top: 0;
  box-shadow: none;
  border: none;
  min-width: 570px;
  width: 100%;
  margin: 0 auto;
}
.home .header .header-border {
  display: none;
}
.home .header .logout-button {
  position: absolute;
  top: 50px;
  right: 10px;
  display: block;
}
@media only screen and (min-width : 780px) {
  .home .header .logout-button {
    top: 50px;
    right: 10px;
    border: none;
    border-radius: 2px;
    padding: 0;
    display: block;
    position: relative;
    width: 66px;
    text-decoration: none;
    text-align: start;
    padding: none;
    border-width: 0;
    background: none;
    color: #c4dfb4;
    height: 90px;
    border-radius: 4px;
    position: absolute;
  }
  .home .header .logout-button .icon {
    border-width: 1px;
    border-style: solid;
    border-radius: 46px;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 46px;
    width: 46px;
    padding: 2px 0 0 2px;
  }
  .home .header .logout-button .icon i {
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    font-size: 200%;
    display: block;
  }
  .home .header .logout-button span {
    position: absolute;
    top: 61px;
    width: 100%;
    font-size: 75%;
    text-transform: uppercase;
    text-align: center;
    line-height: 10px;
    display: block;
    width: 46 px;
  }
  .home .header .logout-button:focus {
    outline: 0;
  }
  .home .header .logout-button,
  .home .header .logout-button:active {
    cursor: pointer;
  }
  .home .header .logout-button[disabled],
  .home .header .logout-button[disabled]:hover,
  .home .header .logout-button.disabled,
  .home .header .logout-button.disabled:hover {
    cursor: default;
  }
  .home .header .logout-button[disabled],
  .home .header .logout-button[disabled]:hover,
  .home .header .logout-button.disabled,
  .home .header .logout-button.disabled:hover {
    background: none;
    color: #ccc;
    cursor: default;
  }
  .home .header .logout-button[disabled] .icon,
  .home .header .logout-button[disabled]:hover .icon,
  .home .header .logout-button.disabled .icon,
  .home .header .logout-button.disabled:hover .icon {
    background: none;
    border-color: #ccc;
  }
  .home .header .logout-button[disabled] .icon i,
  .home .header .logout-button[disabled]:hover .icon i,
  .home .header .logout-button.disabled .icon i,
  .home .header .logout-button.disabled:hover .icon i {
    background: none;
    border-color: #ccc;
    box-shadow: none;
  }
  .home .header .logout-button[disabled] span,
  .home .header .logout-button[disabled]:hover span,
  .home .header .logout-button.disabled span,
  .home .header .logout-button.disabled:hover span {
    color: #ccc;
  }
  .home .header .logout-button .icon {
    background: #c4dfb4;
    border-color: #c4dfb4;
  }
  .home .header .logout-button .icon i {
    border-color: #72a852;
    background: none;
  }
  .home .header .logout-button span {
    color: #c4dfb4;
  }
  .home .header .logout-button .icon i {
    background: #6ca848;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
  }
  .home .header .logout-button[disabled] .icon i,
  .home .header .logout-button[disabled]:hover .icon i,
  .home .header .logout-button.disabled .icon i,
  .home .header .logout-button.disabled:hover .icon i {
    box-shadow: none;
  }
  .home .header .logout-button .icon i {
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
  }
  .home .header .logout-button:hover {
    background: #548f30;
    color: #e2e9dd;
  }
  .home .header .logout-button:hover .icon {
    background: #e2e9dd;
    border-color: #e2e9dd;
  }
  .home .header .logout-button:hover .icon i {
    border-color: #72a852;
    background: #8dbb72;
  }
  .home .header .logout-button:hover span {
    color: #e2e9dd;
  }
  .home .header .logout-button:hover .icon i {
    background: #7fb261;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
  }
  .home .header .logout-button:hover[disabled] .icon i,
  .home .header .logout-button:hover[disabled]:hover .icon i,
  .home .header .logout-button:hover.disabled .icon i,
  .home .header .logout-button:hover.disabled:hover .icon i {
    box-shadow: none;
  }
  .home .header .logout-button:hover .icon i {
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
  }
  .home .header .logout-button.selected {
    background: #508a2e;
    color: #fff;
  }
  .home .header .logout-button.selected .icon {
    background: #fff;
    border-color: #fff;
  }
  .home .header .logout-button.selected .icon i {
    border-color: #72a852;
    background: #8dbb72;
  }
  .home .header .logout-button.selected span {
    color: #fff;
  }
  .home .header .logout-button.selected .icon i {
    background: #7fb261;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
  }
  .home .header .logout-button.selected[disabled] .icon i,
  .home .header .logout-button.selected[disabled]:hover .icon i,
  .home .header .logout-button.selected.disabled .icon i,
  .home .header .logout-button.selected.disabled:hover .icon i {
    box-shadow: none;
  }
  .home .header .logout-button .icon {
    margin-top: 2px;
  }
  .home .header .logout-button span {
    margin-top: 5px;
  }
  .home .header .logout-button i {
    padding-top: 7px;
  }
}
.home .header nav {
  display: none;
}
.home .header h1 {
  display: block;
  margin-top: 30px;
  margin-bottom: 0;
}
@media only screen and (min-width : 780px) {
  .home .header h1 {
    margin-left: auto;
    margin-right: auto;
  }
}
.home p,
.home label {
  color: #c4dfb4;
}
.home form {
  margin: 0 auto;
  display: block;
  overflow: hidden;
  position: relative;
  width: 438px;
}
.home form p {
  text-align: left;
  margin-top: 40px;
  margin-left: 10px;
  display: block;
  float: left;
  width: 330px;
  margin-bottom: 10px;
}
.home .form-row {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.home .form-validation-message {
  color: #ffa850;
  margin-bottom: 10px;
}
.home label {
  display: block;
  float: left;
  font-size: 110%;
  font-weight: 300;
  width: 85px;
  height: 30px;
  padding-top: 5px;
}
.home input[type="text"],
.home input[type="password"] {
  float: left;
  width: 250px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #548f30;
}
.home input[type="text"]:focus,
.home input[type="password"]:focus {
  outline: 0;
}
.home button {
  float: left;
  margin-top: -40px;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  text-align: start;
  padding: none;
  border-width: 0;
  background: none;
  color: #c4dfb4;
  height: 90px;
  border-radius: 4px;
}
.home button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.home button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.home button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.home button:focus {
  outline: 0;
}
.home button,
.home button:active {
  cursor: pointer;
}
.home button[disabled],
.home button[disabled]:hover,
.home button.disabled,
.home button.disabled:hover {
  cursor: default;
}
.home button[disabled],
.home button[disabled]:hover,
.home button.disabled,
.home button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.home button[disabled] .icon,
.home button[disabled]:hover .icon,
.home button.disabled .icon,
.home button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.home button[disabled] .icon i,
.home button[disabled]:hover .icon i,
.home button.disabled .icon i,
.home button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.home button[disabled] span,
.home button[disabled]:hover span,
.home button.disabled span,
.home button.disabled:hover span {
  color: #ccc;
}
.home button .icon {
  background: #c4dfb4;
  border-color: #c4dfb4;
}
.home button .icon i {
  border-color: #72a852;
  background: none;
}
.home button span {
  color: #c4dfb4;
}
.home button .icon i {
  background: #6ca848;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home button[disabled] .icon i,
.home button[disabled]:hover .icon i,
.home button.disabled .icon i,
.home button.disabled:hover .icon i {
  box-shadow: none;
}
.home button .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home button:hover {
  background: #548f30;
  color: #e2e9dd;
}
.home button:hover .icon {
  background: #e2e9dd;
  border-color: #e2e9dd;
}
.home button:hover .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home button:hover span {
  color: #e2e9dd;
}
.home button:hover .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home button:hover[disabled] .icon i,
.home button:hover[disabled]:hover .icon i,
.home button:hover.disabled .icon i,
.home button:hover.disabled:hover .icon i {
  box-shadow: none;
}
.home button:hover .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home button.selected {
  background: #508a2e;
  color: #fff;
}
.home button.selected .icon {
  background: #fff;
  border-color: #fff;
}
.home button.selected .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home button.selected span {
  color: #fff;
}
.home button.selected .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home button.selected[disabled] .icon i,
.home button.selected[disabled]:hover .icon i,
.home button.selected.disabled .icon i,
.home button.selected.disabled:hover .icon i {
  box-shadow: none;
}
.home button .icon {
  margin-top: 2px;
}
.home button span {
  margin-top: 5px;
}
.home p {
  text-align: center;
  font-weight: 300;
  font-size: 150%;
}
.home .look-around {
  clear: left;
  padding-top: 30px;
}
.home .look-around button {
  margin-left: 15px;
  margin-top: 18px;
}
.home .sections {
  width: 570px;
  margin: 0 auto;
}
.home ul {
  margin-top: 20px;
}
.home ul::after {
  display: block;
  clear: both;
  content: '.';
  height: 0px;
}
.home ul li {
  float: left;
}
.home ul li:nth-child(1) {
  margin-left: 0px;
}
.home ul li:nth-child(3) {
  margin-right: 0px;
}
.home ul li:nth-child(4) {
  margin-left: 90px;
}
.home ul li a {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  text-align: start;
  padding: none;
  border-width: 0;
  background: none;
  color: #c4dfb4;
  font-size: 120%;
  height: 180px;
  width: 180px;
  border-radius: 10px;
}
.home ul li a .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.home ul li a .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.home ul li a span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.home ul li a:focus {
  outline: 0;
}
.home ul li a,
.home ul li a:active {
  cursor: pointer;
}
.home ul li a[disabled],
.home ul li a[disabled]:hover,
.home ul li a.disabled,
.home ul li a.disabled:hover {
  cursor: default;
}
.home ul li a[disabled],
.home ul li a[disabled]:hover,
.home ul li a.disabled,
.home ul li a.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.home ul li a[disabled] .icon,
.home ul li a[disabled]:hover .icon,
.home ul li a.disabled .icon,
.home ul li a.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.home ul li a[disabled] .icon i,
.home ul li a[disabled]:hover .icon i,
.home ul li a.disabled .icon i,
.home ul li a.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.home ul li a[disabled] span,
.home ul li a[disabled]:hover span,
.home ul li a.disabled span,
.home ul li a.disabled:hover span {
  color: #ccc;
}
.home ul li a .icon {
  background: #c4dfb4;
  border-color: #c4dfb4;
}
.home ul li a .icon i {
  border-color: #72a852;
  background: none;
}
.home ul li a span {
  color: #c4dfb4;
}
.home ul li a .icon i {
  background: #6ca848;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home ul li a[disabled] .icon i,
.home ul li a[disabled]:hover .icon i,
.home ul li a.disabled .icon i,
.home ul li a.disabled:hover .icon i {
  box-shadow: none;
}
.home ul li a .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home ul li a:hover {
  background: #548f30;
  color: #e2e9dd;
}
.home ul li a:hover .icon {
  background: #e2e9dd;
  border-color: #e2e9dd;
}
.home ul li a:hover .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home ul li a:hover span {
  color: #e2e9dd;
}
.home ul li a:hover .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home ul li a:hover[disabled] .icon i,
.home ul li a:hover[disabled]:hover .icon i,
.home ul li a:hover.disabled .icon i,
.home ul li a:hover.disabled:hover .icon i {
  box-shadow: none;
}
.home ul li a:hover .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home ul li a.selected {
  background: #508a2e;
  color: #fff;
}
.home ul li a.selected .icon {
  background: #fff;
  border-color: #fff;
}
.home ul li a.selected .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home ul li a.selected span {
  color: #fff;
}
.home ul li a.selected .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home ul li a.selected[disabled] .icon i,
.home ul li a.selected[disabled]:hover .icon i,
.home ul li a.selected.disabled .icon i,
.home ul li a.selected.disabled:hover .icon i {
  box-shadow: none;
}
.home ul li a .icon {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  top: 20px;
  left: 40px;
  padding: 5px 0 0 5px;
}
.home ul li a .icon i {
  border-radius: 88px;
  height: 88px;
  width: 88px;
  padding-top: 20px;
  padding-left: 15px;
  font-size: 200%;
}
.home ul li a span {
  top: 140px;
  font-size: 15px;
  line-height: 15px;
}
