@import "variables";
@import "mixins";

.home {
  background: @header;
  padding-top: 120px;

  .button-new {
    .buttonNewColors(@col; @col; @header; @col);

    &:hover, &:focus {
      .buttonNewColors(white; @header; white; white);
    }
  }

  a.heading {
    display: block;
    width: 240px;
    text-decoration: none;

    h1 {
      position: absolute;
      left: 5px;
      top: 10px;
      bottom: 0;
      margin: 0;
      padding: 0;
      display:block;
      text-align: left;
      background-image: url(../img/logo-new-carrot.svg);
      background-size: 40px;
      background-repeat: no-repeat;
      background-position: 5px 3px;
      padding-left:54px;
      padding-top: 11px;
      color: lighten(desaturate(@header, 25%), 55%);
      
      span {
        color:lighten(@carrot, 10%);
        font-weight: 400;
      }
    }

    &:hover, &:focus {
      h1 {
        background-image: url(../img/logo-new-carrot-lighter.svg);
        color: white;
        span {
          color: lighten(@carrot, 14%);
        }
      }
    }
  }

  h1 {
    cursor: default;
    position: absolute;
    display: block;
    color: white;
    @width: 240px;
    width: @width;
    left: calc(~"50% - "(@width / 2));
    top: 10px;
    bottom: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    background-image: url(../img/logo-new-carrot-lighter.svg);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 5px 3px;
    padding-left:54px;
    padding-top: 11px;

    span {
      color: lighten(@carrot, 14%);
      font-weight: 400;
    }
  }

  @col: lighten(desaturate(@header, 10%), 50%);

  .logout {
    position: absolute;
    right: 10px;
    top: 15px;
  }

  p, label {
    color: lighten(desaturate(@header, 10%), 50%);
  }

  p {
    font-weight:300;
  }

  .home-sections {
    position: absolute;
    @sectionWidth: 250px;
    @sectionHeight: 200px;
    @margin: 50px;
    @sectionsPerLine: 2;
    @width: (@sectionWidth * @sectionsPerLine) + (@margin * (@sectionsPerLine - 1));
    width: @width;
    left: calc(~"50% - "(@width / 2));

    .home-section {
      text-decoration: none;
      position: relative;
      @background: darken(@header, 5%); 
      @border: desaturate(lighten(@header, 10%), 10%);
              @border: darken(@header, 10%);
        @background: darken(@header, 5%);

      float: left;
      width: @sectionWidth;
      height: @sectionHeight;
      border-radius: 10px;
      border: 1px solid @border;
      background: @background;
      margin-left: @margin;
      margin-top: @margin;

      &:nth-child(@{sectionsPerLine}n + 1) {
        margin-left: 0;
      }

      .remove-first-children-top-margins(@n, @i: 1) when (@i =< @n) {
        &:nth-child(@{i}) {
          margin-top: 0;
        }
        .remove-first-children-top-margins(@n, (@i + 1));
      }
      .remove-first-children-top-margins(@sectionsPerLine);

      text-align: center;

      i {
        margin-top: 20px;
        @outerSize: 50px;
        display: inline-block;
        @padding: 5px;
        @size: @outerSize - (@padding * 2);
        width: @size;
        height: @size;
        border-radius: @size;
        position: relative;

        &::after {
          display: block;
          border-radius: @outerSize;
          border: 1px solid @col;
          width: @outerSize;
          height: @outerSize;
          position: absolute;
          left: calc(~"50% - "@outerSize / 2);
          top: calc(~"50% - "@outerSize / 2);
          content: '.';
          color: transparent;
        }

        &::before {
          color: @col;
          margin:0;
          @size: 25px;
          width: @size;
          height: @size;
          font-size: @size;
          line-height: @size;
          position: absolute;
          top: calc(~"50% - "@size / 2);
          left: calc(~"50% - "@size / 2);
        }

        &.icon-box::before {
          margin-left: 1px;
        }

        &.icon-person::before {
          margin-left: -1px;
          margin-top: -2px;
        }

        &.icon-map-signs::before {
          margin-top: 1px;
        }
      }

      h2 {
        color: @col;
        text-transform: uppercase;
        font-size: 20px;
        margin-top: 17px;
      }

      p {
        font-size: 20px;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
      }

      &:hover, &:focus {
        @background: darken(@header, 8%);
        background: @background;
        border-color: darken(@header, 12%);
        
        h2 {
          color: white;
        }

        i {
          background: white;
          &::before {
            color: @background;
          }
          &::after {
            border-color: white;
          }
        }
      }
    }
  }

  form {
    margin: 0 auto;
    display:block;
    position:relative;
    width:438px;

    h2 {
      color: lighten(desaturate(@header, 10%), 50%);
      font-weight:300;
      font-size: 150%;
      text-align: left;
      margin-top:40px;
      margin-left:10px;
      display: block;
      margin-bottom:20px;
    }

    p {
      margin-left: 10px;
    }
  }

  .form-row {
    .boxProductClearFix;
    margin-top:10px;
    margin-left:10px;
  }

  .form-validation-message {
    color:#ffa850;
    margin-top: 10px;
    margin-bottom: 10px
  }

  label {
    display:block;
    float:left;
    font-size:110%;
    font-weight: 300;
    width: 85px;
    height:30px;
    padding-top:5px;
  }

  input[type="text"], input[type="password"] {
    float:left;
    width: 250px;
    height:30px;
    border-radius:3px;
    border: 1px solid darken(@header, 1.5%);
    &:focus {
      outline:0;
    }
  }
  
  .no-account {
    margin-top: 60px;
  }

  .login {
    position: relative;
    left: 365px;
    top: -20px;
  }

  .play {
    position: relative;
    left: 365px;
    top: -13px;
  }

  .error-notify {
     background: #E56B6B;
     margin-top: -40px;
  }
}