.r {
  border: 1px solid red;
}
.home {
  background: #579532;
  padding-top: 120px;
}
.home .button-new {
  color: #e0eed8;
}
.home .button-new::before {
  border-color: #e0eed8;
}
.home .button-new i {
  background-color: #579532;
  color: #e0eed8;
}
.home .button-new:hover,
.home .button-new:focus {
  color: white;
}
.home .button-new:hover::before,
.home .button-new:focus::before {
  border-color: white;
}
.home .button-new:hover i,
.home .button-new:focus i {
  background-color: white;
  color: #579532;
}
.home a.heading {
  display: block;
  width: 240px;
  text-decoration: none;
}
.home a.heading h1 {
  position: absolute;
  left: 5px;
  top: 10px;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-align: left;
  background-image: url(../img/logo-new-carrot.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 5px 3px;
  padding-left: 54px;
  padding-top: 11px;
  color: #eff4ec;
}
.home a.heading h1 span {
  color: #ffa850;
  font-weight: 400;
}
.home a.heading:hover h1,
.home a.heading:focus h1 {
  background-image: url(../img/logo-new-carrot-lighter.svg);
  color: white;
}
.home a.heading:hover h1 span,
.home a.heading:focus h1 span {
  color: #ffb264;
}
.home h1 {
  cursor: default;
  position: absolute;
  display: block;
  color: white;
  width: 240px;
  left: calc(50% -  120px);
  top: 10px;
  bottom: 0;
  margin: 0;
  padding: 0;
  text-align: left;
  background-image: url(../img/logo-new-carrot-lighter.svg);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 5px 3px;
  padding-left: 54px;
  padding-top: 11px;
}
.home h1 span {
  color: #ffb264;
  font-weight: 400;
}
.home .logout {
  position: absolute;
  right: 10px;
  top: 15px;
}
.home p,
.home label {
  color: #e0eed8;
}
.home p {
  font-weight: 300;
}
.home .home-sections {
  position: absolute;
  width: 550px;
  left: calc(50% -  275px);
}
.home .home-sections .home-section {
  text-decoration: none;
  position: relative;
  float: left;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  border: 1px solid #416f25;
  background: #4c822c;
  margin-left: 50px;
  margin-top: 50px;
  text-align: center;
}
.home .home-sections .home-section:nth-child(2n + 1) {
  margin-left: 0;
}
.home .home-sections .home-section:nth-child(1) {
  margin-top: 0;
}
.home .home-sections .home-section:nth-child(2) {
  margin-top: 0;
}
.home .home-sections .home-section i {
  margin-top: 20px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
}
.home .home-sections .home-section i::after {
  display: block;
  border-radius: 50px;
  border: 1px solid #e0eed8;
  width: 50px;
  height: 50px;
  position: absolute;
  left: calc(50% -  25px);
  top: calc(50% -  25px);
  content: '.';
  color: transparent;
}
.home .home-sections .home-section i::before {
  color: #e0eed8;
  margin: 0;
  width: 25px;
  height: 25px;
  font-size: 25px;
  line-height: 25px;
  position: absolute;
  top: calc(50% -  12.5px);
  left: calc(50% -  12.5px);
}
.home .home-sections .home-section i.icon-box::before {
  margin-left: 1px;
}
.home .home-sections .home-section i.icon-person::before {
  margin-left: -1px;
  margin-top: -2px;
}
.home .home-sections .home-section i.icon-map-signs::before {
  margin-top: 1px;
}
.home .home-sections .home-section h2 {
  color: #e0eed8;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 17px;
}
.home .home-sections .home-section p {
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}
.home .home-sections .home-section:hover,
.home .home-sections .home-section:focus {
  background: #457628;
  border-color: #3c6723;
}
.home .home-sections .home-section:hover h2,
.home .home-sections .home-section:focus h2 {
  color: white;
}
.home .home-sections .home-section:hover i,
.home .home-sections .home-section:focus i {
  background: white;
}
.home .home-sections .home-section:hover i::before,
.home .home-sections .home-section:focus i::before {
  color: #457628;
}
.home .home-sections .home-section:hover i::after,
.home .home-sections .home-section:focus i::after {
  border-color: white;
}
.home form {
  margin: 0 auto;
  display: block;
  position: relative;
  width: 438px;
}
.home form h2 {
  color: #e0eed8;
  font-weight: 300;
  font-size: 150%;
  text-align: left;
  margin-top: 40px;
  margin-left: 10px;
  display: block;
  margin-bottom: 20px;
}
.home form p {
  margin-left: 10px;
}
.home .form-row {
  margin-top: 10px;
  margin-left: 10px;
}
.home .form-row::after {
  display: block;
  clear: both;
  content: ' ';
  height: 0px;
}
.home .form-validation-message {
  color: #ffa850;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home label {
  display: block;
  float: left;
  font-size: 110%;
  font-weight: 300;
  width: 85px;
  height: 30px;
  padding-top: 5px;
}
.home input[type="text"],
.home input[type="password"] {
  float: left;
  width: 250px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #548f30;
}
.home input[type="text"]:focus,
.home input[type="password"]:focus {
  outline: 0;
}
.home .no-account {
  margin-top: 60px;
}
.home .login {
  position: relative;
  left: 365px;
  top: -20px;
}
.home .play {
  position: relative;
  left: 365px;
  top: -13px;
}
.home .error-notify {
  background: #E56B6B;
  margin-top: -40px;
}
@media only screen and (max-width: 580px) {
  .home .home-sections {
    width: 250px;
    left: calc(50% -  125px);
  }
  .home .home-sections .home-section {
    margin-left: 0;
    margin-top: 50px;
  }
  .home .home-sections .home-section:nth-child(2) {
    margin-top: 50px;
  }
  .home .home-sections .home-section:last-child {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .home .login,
  .home .play {
    left: 10px;
    top: 20px;
  }
}
