.r {
  border: 1px solid red;
}
.home {
  background: #579532;
  box-shadow: none;
  min-width: 570px;
  padding-top: 120px;
}
.home .header {
  top: 0;
  box-shadow: none;
  border: none;
  min-width: 570px;
  width: 100%;
  margin: 0 auto;
}
.home .header .header-border {
  display: none;
}
.home .header nav {
  display: none;
}
.home .header h1 {
  display: block;
  margin-top: 30px;
  margin-bottom: 0;
}
@media only screen and (min-width : 780px) {
  .home .header h1 {
    margin-left: auto;
    margin-right: auto;
  }
}
.home p,
.home label {
  color: #c4dfb4;
}
.home form {
  margin: 0 auto;
  display: block;
  overflow: hidden;
  position: relative;
  width: 438px;
}
.home form p {
  text-align: left;
  margin-top: 40px;
  margin-left: 10px;
  display: block;
  float: left;
  width: 330px;
  margin-bottom: 10px;
}
.home .form-row {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.home .form-validation-message {
  color: #ffa850;
  margin-top: 10px;
  margin-bottom: 10px;
}
.home label {
  display: block;
  float: left;
  font-size: 110%;
  font-weight: 300;
  width: 85px;
  height: 30px;
  padding-top: 5px;
}
.home input[type="text"],
.home input[type="password"] {
  float: left;
  width: 250px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #548f30;
}
.home input[type="text"]:focus,
.home input[type="password"]:focus {
  outline: 0;
}
.home p {
  text-align: center;
  font-weight: 300;
  font-size: 150%;
}
.home .look-around {
  clear: left;
  padding-top: 30px;
}
.home .look-around button {
  margin-left: 15px;
  margin-top: 18px;
}
.home .sections {
  width: 570px;
  margin: 0 auto;
}
.home ul {
  margin-top: 20px;
}
.home ul::after {
  display: block;
  clear: both;
  content: '.';
  height: 0px;
}
.home ul li {
  float: left;
}
.home ul li:nth-child(1) {
  margin-left: 0px;
}
.home ul li:nth-child(3) {
  margin-right: 0px;
}
.home ul li:nth-child(4) {
  margin-left: 90px;
}
