@import "variables";
@import "mixins";

.home {
  background: @header;
  box-shadow: none;
  min-width: 570px;
  padding-top: 120px;
   
  .header {
    top: 0;
    box-shadow: none;
    border: none;
    min-width: 570px;
    width: 100%;

    .header-border {
      display: none;
    }
    
    .logout-button {
      position: absolute;
      top: 50px;
      right: 10px;
      display: block;

      @media @header-side-by-side {
        top: 50px;
        right: 10px;
        .button(solid; home; @header);
        position: absolute;

        i {
          padding-top:7px;
        }
      }
    }

    margin: 0 auto;

    nav {
      display: none;
    }
    
    h1 {
      display:block;
      margin-top:30px;
      margin-bottom: 0;
      
      @media @header-side-by-side { 
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  p, label{
    color: lighten(desaturate(@header, 10%), 40%);
  }

  form {
    margin: 0 auto;
    display:block;
    overflow: hidden;
    position:relative;
    width:438px;

    p {
      text-align: left;
      margin-top:40px;
      margin-left:10px;
      display: block;
      float:left;
      width:330px;
      margin-bottom:10px;
    }
  }

  .form-row {
    float:left;
    margin-top:10px;
    margin-left:10px;
  }

  .form-validation-message {
    color:#ffa850;
    margin-top: 10px;
    margin-bottom: 10px
  }

  label {
    display:block;
    float:left;
    font-size:110%;
    font-weight: 300;
    width: 85px;
    height:30px;
    padding-top:5px;
  }

  input[type="text"], input[type="password"] {
    float:left;
    width: 250px;
    height:30px;
    border-radius:3px;
    border: 1px solid darken(@header, 1.5%);
    &:focus{
      outline:0;
    }
  }

  button {
    float: left;
    display: block;
    margin-top:-40px;
    margin-left:10px;

    .button(solid; home; @header);
  }

  p {
    text-align: center;
    font-weight:300;
    font-size: 150%;
  }

  .look-around {
    clear: left;
    padding-top: 30px;

    button {
      margin-left:15px;
      margin-top:18px;
    }
  }

  .sections {
    width: 570px;
    margin: 0 auto;
  }

  ul {
    margin-top: 20px;

    &::after {
      display: block;
      clear: both;
      content: '.';
      height: 0px;
    }

    li {
      float: left;

      &:nth-child(1) {
        margin-left:0px;
      }
      
      &:nth-child(3) {
        margin-right:0px;
      }
    
      &:nth-child(4) {
        margin-left:90px;
      }

      a {
        .button(solid; large; @header);
      }
    }
  }
}