.icon {
  i {
    padding-left:3px;
    padding-top:6px;

    &.icon-edit {
      padding-left: 2px;
    }

    &.icon-add {
      padding-top:8px;
      padding-left: 2px;  
    }

    &.icon-ok {
      padding-top: 7px;
      padding-left: 2px;
    }

    &.icon-cancel {
      padding-top: 6px;
      padding-left: 2px;
    }

    &.icon-box {
      padding-top: 8px;
      padding-left: 5px;
    }

    &.icon-carrot {
      padding-top: 8px;
      padding-left: 4px;
    }

    &.icon-person {
      padding-top: 7px;
      padding-left: 3px;
    }

    &.icon-truck {
      padding-top: 7px;
      padding-left: 3px;
    }

    &.icon-flag {
      padding-top: 8px;
      padding-left: 4px;
    }

    &.icon-swing {
      padding-left: 0;
    }

    &.icon-mail-dark {
      &:before {
        font-size:85%;
      }
      padding-left: 4px;
      padding-top: 8px;    
    }

    &.icon-trash {
      padding-left:2px;
    }

    &.icon-logout {
      padding-left: 6px;
      padding-top: 9px;
    }
  }
}

.home {
  i.icon-login {
    padding-left: 0px;
    padding-top: 7px;
  }

  i.icon-logout {
    padding-left: 4px;
    padding-top: 7px;
  }

  ul {
    li {
      a {
        i.icon-box {
          padding-left: 18px;
          padding-top:24px;
        }

        i.icon-carrot {
          padding-left: 16px;
          padding-top:24px;
        }

        i.icon-person {
          padding-left: 16px;
          padding-top:22px;
        }

        i.icon-truck {
          padding-left: 15px;
          padding-top:24px;
        }

        i.icon-flag {
          padding-left: 16px;
          padding-top:25px;
        }
      }
    }
  }
}