.r {
  border: 1px solid red;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 380px;
  background: #eee;
}
.page {
  padding-top: 170px;
}
@media only screen and (min-width : 780px) {
  .page {
    padding-top: 131px;
  }
}
.page p {
  font-weight: 300;
  color: black;
  font-size: 110%;
}
.page p .icon-spin3 {
  margin-right: 5px;
  color: #555;
  font-size: 80%;
}
input[type="text"],
input[type="password"],
select,
textarea {
  color: #999;
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 100%;
  margin: 0;
}
select {
  padding: 1px 0px;
}
.price-detail {
  width: 100%;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
}
.group:after {
  content: ' ';
  display: table;
  clear: both;
}
.email-edit {
  background: #fff1dd;
  margin-left: 0px;
  padding: 10px;
  padding-left: 12px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 0;
}
.email-edit .removed {
  text-decoration: line-through;
}
.email-edit label {
  display: block;
  float: left;
  width: 70px;
}
.email-edit .field {
  float: left;
  width: calc(100% - 70px);
}
.email-edit .form-row {
  margin-bottom: 10px;
}
.email-edit .form-row:after {
  content: ' ';
  display: table;
  clear: both;
}
.email-edit input[type="text"],
.email-edit input[type="password"],
.email-edit textarea {
  position: relative;
  top: -5px;
}
.email-edit textarea {
  display: block;
  height: 200px;
  top: -4px;
}
.email-edit .recipients li {
  margin-bottom: 5px;
}
.email-edit .actions {
  padding-bottom: 20px;
  padding-top: 5px;
}
.email-edit .actions::after {
  display: block;
  clear: both;
  content: ' ';
  height: 0px;
}
.email-edit .actions .button-new {
  float: right;
  margin-left: 20px;
}
.email-edit.invalid .input-wrapper.invalid .icon-warning {
  top: -3px;
}
.email-edit.invalid .message .input-wrapper.invalid .icon-warning {
  top: -2px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #f8c77e;
  box-shadow: #f8c77e 0px 0px 1px 0px, rgba(248, 199, 126, 0.3) 0px 0px 2px 0px inset;
}
:focus,
:active {
  outline: 0;
}
::-moz-focus-inner {
  border: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #aaa;
}
.clear-fix::after {
  display: block;
  clear: both;
  content: ' ';
  height: 0px;
}
.width-test {
  position: absolute;
  left: -10000px;
  top: -10000px;
}
.editable-value {
  position: relative;
}
.editable-value i {
  color: #999;
  font-size: 80%;
}
.editable-value i:before {
  margin: 0;
}
.editable-value .editable-value-display {
  padding-bottom: 2px;
}
.editable-value .editable-value-display a.edit {
  position: relative;
  left: -10000px;
}
.editable-value .editable-value-display a.edit:hover i {
  color: #ffa011;
}
.editable-value .editable-value-display:hover {
  cursor: pointer;
  color: #ffa011;
}
.editable-value .editable-value-display:hover a.edit {
  left: 0;
}
.editable-value .editable-value-display:hover a.edit i {
  color: #ffa011;
}
.editable-value .editable-value-outer {
  position: absolute;
  width: 100%;
  top: 0;
  left: -10000px;
}
.editable-value .editable-value-edit {
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: -3px;
  top: -6px;
  padding: 2px 4px;
  padding-right: 36px;
  background: #ffe5be;
  border-radius: 2px;
}
.editable-value .editable-value-edit a {
  position: absolute;
  top: 8px;
}
.editable-value .editable-value-edit a:hover i {
  color: #ffa011;
}
.editable-value .editable-value-edit a:first-of-type {
  right: 17px;
}
.editable-value .editable-value-edit a:last-of-type {
  right: 4px;
}
.editable-value .editable-value-edit.invalid a:first-of-type:hover,
.editable-value .editable-value-edit.invalid a:first-of-type:focus {
  cursor: auto;
}
.editable-value .editable-value-edit.invalid a:first-of-type:hover i,
.editable-value .editable-value-edit.invalid a:first-of-type:focus i {
  color: #999;
}
.editable-value.editing .editable-value-display {
  visibility: hidden;
}
.editable-value.editing .editable-value-outer {
  left: 0px;
}
.editable-value.add-mode .editable-value-edit {
  background: inherit;
}
.editable-value.add-mode .editable-value-edit a {
  display: none;
}
.input-wrapper {
  position: relative;
}
.input-wrapper .icon-warning {
  font-size: 80%;
  padding: 0;
  color: #E80000;
  position: absolute;
  top: 4px;
  cursor: help;
  z-index: 2;
  left: -10000px;
}
.invalid .input-wrapper.invalid input[type="text"],
.invalid .input-wrapper.invalid input[type="password"],
.invalid .input-wrapper.invalid textarea,
.invalid .input-wrapper.invalid select {
  border: 1px solid #E80000;
  box-shadow: rgba(232, 0, 0, 0.5) 0px 0px 3px 0px, #E80000 0px 0px 2px 0px inset;
  padding-right: 18px;
}
.invalid .input-wrapper.invalid .icon-warning {
  left: inherit;
  right: 6px;
}
input[type="text"].price {
  width: 66px;
}
.box-price .editable-value-display {
  border: 1px solid transparent;
}
.box-price .input-wrapper.invalid .icon-warning {
  top: 3px;
  right: 8px;
}
.product-price {
  height: 30px;
}
.product-price .editable-value-display {
  border: 1px solid transparent;
}
.product-price .editable-value-display:hover .muted {
  color: #f8c77e !important;
}
.product-price .editable-value-edit.invalid .input-wrapper.invalid .icon-warning {
  top: 3px;
  right: 8px;
}
.heading .editable-value-display {
  border: 1px solid transparent;
}
.heading .editable-value-display h3 {
  display: inline-block;
}
.heading .editable-value-display:hover h3 {
  color: #ffa011;
}
.heading .editable-value-edit {
  left: -6px;
  top: -6px;
  padding-left: 2px;
}
.heading .editable-value-edit input[type="text"] {
  width: 200px;
  font-size: 150%;
  font-weight: 300;
}
.heading .editable-value-edit a {
  top: 12px;
}
.heading .editable-value-edit .input-wrapper.invalid .icon-warning {
  top: 0px;
  right: 8px;
}
.box-products {
  margin-bottom: 10px;
}
.box-products::after {
  display: block;
  clear: both;
  content: ' ';
  height: 0px;
}
.box-products table {
  float: left;
}
.box-products table td {
  padding: 5px 0 0 0;
}
.box-products .box-product-name {
  padding-right: 5px;
}
.box-products .box-product-quantity input[type="text"] {
  width: 62px;
}
.box-products .box-product-quantity .invalid .input-wrapper.invalid .icon-warning {
  right: 8px;
  top: 3px;
}
.box-products i {
  font-size: 80%;
  color: #999;
}
.box-products i::before {
  margin: 0;
}
.box-products a:hover i,
.box-products a:focus i {
  color: #ffa011;
}
.box-products .show-on-edit {
  position: relative;
  left: -10000px;
}
.box-products:hover .show-on-edit,
.box-products.editing .show-on-edit {
  left: 0px;
}
.box-products .box-product-quantity.editable-value .editable-value-display {
  border: 1px solid transparent;
}
.box-products .box-product-quantity.editable-value .editable-value-edit {
  left: -8px;
  top: -6px;
  right: -30px;
  padding-right: 0;
}
.box-products .no-products {
  padding-bottom: 2px;
}
.box-products .box-product-add {
  display: inline-block;
  clear: both;
  margin-top: 5px;
  margin-bottom: 0px;
}
.box-products .box-product-add .box-product-add-display a {
  position: relative;
  left: -4px;
}
.box-products .box-product-add .box-product-add-display:hover,
.box-products .box-product-add .box-product-add-display.hover {
  color: #ffa011;
  cursor: pointer;
}
.box-products .box-product-add .box-product-add-display:hover a i,
.box-products .box-product-add .box-product-add-display.hover a i {
  color: #ffa011;
}
.box-products .box-product-add div,
.box-products .box-product-add input[type="text"],
.box-products .box-product-add select,
.box-products .box-product-add span {
  display: inline-block;
}
.box-products .box-product-add.editable-value .editable-value-edit {
  right: -26px;
  left: -9px;
  padding-right: 0;
  height: 28px;
}
.box-products .box-product-add.editable-value .editable-value-edit input[type="text"] {
  position: relative;
  top: 0px;
  left: -3px;
  height: 24px;
}
.box-products .box-product-add.editable-value .editable-value-edit.invalid .input-wrapper.invalid .icon-warning {
  top: 5px;
  right: 8px;
}
.box-products .box-product-add.editable-value .editable-value-edit .box-product-quantity-each {
  position: relative;
  left: -3px;
}
.round-customers {
  margin-bottom: 3px;
}
.round-customers::after {
  display: block;
  clear: both;
  content: ' ';
  height: 0px;
}
.round-customers table td {
  padding: 0 0 7px 0;
}
.round-customers .round-customer-name {
  padding-right: 5px;
}
.round-customers i {
  font-size: 80%;
  color: #999;
}
.round-customers i::before {
  margin: 0;
}
.round-customers a:hover i,
.round-customers a:focus i {
  color: #ffa011;
}
.round-customers .show-on-edit {
  position: relative;
  left: -10000px;
}
.round-customers:hover .show-on-edit,
.round-customers.editing .show-on-edit {
  left: 0px;
}
.round-customers .round-customer-add .round-customer-add-display a {
  position: relative;
  left: -4px;
}
.round-customers .round-customer-add .round-customer-add-display:hover,
.round-customers .round-customer-add .round-customer-add-display.hover {
  color: #ffa011;
  cursor: pointer;
}
.round-customers .round-customer-add .round-customer-add-display:hover a i,
.round-customers .round-customer-add .round-customer-add-display.hover a i {
  color: #ffa011;
}
.round-customers .round-customer-add div,
.round-customers .round-customer-add input[type="text"],
.round-customers .round-customer-add select,
.round-customers .round-customer-add span {
  display: inline-block;
}
.round-customers .round-customer-add.editable-value .editable-value-edit {
  right: -17px;
  left: -9px;
  padding-right: 0;
  height: 28px;
}
.round-customers .round-customer-add.editable-value .editable-value-edit input[type="text"] {
  position: relative;
  top: -4px;
  left: -3px;
  height: 24px;
}
.round-customers .round-customer-add.editable-value .editable-value-edit.invalid .input-wrapper.invalid .icon-warning {
  top: -2px;
  right: 4px;
}
.customer-details {
  margin-bottom: 5px;
}
.customer-details .customer-detail {
  display: block;
  margin-bottom: 5px;
}
.customer-details .customer-detail::after {
  display: block;
  clear: both;
  content: ' ';
  height: 0px;
}
.customer-details .customer-detail .editable-value .editable-value-display {
  width: 100%;
  display: table;
}
.customer-details .customer-detail .editable-value .editable-value-display .detail-marker {
  display: table-cell;
  width: 20px;
  min-width: 20px;
  font-size: 110%;
}
.customer-details .customer-detail .editable-value .editable-value-display .detail-display {
  display: table-cell;
  border: 1px solid transparent;
}
.customer-details .customer-detail .editable-value .editable-value-display:hover i {
  color: #ffa011;
}
.customer-details .customer-detail .editable-value .editable-value-edit {
  display: table;
  top: -6px;
  padding-top: 3px;
  padding-bottom: 1px;
}
.customer-details .customer-detail .editable-value .editable-value-edit .detail-marker {
  display: table-cell;
  font-size: 110%;
  position: relative;
  left: -1px;
  top: -1px;
}
.customer-details .customer-detail .editable-value .editable-value-edit .detail-edit {
  display: table-cell;
}
.customer-details .customer-detail .editable-value .editable-value-edit .detail-edit .input-wrapper.invalid .icon-warning {
  top: 3px;
  right: 8px;
}
.customer-details .customer-detail .editable-value .editable-value-edit .detail-edit input[type="text"] {
  position: relative;
  left: 0px;
  top: -1px;
  width: 100%;
}
.customer-details .customer-detail.address .editable-value.editing {
  height: 70px;
}
.customer-details .customer-detail.address .editable-value .editable-value-edit {
  top: -4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.customer-details .customer-detail.address .editable-value .editable-value-edit .detail-marker {
  vertical-align: top;
  position: relative;
  left: -1px;
  top: 4px;
}
.customer-details .customer-detail.address .editable-value .editable-value-edit .detail-edit textarea {
  line-height: 1em;
  height: 76px;
}
.customer-details .customer-detail.address .editable-value .editable-value-edit .detail-edit .input-wrapper.invalid .icon-warning {
  top: -51px;
  right: 8px;
}
.customer-details .customer-detail.email .editable-value .editable-value-display {
  table-layout: fixed;
  overflow: hidden;
}
.customer-add .customer-name input {
  width: 100%;
  font-size: 150%;
  font-weight: 300;
  margin-bottom: 5px;
}
.customer-add.invalid .customer-name .input-wrapper.invalid .icon-warning {
  right: 6px;
  top: 0px;
}
.customer-add .customer-details .customer-detail .meh {
  width: 100%;
  display: table;
}
.customer-add .customer-details .customer-detail .meh .detail-marker {
  display: table-cell;
  vertical-align: top;
  width: 20px;
  min-width: 20px;
}
.customer-add .customer-details .customer-detail .meh .detail-marker i {
  font-size: 90%;
  color: #999;
  position: relative;
  left: -3px;
  top: 6px;
}
.customer-add .customer-details .customer-detail .meh .detail-marker i.icon-mail {
  font-size: 78%;
}
.customer-add .customer-details .customer-detail .meh .detail-edit {
  display: table-cell;
}
.customer-add .customer-details .customer-detail input[type="text"],
.customer-add .customer-details .customer-detail textarea {
  width: 100%;
}
.customer-add .customer-details .customer-detail textarea {
  height: 76px;
}
.customer-add .customer-details .customer-detail.address .input-wrapper.invalid .icon-warning {
  top: -51px;
  right: 6px;
}
.customer-add .customer-details .customer-detail.tel input[type="text"] {
  max-width: 170px;
}
@media only screen and (min-width : 749px) {
  .customer-details {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
  }
  .customer-details .customer-detail {
    padding-right: 10px;
  }
  .customer-details .address {
    width: 40%;
    min-width: 208px;
  }
  .customer-details .email {
    width: 40%;
    min-width: 205px;
  }
  .customer-details .tel {
    width: 20%;
    min-width: 158px;
  }
  .customer-details .customer-detail-end {
    width: 1px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.box-add .box-name input {
  width: 100%;
  font-size: 150%;
  font-weight: 300;
}
.box-add.invalid .box-name .input-wrapper.invalid .icon-warning {
  right: 6px;
  top: 0px;
}
.round-add {
  padding: 0;
}
.round-add .round-name input {
  width: 100%;
  font-size: 150%;
  font-weight: 300;
}
.round-add.invalid .round-name .input-wrapper.invalid .icon-warning {
  right: 6px;
  top: 0px;
}
.product-add .product-name input {
  width: 100%;
  font-size: 150%;
  font-weight: 300;
}
.product-add.invalid .product-name .input-wrapper.invalid .icon-warning {
  right: 6px;
  top: 0px;
}
.email-edit.focused .muted,
.email-edit:hover .muted {
  color: #f8c77e !important;
}
.order {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.order input[type="text"] {
  width: 62px;
  position: relative;
  left: -3px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: -3px;
}
.order select {
  position: relative;
  left: -5px;
  margin-right: -5px;
}
.order .order-item {
  margin-top: 5px;
}
.order .order-item::after {
  display: block;
  clear: both;
  content: ' ';
  height: 0px;
}
.order .order-item .order-item-part {
  display: inline-block;
}
.order .order-item .order-item-total {
  text-align: right;
}
.order .order-heading {
  font-size: 60%;
  color: #999;
  text-transform: uppercase;
  padding-bottom: 2px;
  border-bottom: 1px solid #ccc;
}
.order .order-total {
  text-align: right;
  padding-top: 5px;
  border-top: 1px solid #ccc;
}
.order i {
  font-size: 80%;
  color: #999;
}
.order i::before {
  margin: 0;
}
.order a:hover i,
.order a:focus i {
  color: #ffa011;
}
.order .modified {
  color: #ffa011;
}
.order .order-item-add-display.hover,
.order .order-item-add-display:hover {
  color: #ffa011;
  cursor: pointer;
}
.order .order-item-add-display.hover a i,
.order .order-item-add-display:hover a i {
  color: #ffa011;
}
.order .order-item-add .editable-value-edit {
  padding-right: 39px;
  left: -8px;
  padding-left: 8px;
}
.order .show-on-edit {
  position: relative;
  left: -10000px;
}
.order .order-section:hover .show-on-edit,
.order .order-section.editing .show-on-edit {
  left: 0px;
}
.order .box-product-quantity.editable-value .editable-value-display {
  padding-right: 52px;
}
.order .box-product-quantity.editable-value .editable-value-edit {
  left: -4px;
  top: -6px;
  right: -8px;
  padding-right: 0px;
}
.button-new {
  display: block;
  position: relative;
  padding-left: 29px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  line-height: 10px;
  color: #000;
  color: #999;
}
.button-new::before {
  position: absolute;
  left: 0;
  top: calc(50% -  12px);
  display: block;
  border-radius: 24px;
  height: 24px;
  width: 24px;
  border: 1px solid #000;
  content: '.';
  color: transparent;
}
.button-new i {
  display: block;
  border-radius: 20px;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 2px;
  top: calc(50% +  2px  -  12px);
  background: #000;
  color: #000;
  font-size: 13px;
}
.button-new i::before {
  display: block;
  border-radius: 13px;
  height: 13px;
  width: 13px;
  position: absolute;
  margin: 0;
  left: calc(50% -  6.5px);
  top: calc(50% -  6.5px);
}
.button-new::before {
  border-color: #aaa;
}
.button-new i {
  background-color: transparent;
  color: #aaa;
}
.button-new:hover,
.button-new:focus {
  color: #ffa011;
}
.button-new:hover::before,
.button-new:focus::before {
  border-color: #ffa011;
}
.button-new:hover i,
.button-new:focus i {
  background-color: #ffa011;
  color: #fff;
}
.button-new.button-new-right {
  padding-left: 0;
  padding-right: 29px;
}
.button-new.button-new-right::before {
  left: inherit;
  right: 0;
}
.button-new.button-new-right i {
  left: inherit;
  right: 2px;
}
.button-new i.icon-carrot {
  font-size: 11px;
}
.button-new i.icon-carrot::before {
  display: block;
  border-radius: 11px;
  height: 11px;
  width: 11px;
  left: calc(50% -  5.5px);
  top: calc(50% -  5.5px);
}
.button-new i.icon-carrot::before {
  margin-top: 1px;
  margin-left: 0;
}
.button-new i.icon-person {
  font-size: 12px;
}
.button-new i.icon-person::before {
  display: block;
  border-radius: 12px;
  height: 12px;
  width: 12px;
  left: calc(50% -  6px);
  top: calc(50% -  6px);
}
.button-new i.icon-person::before {
  margin-top: -1px;
  margin-left: 0;
}
.button-new i.icon-map-signs::before {
  margin-top: 1px;
  margin-left: 0;
}
.button-new i.icon-mail-dark {
  font-size: 12px;
}
.button-new i.icon-mail-dark::before {
  display: block;
  border-radius: 12px;
  height: 12px;
  width: 12px;
  left: calc(50% -  6px);
  top: calc(50% -  6px);
}
.button-new i.icon-logout::before {
  margin-top: 0px;
  margin-left: 1px;
}
.button-new i.icon-add {
  font-size: 14px;
}
.button-new i.icon-add::before {
  display: block;
  border-radius: 14px;
  height: 14px;
  width: 14px;
  left: calc(50% -  7px);
  top: calc(50% -  7px);
}
.button-new i.icon-add::before {
  margin-top: 0.5px;
  margin-left: 0px;
}
.button-new i.icon-login::before {
  margin-top: 0px;
  margin-left: -1px;
}
button.button-new {
  padding-top: 0;
  padding-bottom: 0;
  background: none;
  border: none;
  cursor: pointer;
}
button.button-new[disabled] {
  cursor: inherit;
}
button.button-new[disabled] {
  cursor: inherit;
}
button.button-new[disabled],
button.button-new[disabled]:hover,
button.button-new[disabled]:focus {
  color: #aaa;
}
button.button-new[disabled]::before,
button.button-new[disabled]:hover::before,
button.button-new[disabled]:focus::before {
  border-color: #bbb;
}
button.button-new[disabled] i,
button.button-new[disabled]:hover i,
button.button-new[disabled]:focus i {
  background-color: transparent;
  color: #bbb;
}
@-moz-document url-prefix() {
  a.new i::before {
    margin-top: -1px;
  }
}
.loading-indicator {
  padding-top: 200px;
  text-align: center;
}
.loading-indicator i {
  font-size: 500%;
  color: #ddd;
}
.row-view-new .row {
  display: table;
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid #e6e6e6;
  background: #fafafa;
}
.row-view-new .row.focused,
.row-view-new .row:hover {
  background: #fff1dd;
}
.row-view-new .row .details {
  display: table-cell;
  vertical-align: top;
  padding-left: 5px;
}
.row-view-new .row .actions {
  display: table-cell;
  vertical-align: top;
  width: 100px;
}
.row-view-new .row .actions .button-new {
  float: right;
  clear: right;
  margin-top: 20px;
}
.row-view-new .row .actions .button-new:first-child {
  margin-top: 0px;
}
.row-view-new > *:nth-child(2n+1) > .row {
  background: #f5f5f5;
}
.row-view-new > *:nth-child(2n+1) > .row.focused,
.row-view-new > *:nth-child(2n+1) > .row:hover {
  background: #fff1dd;
}
.row-view-new.focused .row:hover,
.row-view-new.focused > *:nth-child(2n+1) > .row:hover {
  background: #fff8ec;
}
.row-view-new.focused .row.focused,
.row-view-new.focused > *:nth-child(2n+1) > .row.focused,
.row-view-new.focused .row.focused:hover,
.row-view-new.focused > *:nth-child(2n+1) > .row.focused:hover {
  background: #fff1dd;
}
