@import "variables";
@import "mixins";

// * {
//   background: rgba(255,0,0,0.1) !important;
//   border-color: black !important;
// }

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 380px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
}

.page {
  padding: 106px 10px 10px 10px;

  h2, p {
    margin-left:10px;
  }

  p {
    font-weight: 300;
    color:black;
    font-size:110%;

    .icon-spin3 {
      margin-right: 5px;
      color: #555;
      font-size: 80%;
    }
  }  
}

input[type="text"], input[type="password"], select, textarea {
  color: #999; 
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 100%; 
  margin:0;
}

select {
  padding: 1px 0px;
}

.row-view {
  position: relative;

  button.top-level {
    position: absolute;
    top:-83px;
    height: 83px;
    right:0;
  }

  p {
    margin-top:20px;
  }

  *:nth-child(2n - 1) > .row {
    background: #fafafa;
  }

  .row {
    min-height: 83px;
    border-top: 1px solid lighten(@itemBorderColor, 10%); 
    padding: 0;
    position: relative;

    &.addMode {
      border-bottom: 1px solid lighten(@itemBorderColor, 10%);
    }
    &.no-border, &.no-border.addMode {
      border: none;
    }

    &:hover {
      background: @itemHoverColor;
    }
    &.no-hover:hover {
      background: inherit;
    }

    .actions {
      float: right;
      height:30px;
      padding-right:4px;
      
      .action {
        margin-right: -4px;
        display: inline-block;
        width: 66px;
        height: 83px;

        button, a.button {
          position: absolute;
          height:100%;
          top:0;
        }
      }
    }

    .details {
      overflow: hidden;
      padding: 15px 10px 0px 10px;
    }
  }
}

.focused {
  .row {
    button, a.button {
      .button(outline; small; darken(@itemHoverColor, 2%));
    }
    
    &.focused {
      background: @itemHoverColor;
      button, a.button {
        .button(outline; small; @highlight);
      }
    }
    &.focused:hover {
      background: @itemHoverColor;
    }

    &:hover {
      background: lighten(@itemHoverColor, 4%);
    }
    
    .editable-display:hover {
      background: lighten(@itemHoverColor, 6%);
    }
  }
  .row.focused {
    .editable-display:hover {
      background: lighten(@itemHoverColor, 4%);
    }
  }
}

.editable {
  bottom: 4px;
  right: 4px;
  position: relative;
  width: 100%;

  .editable-display {
    border: 1px solid transparent;
    padding-top: 4px;
    padding-left: 4px;
    cursor: pointer;

    &:hover {
      border: 1px dashed desaturate(darken(@itemHoverColor, 20%),10%);
      border-radius: 3px;
      background: lighten(@itemHoverColor, 4%);
      padding-right: 20px;

      &:after {
        position: absolute;
        content: '\e807';
        right: 5px;
        top: 5px;
        font-family: "fontello";
        font-size:16px;
        color: desaturate(darken(@itemHoverColor, 20%),50%);
      }
    }
  }
}

.heading {
  margin-bottom: 5px;

  .editable-display {
    h3 {
      margin: 0;
      margin-bottom: 5px;
    }
  }

  .editable-edit {
    input[type="text"] {
      display: block;
      font-size: 150%;
      font-weight: 300;
      margin-bottom: 6px;
      width: 100%;
    }
  }
}

.product-price {
  .editable-display {
    min-height: 25px;
  }
  .editable-edit {
    padding-left:5px;

    .price {
      width: 86px;
      margin-left: 3px;
    }
  }
}

.product-unit-quantity {
  .editable-display {
    min-height: 25px;
  }
  .editable-edit {
    padding-left:5px;
    input {
      width: 42px;
    }
  }
}

// .round-customers, .box-products-old {
//   .editable-display {
//     p {
//       margin:0px 0 5px 0;
//     }
//   }

//   .editable-edit {
//     padding-top: 4px;
//   }

//   ul {
//     li {
//       margin-bottom:10px;
//       &:first-child {
//         margin-top: 5px;
//       }
//       &:last-child {
//         margin-bottom: 5px;
//       }
//       &.focused {
//         background: lighten(@itemHoverColor, 4%);
//       }
//     }      
//   }
// }


.address {
  .editable {
    padding-left:1px;     
    margin-bottom: 3px;
    
    .editable-display {
      min-height: 25px;
      padding-bottom: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .editable-edit {
      margin-bottom: 1px;
    }
  }
}

.email {
  .editable {
    padding-left:2px;     
    margin-bottom: 3px;
    
    .editable-display {
      min-height: 25px;
      padding-bottom: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .editable-edit {
      margin-bottom: 1px;
    }
  }
}

.tel {
  .editable {
    margin-bottom: 3px;

    .editable-display {
      min-height: 25px;
      padding-bottom: 4px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .editable-edit {
      margin-bottom: 1px;
    }
  }
}

.price-detail {
  width: 300px;
}

.unit-type-detail {
  width: 300px;
}

.flex {
  display:flex; 
  flex-direction:row; 
  flex-grow:0; 
  justify-content: space-between;

  & > div {
    margin: 0 20px;

    &:first-child {
      margin-left:0;
    }
  }
}

.customer-details {
  & > div {
    margin-top:10px;
    padding-left:22px;
    position: relative;

    i { 
      color:#bbb;
      position: absolute;
      left:0;
    }
    i::before {
      margin:0;
      padding:0;
    }
    &:first-child {
      margin-top:0;
    }
   
    textarea, input[type="text"], input[type="password"] {
      width: 400px - 22px;
    }

    textarea {
      height: 80px;
    }
  }
} 

@customers-same-line: ~"only screen and (min-width : 669px)";
@media @customers-same-line {
  .customer-details {
    .flex;

    & > div {
      textarea, input[type="text"], input[type="password"] {
        width: 100%;
      }

      &:last-of-type {
        width: 1px;
        flex-grow:0;
        flex-shrink:0;
      }
    }

    .address {
      width: 50%;
      flex-shrink:2;
      min-width:120px;
    }

    .email {
      width: 40%;
      min-width:150px;
      flex-shrink:1;
    }

    .tel {
      width: 10%;
      min-width: 145px;
      flex-shrink:0;
    }
  }
}

// .round-customers, .box-products-old {
//   border: 1px solid transparent;
  
//   .round-customer, .box-product-old {
//     display: flex;

//     .round-customer-detail, .box-product-old-detail {
//       padding: 5px;

//       &.round-customer-name, &.box-product-old-name {
//         padding-left: 0;
//         width: 40%;
//       }
  
//       &.round-customer-address {
//         width: 60%;
//       }

//       &.box-product-old-quantity {
//         width: 60%;
//       }
  
//       &.round-customer-action, &.box-product-old-action {
//         flex-shrink: 0;
//         flex-grow: 0;
//         padding: 0;
//       }
//     }
//   }

//   .spacer {
//     display: block;
//     width: 22px;
//   }

//   .editable-display {
//     padding: 0 4px;
//     margin-top: 0;
//   }

//   .editable-display:hover {
//     .round-customers-display, .box-products-old-display {
//       margin-right: -16px;
//     }
//   }

//   .editable-edit {
//     padding: 0 4px;
//     border: 1px solid desaturate(darken(@itemHoverColor, 20%),10%);
//     border-radius: 3px;
//     background: #fff;

//     a {
//       display: block;
//       border-radius: 22px;
//       width:22px;
//       height:22px;
//       position: relative;
//       top:2px;

//       .icon {
//         width: 22px;
//         padding: 5px;

//         i {
//           position: relative;
//           left: -6px;
//           top: -2px;
//           color: #999;

//           &.icon-add {
//             top:-1px;
//           }
//         }
//       }

//       &:hover, &:focus {
//         i {
//           color: desaturate(darken(@itemHoverColor, 20%),50%);
//         }
//       }

//       .spacer {
//         display: none;
//       }
//     }

//     .round-customers-add, .box-products-old-add {
//       position: relative;
//       left: -4px;
//       padding-left: 4px;
//       padding-right: 4px;
//       width: calc(~"100% + 8px");
//       border-top: 1px solid lighten(@itemHoverColor, 2%);
//       border-bottom-left-radius: 3px;
//       border-bottom-right-radius: 3px;
//       color: #bbb;
//       display: block;
//       background: lighten(@itemHoverColor, 4%);
//       &:first-child {
//         border-top: none;
//       }
//     }
//   }
// }

.group {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.email-edit {
  @labelWidth: 70px;
  background: #fafafa;

  //margin: 10px;
  margin-left: 0px;
  padding: 10px;
  padding-left: 12px;
  border-top: 1px solid lighten(@itemBorderColor, 10%); 
  border-bottom: 1px solid lighten(@itemBorderColor, 10%);
  padding-bottom: 0; 

  label {
    display: block;
    float: left;
    width: @labelWidth;
  }

  .field {
    float: left;
    width: calc(~"100% - @{labelWidth}");
  }

  .form-row {
    margin-bottom: 10px;
    .group();
  }

  input[type="text"], input[type="password"], textarea {
    position: relative;
    top:-5px;
  }

  textarea {
    display: block;
    height: 200px;
    top: -4px;
  }

  .recipients {
    li {
      margin-bottom: 5px;
    }
  }

  .row-view {
    margin-top: -2px;
    margin-right: -10px;
  }

  &.focused {
    background: @itemHoverColor;
    .row {
      button, a.button {
        .button(outline; small; @highlight);
      }
    }
  }
}

input[type="text"], input[type="password"], textarea, select {
  &:focus {
    @col: desaturate(darken(@itemHoverColor, 20%),10%);
    border: 1px solid desaturate(darken(@itemHoverColor, 20%),10%);
    box-shadow: @col 0px 0px 1px 0px,  
                fade(@col, 30%) 0px 0px 2px 0px inset;  
  }
}

:focus, :active {outline:0;}
::-moz-focus-inner {border:0;}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #aaa;
}

@boxProductHover: darken(@highlight, 30%);
@boxProductFadeout: desaturate(darken(@itemHoverColor, 15%), 40%);

.boxProductClearFix() {
  &::after {
    display: block;
    clear: left;
    content: ' ';
    height: 0px;
  }
} 

.box-products {
  .boxProductClearFix;
  margin: 10px 0 10px 0;

  .box-product-column {
    .boxProductClearFix;
    float: left;

    .box-product {
      position: relative;

      .boxProductClearFix;

      &.remove-hover {
        color: @boxProductHover;
      }

      i {
        font-size: 80%;

        &::before {
          margin: 0;
        }
        
        // &:hover {
        //   color: @boxProductHover;
        //   cursor: pointer;
        // }
      }

      a {
        color: #999;

        &:hover, &:focus {
          i {
            color: @boxProductHover;
          }
        }
      }

      .box-product-detail {
        float: left;
        padding:0;
        height: 24px;

        &::before {
          display: inline-block;
          height: 100%;
          width: 0px;
          vertical-align: text-bottom;
          content: ' '
        }
      }

      .box-product-name {
        select {
          display: inline-block;
          height: 22px;
          padding: 0;
          position: relative;
          top: -1px;
          left: -5px;
          z-index: 1;
        }
      }

      .box-product-quantity {
        border-radius: 2px;
        border: 1px solid transparent;
        padding-left: 2px;

        input {
          display: inline-block;
          width: 42px;
          height: 22px;
          padding: 0 4px;
          position: relative;
          left:-5px;
          z-index: 1;
        }
        
        .box-product-quantity-each {
          display: inline-block;
          position: relative;
          width: 10px;
          z-index: 1;
        }

        .box-product-quantity-perkg {
          position: relative;
          left: -5px;
          z-index: 1;
        }

        &.box-product-display:hover, &.box-product-display.hover {
          color: @boxProductHover;
          cursor: pointer;
          
          a {
            left: 0px;

            i {
              color: @boxProductHover;
            }
          }
        }

        &.box-product-edit {
          a {
            display: inline;
          }
        }
      }

      .box-product-action {
        width: 17px;
      }

      &.box-product-add {
        .box-product-display {
          position: relative;
          left: -10000px;
        }
      }
    }
  }

  .box-product {
    .box-product-action, .box-product-display {
      a {
        position: relative;
        left: -10000px;
      }
    }
  }

  &:hover, &.editing {
    .box-product {
      .box-product-action {
        a {
          left: 0px;
        }
      }

      &.box-product-add {
        .no-products-text {
          display: none;
        }

        .box-product-display {
          left: 0px;
        }

        &:hover, .hover {
          .box-product-display {
            color: @boxProductHover;
            cursor: pointer;

            a {
              i {
                color: @boxProductHover;
              }
            }
          }
        }
      }
    }
  }
}


.round-customers {
  .boxProductClearFix;
  margin: 10px 0 10px 0;

  .round-customer {
    position: relative;

    .boxProductClearFix;

    &.remove-hover {
      color: @boxProductHover;
    }

    i {
      font-size: 80%;

      &::before {
        margin: 0;
      }
      
      &:hover {
        color: @boxProductHover;
        cursor: pointer;
      }
    }

    a {
      color: #999;

      &:hover, &:focus {
        color: @boxProductHover;
      }
    }

    .round-customer-detail {
      float: left;
      padding:0;
      height: 24px;

      &::before {
        display: inline-block;
        height: 100%;
        width: 0px;
        vertical-align: text-bottom;
        content: ' '
      }
    }

    .round-customer-name {
      select {
        display: inline-block;
        height: 22px;
        padding: 0;
        position: relative;
        top: -1px;
        left: -5px;
        z-index: 1;
      }
    }

    .round-customer-address {
      display: inline-block;
      position: relative;
      z-index: 1;
    }

    .round-customer-action {
      width: 17px;
    }

    &.round-customer-add {
      .round-customer-display {
        position: relative;
        left: -10000px;
      }
    }
  }

  .round-customer {
    .round-customer-action, .round-customer-display {
      a {
        position: relative;
        left: -10000px;
      }
    }
  }

  &:hover, &.editing {
    .round-customer {
      .round-customer-action {
        a {
          left: 0px;
        }
      }

      &.round-customer-add {
        // .no-products-text {
        //   display: none;
        // }

        .round-customer-display {
          left: 0px;
        }

        &:hover, .hover {
          .round-customer-display {
            color: @boxProductHover;
            cursor: pointer;

            a {
              color: @boxProductHover;
            }
          }
        }
      }
    }
  }
}

.edit-background {
  position: absolute;
  top: 0px;
  background: desaturate(darken(@itemHoverColor, 6%), 0%);
  bottom: -3px;
  left: -2px;
  right: -29px;
  border-radius: 2px;
  z-index: 1;

  a {
    position: absolute;
    top: 8px;
    right: 2px;

    &:first-of-type {
      right: 16px;
    }

    &:last-of-type {
      right: 2px;
    }
  }
}

.invalid {
  .edit-background {
    .icon-warning {
      color: #E80000;
      cursor: auto;
    }

    .icon-ok {
      display: none;
    }
  }
}

.box-product-quantity .edit-background {
  right: -33px;
}

.box-product-add .edit-background {
  left: -8px;
  right: -33px;
}

.round-customer-add .edit-background {
  left: -8px;
  right: -33px;
}

.width-test {
  position: absolute;
  left: -10000px;
}

.editable-value {
  position: relative;

  i {
    color: #999;
    font-size: 80%;

    &:before {
      margin: 0;
    }
  }
  
  .editable-value-display {
    padding-bottom: 2px;
    
    a.edit {
      position: relative;
      left: -10000px;
      //margin-left: 3px;

      &:hover {
        i {
          color: @boxProductHover;
        }
      }
    }

    &:hover {
      cursor: pointer;
      color: @boxProductHover;
      
      a.edit {
        left: 0;
        i {
          color: @boxProductHover;
        }
      }
    }
  }

  .editable-value-outer {
    position: absolute;
    width: 100%;
    top: 0;
    left: -10000px;
  }

  .editable-value-edit {
    display: inline-block;
    position: absolute;
    z-index: 2;
    left: -3px;
    top: -6px;
    padding: 2px 4px;
    padding-right: 36px;
    background: desaturate(darken(@itemHoverColor, 6%), 0%);
    border-radius: 2px;

    a {
      position: absolute;
      top: 8px;

      &:hover {
        i {
          color: @boxProductHover;
        }
      }

      &:first-of-type {
        right: 17px;
      }

      &:last-of-type {
        right: 4px;
      }
    }

    .input-wrapper {
      position: relative;

      &.invalid {
        input[type="text"], input[type="password"], textarea, select {
          border: 1px solid #E80000;
          box-shadow: fade(#E80000, 50%) 0px 0px 3px 0px,  
                      #E80000 0px 0px 2px 0px inset;
        }

        .icon-warning {
          background: #fff;
          padding: 4px;
          color: #E80000;
          position: absolute;
          right: 2px;//6px;
          top: 0px;//-1px;
          cursor: help;
          z-index: 2;
        }
      }
    }

    &.invalid {
      a:first-of-type {
        &:hover, &:focus {
          cursor: auto;

          i {
            color: #999;
          }
        }
      }
    }
  }

  &.editing {
    .editable-value-display {
      visibility: hidden;
    }    

    .editable-value-outer {
      left: 0px;
    }
  }
}

.x-box-price {
  .editable-value-display {
    border: 1px solid transparent;
  }

  .editable-value-edit {
    input[type="text"] {
      width: 66px;
    }
  }
}

.x-product-price {
  .editable-value-display {
    border: 1px solid transparent;

    &:hover {
      .muted {
        color: desaturate(lighten(@boxProductHover, 20%), 10%) !important;
      }
    }
  }

  .editable-value-edit {
    padding-top: 3px;

    input[type="text"] {
      width: 66px;
      position: relative;
      top: -1px;
    }

    select {
      position: relative;
      top: -1px;
    }
  }
}

.x-heading {
  .editable-value-display {
    border: 1px solid transparent;

    h3 {
      display: inline-block;
    }

    &:hover {
      h3 {
        color: @boxProductHover;
      }
    }
  }

  .editable-value-edit {
    left: -6px;
    top: -6px;
    padding-left: 2px;
    
    input[type="text"] {
      width: 200px;
      font-size: 150%;
      font-weight: 300;
    }

    a {   
      top: 12px;
    }

    .input-wrapper {
      &.invalid {
        .icon-warning {
          top: -4px;
        }
      }
    }
  }
}

.box-product-detail.box-product-quantity {
  .editable-value-display {
    display: inline-block;
  }

  .editable-value-edit {
    display: inline-block;
    top: 0px;
    left: -1px;
    right: -35px;
    padding-left: 7px;
    padding-right: 35px;

    a {
      top: 7px;
    }

    .input-wrapper {
      &.invalid {
        .icon-warning {
          right: 11px;
          top: 1px;
          padding: 2px;
          padding-top:3px;
        }
      }
    }

    &.invalid {
      a:first-of-type:hover {
        cursor: auto;

        i {
          color: #999;
        }
      }
    }
  }
}

.box-products:hover, .box-products.editing {
  .box-product.box-product-add {
    .editable-value-display {
      .box-product-action {
        a {
          left: 1px;
        }
      }
    }
  }
}

.box-product.box-product-add {
  .editable-value-display {
  }  

  .editable-value-edit {
    float: left;
    padding:0;
    //height: 24px;
    top:2px;
    left: -7px;
    right: -17px;
    height: 26px;
    padding-left: 7px;
    padding-top: 0px;

    &::before {
      display: inline-block;
      height: 100%;
      width: 0px;
      vertical-align: text-bottom;
      content: ' '
    }

    input[type="text"] {
      position: relative;
      top: -0.5px;
    }

    a {
      top: 7px;
    }
    
    .input-wrapper {
      &.invalid {
        .icon-warning {
          right: 11px;
          top: 1px;
          padding: 2px;
          padding-top:3px;
        }
      }
    }

    &.invalid {
      a:first-of-type:hover, a:first-of-type:focus {
        cursor: auto;

        i {
          color: #999;
        }
      }
    }
  }
}

.box-products .box-product-column .box-product .invalid a:focus i {
  color: #999;
}

.x-box-products {
  .boxProductClearFix;

  table {
    float: left;

    td {
      padding: 0 0 5px 0;
    }
  }

  .x-box-product-name {
    padding-right: 5px;
  }

  .x-box-product-quantity {
    input[type="text"] {
      width: 62px;
    }
  }

  i {
    font-size: 80%;
    color: #999;

    &::before {
      margin: 0;
    }
  }

  a {
    &:hover, &:focus {
      i {
        color: @boxProductHover;
      }
    }
  }

  .show-on-edit {
    position: relative;
    left: -10000px;
  }

  &:hover, &.editing {
    .show-on-edit {
      left: 0px;     
    }
  }

  .x-box-product-quantity.editable-value {
    .editable-value-display {
      border: 1px solid transparent;
    }

    .editable-value-edit {
      left: -8px;
      top: -6px;
      right: -30px;
      padding-right: 0;
    }
  }

  .no-products {
    border: 1px solid transparent;
    padding-bottom: 2px;
  }

  .x-box-product-add {
    .x-box-product-add-display {
      a {
        position: relative;
        left: -2px;
      }

      &:hover, &.hover {
        color: @boxProductHover;
        cursor: pointer;

        a {
          i {
            color: @boxProductHover;
          }
        }
      }
    }

    div, input[type="text"], select, span {
      display: inline-block;
    }

    &.editable-value {
      .editable-value-edit {
        right: -13px;
        left: -9px;
        padding-right: 0;

        input[type="text"] {
          position: relative;
          left: -3px;
        }

        .box-product-quantity-each {
          position: relative;
          left: -3px;
        }
      }
    }
  }
}