.r {
  border: 1px solid red;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 380px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
}
.page {
  padding: 106px 10px 10px 10px;
}
.page h2,
.page p {
  margin-left: 10px;
}
.page p {
  font-weight: 300;
  color: black;
  font-size: 110%;
}
.page p .icon-spin3 {
  margin-right: 5px;
  color: #555;
  font-size: 80%;
}
input[type="text"],
input[type="password"],
select,
textarea {
  color: #999;
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 100%;
  margin: 0;
}
select {
  padding: 1px 0px;
}
.row-view {
  position: relative;
}
.row-view button.top-level {
  position: absolute;
  top: -83px;
  height: 83px;
  right: 0;
}
.row-view p {
  margin-top: 20px;
}
.row-view *:nth-child(2n - 1) > .row {
  background: #fafafa;
}
.row-view .row {
  min-height: 83px;
  border-top: 1px solid #e6e6e6;
  padding: 0;
  position: relative;
}
.row-view .row.addMode {
  border-bottom: 1px solid #e6e6e6;
}
.row-view .row.no-border,
.row-view .row.no-border.addMode {
  border: none;
}
.row-view .row:hover {
  background: #fff1dd;
}
.row-view .row.no-hover:hover {
  background: inherit;
}
.row-view .row .actions {
  float: right;
  height: 30px;
  padding-right: 4px;
}
.row-view .row .actions .action {
  margin-right: -4px;
  display: inline-block;
  width: 66px;
  height: 83px;
}
.row-view .row .actions .action button,
.row-view .row .actions .action a.button {
  position: absolute;
  height: 100%;
  top: 0;
}
.row-view .row .details {
  overflow: hidden;
  padding: 15px 10px 0px 10px;
}
.focused .row button,
.focused .row a.button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  text-align: start;
  padding: none;
  border-width: 0;
  background: none;
  color: #888;
}
.focused .row button .icon,
.focused .row a.button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.focused .row button .icon i,
.focused .row a.button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.focused .row button span,
.focused .row a.button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.focused .row button:focus,
.focused .row a.button:focus {
  outline: 0;
}
.focused .row button,
.focused .row a.button,
.focused .row button:active,
.focused .row a.button:active {
  cursor: pointer;
}
.focused .row button[disabled],
.focused .row a.button[disabled],
.focused .row button[disabled]:hover,
.focused .row a.button[disabled]:hover,
.focused .row button.disabled,
.focused .row a.button.disabled,
.focused .row button.disabled:hover,
.focused .row a.button.disabled:hover {
  cursor: default;
}
.focused .row button[disabled],
.focused .row a.button[disabled],
.focused .row button[disabled]:hover,
.focused .row a.button[disabled]:hover,
.focused .row button.disabled,
.focused .row a.button.disabled,
.focused .row button.disabled:hover,
.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.focused .row button[disabled] .icon,
.focused .row a.button[disabled] .icon,
.focused .row button[disabled]:hover .icon,
.focused .row a.button[disabled]:hover .icon,
.focused .row button.disabled .icon,
.focused .row a.button.disabled .icon,
.focused .row button.disabled:hover .icon,
.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row button[disabled] .icon i,
.focused .row a.button[disabled] .icon i,
.focused .row button[disabled]:hover .icon i,
.focused .row a.button[disabled]:hover .icon i,
.focused .row button.disabled .icon i,
.focused .row a.button.disabled .icon i,
.focused .row button.disabled:hover .icon i,
.focused .row a.button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.focused .row button[disabled] span,
.focused .row a.button[disabled] span,
.focused .row button[disabled]:hover span,
.focused .row a.button[disabled]:hover span,
.focused .row button.disabled span,
.focused .row a.button.disabled span,
.focused .row button.disabled:hover span,
.focused .row a.button.disabled:hover span {
  color: #ccc;
}
.focused .row button .icon,
.focused .row a.button .icon {
  background: none;
  border-color: #888;
}
.focused .row button .icon i,
.focused .row a.button .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row button span,
.focused .row a.button span {
  color: #888;
}
.focused .row button:hover,
.focused .row a.button:hover,
.focused .row button:focus,
.focused .row a.button:focus {
  background: #ffedd3;
  color: #777;
}
.focused .row button:hover .icon,
.focused .row a.button:hover .icon,
.focused .row button:focus .icon,
.focused .row a.button:focus .icon {
  background: white;
  border-color: #777;
}
.focused .row button:hover .icon i,
.focused .row a.button:hover .icon i,
.focused .row button:focus .icon i,
.focused .row a.button:focus .icon i {
  border-color: #ecd5b3;
  background: #ffedd3;
}
.focused .row button:hover span,
.focused .row a.button:hover span,
.focused .row button:focus span,
.focused .row a.button:focus span {
  color: #777;
}
.focused .row button:hover .icon i,
.focused .row a.button:hover .icon i,
.focused .row button:focus .icon i,
.focused .row a.button:focus .icon i {
  background: #ffedd3;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.focused .row button:hover[disabled] .icon i,
.focused .row a.button:hover[disabled] .icon i,
.focused .row button:focus[disabled] .icon i,
.focused .row a.button:focus[disabled] .icon i,
.focused .row button:hover[disabled]:hover .icon i,
.focused .row a.button:hover[disabled]:hover .icon i,
.focused .row button:focus[disabled]:hover .icon i,
.focused .row a.button:focus[disabled]:hover .icon i,
.focused .row button:hover.disabled .icon i,
.focused .row a.button:hover.disabled .icon i,
.focused .row button:focus.disabled .icon i,
.focused .row a.button:focus.disabled .icon i,
.focused .row button:hover.disabled:hover .icon i,
.focused .row a.button:hover.disabled:hover .icon i,
.focused .row button:focus.disabled:hover .icon i,
.focused .row a.button:focus.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row button:active .icon i,
.focused .row a.button:active .icon i {
  background: #ffe3b9;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.focused .row button:active[disabled] .icon i,
.focused .row a.button:active[disabled] .icon i,
.focused .row button:active[disabled]:hover .icon i,
.focused .row a.button:active[disabled]:hover .icon i,
.focused .row button:active.disabled .icon i,
.focused .row a.button:active.disabled .icon i,
.focused .row button:active.disabled:hover .icon i,
.focused .row a.button:active.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row button[disabled],
.focused .row a.button[disabled],
.focused .row button[disabled]:hover,
.focused .row a.button[disabled]:hover,
.focused .row button.disabled,
.focused .row a.button.disabled,
.focused .row button.disabled:hover,
.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
}
.focused .row button[disabled] .icon,
.focused .row a.button[disabled] .icon,
.focused .row button[disabled]:hover .icon,
.focused .row a.button[disabled]:hover .icon,
.focused .row button.disabled .icon,
.focused .row a.button.disabled .icon,
.focused .row button.disabled:hover .icon,
.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row button[disabled] .icon i,
.focused .row a.button[disabled] .icon i,
.focused .row button[disabled]:hover .icon i,
.focused .row a.button[disabled]:hover .icon i,
.focused .row button.disabled .icon i,
.focused .row a.button.disabled .icon i,
.focused .row button.disabled:hover .icon i,
.focused .row a.button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row button[disabled] span,
.focused .row a.button[disabled] span,
.focused .row button[disabled]:hover span,
.focused .row a.button[disabled]:hover span,
.focused .row button.disabled span,
.focused .row a.button.disabled span,
.focused .row button.disabled:hover span,
.focused .row a.button.disabled:hover span {
  color: #ccc;
}
.focused .row.focused {
  background: #fff1dd;
}
.focused .row.focused button,
.focused .row.focused a.button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  text-align: start;
  padding: none;
  border-width: 0;
  background: none;
  color: #888;
}
.focused .row.focused button .icon,
.focused .row.focused a.button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.focused .row.focused button .icon i,
.focused .row.focused a.button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.focused .row.focused button span,
.focused .row.focused a.button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.focused .row.focused button:focus,
.focused .row.focused a.button:focus {
  outline: 0;
}
.focused .row.focused button,
.focused .row.focused a.button,
.focused .row.focused button:active,
.focused .row.focused a.button:active {
  cursor: pointer;
}
.focused .row.focused button[disabled],
.focused .row.focused a.button[disabled],
.focused .row.focused button[disabled]:hover,
.focused .row.focused a.button[disabled]:hover,
.focused .row.focused button.disabled,
.focused .row.focused a.button.disabled,
.focused .row.focused button.disabled:hover,
.focused .row.focused a.button.disabled:hover {
  cursor: default;
}
.focused .row.focused button[disabled],
.focused .row.focused a.button[disabled],
.focused .row.focused button[disabled]:hover,
.focused .row.focused a.button[disabled]:hover,
.focused .row.focused button.disabled,
.focused .row.focused a.button.disabled,
.focused .row.focused button.disabled:hover,
.focused .row.focused a.button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.focused .row.focused button[disabled] .icon,
.focused .row.focused a.button[disabled] .icon,
.focused .row.focused button[disabled]:hover .icon,
.focused .row.focused a.button[disabled]:hover .icon,
.focused .row.focused button.disabled .icon,
.focused .row.focused a.button.disabled .icon,
.focused .row.focused button.disabled:hover .icon,
.focused .row.focused a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row.focused button[disabled] .icon i,
.focused .row.focused a.button[disabled] .icon i,
.focused .row.focused button[disabled]:hover .icon i,
.focused .row.focused a.button[disabled]:hover .icon i,
.focused .row.focused button.disabled .icon i,
.focused .row.focused a.button.disabled .icon i,
.focused .row.focused button.disabled:hover .icon i,
.focused .row.focused a.button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.focused .row.focused button[disabled] span,
.focused .row.focused a.button[disabled] span,
.focused .row.focused button[disabled]:hover span,
.focused .row.focused a.button[disabled]:hover span,
.focused .row.focused button.disabled span,
.focused .row.focused a.button.disabled span,
.focused .row.focused button.disabled:hover span,
.focused .row.focused a.button.disabled:hover span {
  color: #ccc;
}
.focused .row.focused button .icon,
.focused .row.focused a.button .icon {
  background: none;
  border-color: #888;
}
.focused .row.focused button .icon i,
.focused .row.focused a.button .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row.focused button span,
.focused .row.focused a.button span {
  color: #888;
}
.focused .row.focused button:hover,
.focused .row.focused a.button:hover,
.focused .row.focused button:focus,
.focused .row.focused a.button:focus {
  background: #fda;
  color: #777;
}
.focused .row.focused button:hover .icon,
.focused .row.focused a.button:hover .icon,
.focused .row.focused button:focus .icon,
.focused .row.focused a.button:focus .icon {
  background: white;
  border-color: #777;
}
.focused .row.focused button:hover .icon i,
.focused .row.focused a.button:hover .icon i,
.focused .row.focused button:focus .icon i,
.focused .row.focused a.button:focus .icon i {
  border-color: #e4c392;
  background: #fda;
}
.focused .row.focused button:hover span,
.focused .row.focused a.button:hover span,
.focused .row.focused button:focus span,
.focused .row.focused a.button:focus span {
  color: #777;
}
.focused .row.focused button:hover .icon i,
.focused .row.focused a.button:hover .icon i,
.focused .row.focused button:focus .icon i,
.focused .row.focused a.button:focus .icon i {
  background: #fda;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.focused .row.focused button:hover[disabled] .icon i,
.focused .row.focused a.button:hover[disabled] .icon i,
.focused .row.focused button:focus[disabled] .icon i,
.focused .row.focused a.button:focus[disabled] .icon i,
.focused .row.focused button:hover[disabled]:hover .icon i,
.focused .row.focused a.button:hover[disabled]:hover .icon i,
.focused .row.focused button:focus[disabled]:hover .icon i,
.focused .row.focused a.button:focus[disabled]:hover .icon i,
.focused .row.focused button:hover.disabled .icon i,
.focused .row.focused a.button:hover.disabled .icon i,
.focused .row.focused button:focus.disabled .icon i,
.focused .row.focused a.button:focus.disabled .icon i,
.focused .row.focused button:hover.disabled:hover .icon i,
.focused .row.focused a.button:hover.disabled:hover .icon i,
.focused .row.focused button:focus.disabled:hover .icon i,
.focused .row.focused a.button:focus.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row.focused button:active .icon i,
.focused .row.focused a.button:active .icon i {
  background: #ffd390;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.focused .row.focused button:active[disabled] .icon i,
.focused .row.focused a.button:active[disabled] .icon i,
.focused .row.focused button:active[disabled]:hover .icon i,
.focused .row.focused a.button:active[disabled]:hover .icon i,
.focused .row.focused button:active.disabled .icon i,
.focused .row.focused a.button:active.disabled .icon i,
.focused .row.focused button:active.disabled:hover .icon i,
.focused .row.focused a.button:active.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row.focused button[disabled],
.focused .row.focused a.button[disabled],
.focused .row.focused button[disabled]:hover,
.focused .row.focused a.button[disabled]:hover,
.focused .row.focused button.disabled,
.focused .row.focused a.button.disabled,
.focused .row.focused button.disabled:hover,
.focused .row.focused a.button.disabled:hover {
  background: none;
  color: #ccc;
}
.focused .row.focused button[disabled] .icon,
.focused .row.focused a.button[disabled] .icon,
.focused .row.focused button[disabled]:hover .icon,
.focused .row.focused a.button[disabled]:hover .icon,
.focused .row.focused button.disabled .icon,
.focused .row.focused a.button.disabled .icon,
.focused .row.focused button.disabled:hover .icon,
.focused .row.focused a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row.focused button[disabled] .icon i,
.focused .row.focused a.button[disabled] .icon i,
.focused .row.focused button[disabled]:hover .icon i,
.focused .row.focused a.button[disabled]:hover .icon i,
.focused .row.focused button.disabled .icon i,
.focused .row.focused a.button.disabled .icon i,
.focused .row.focused button.disabled:hover .icon i,
.focused .row.focused a.button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row.focused button[disabled] span,
.focused .row.focused a.button[disabled] span,
.focused .row.focused button[disabled]:hover span,
.focused .row.focused a.button[disabled]:hover span,
.focused .row.focused button.disabled span,
.focused .row.focused a.button.disabled span,
.focused .row.focused button.disabled:hover span,
.focused .row.focused a.button.disabled:hover span {
  color: #ccc;
}
.focused .row.focused:hover {
  background: #fff1dd;
}
.focused .row:hover {
  background: #fffaf1;
}
.focused .row .editable-display:hover {
  background: #fffefc;
}
.focused .row.focused .editable-display:hover {
  background: #fffaf1;
}
.editable {
  bottom: 4px;
  right: 4px;
  position: relative;
  width: 100%;
}
.editable .editable-display {
  border: 1px solid transparent;
  padding-top: 4px;
  padding-left: 4px;
  cursor: pointer;
}
.editable .editable-display:hover {
  border: 1px dashed #f8c77e;
  border-radius: 3px;
  background: #fffaf1;
  padding-right: 20px;
}
.editable .editable-display:hover:after {
  position: absolute;
  content: '\e807';
  right: 5px;
  top: 5px;
  font-family: "fontello";
  font-size: 16px;
  color: #ddc299;
}
.heading {
  margin-bottom: 5px;
}
.heading .editable-display h3 {
  margin: 0;
  margin-bottom: 5px;
}
.heading .editable-edit input[type="text"] {
  display: block;
  font-size: 150%;
  font-weight: 300;
  margin-bottom: 6px;
  width: 100%;
}
.product-price .editable-display {
  min-height: 25px;
}
.product-price .editable-edit {
  padding-left: 5px;
}
.product-price .editable-edit .price {
  width: 86px;
  margin-left: 3px;
}
.product-unit-quantity .editable-display {
  min-height: 25px;
}
.product-unit-quantity .editable-edit {
  padding-left: 5px;
}
.product-unit-quantity .editable-edit input {
  width: 42px;
}
.round-customers .editable-display p,
.box-products-old .editable-display p {
  margin: 0px 0 5px 0;
}
.round-customers .editable-edit,
.box-products-old .editable-edit {
  padding-top: 4px;
}
.round-customers ul li,
.box-products-old ul li {
  margin-bottom: 10px;
}
.round-customers ul li:first-child,
.box-products-old ul li:first-child {
  margin-top: 5px;
}
.round-customers ul li:last-child,
.box-products-old ul li:last-child {
  margin-bottom: 5px;
}
.round-customers ul li.focused,
.box-products-old ul li.focused {
  background: #fffaf1;
}
.address .editable {
  padding-left: 1px;
  margin-bottom: 3px;
}
.address .editable .editable-display {
  min-height: 25px;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.address .editable .editable-edit {
  margin-bottom: 1px;
}
.email .editable {
  padding-left: 2px;
  margin-bottom: 3px;
}
.email .editable .editable-display {
  min-height: 25px;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.email .editable .editable-edit {
  margin-bottom: 1px;
}
.tel .editable {
  margin-bottom: 3px;
}
.tel .editable .editable-display {
  min-height: 25px;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tel .editable .editable-edit {
  margin-bottom: 1px;
}
.price-detail {
  width: 300px;
}
.unit-type-detail {
  width: 300px;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
}
.flex > div {
  margin: 0 20px;
}
.flex > div:first-child {
  margin-left: 0;
}
.customer-details > div {
  margin-top: 10px;
  padding-left: 22px;
  position: relative;
}
.customer-details > div i {
  color: #bbb;
  position: absolute;
  left: 0;
}
.customer-details > div i::before {
  margin: 0;
  padding: 0;
}
.customer-details > div:first-child {
  margin-top: 0;
}
.customer-details > div textarea,
.customer-details > div input[type="text"],
.customer-details > div input[type="password"] {
  width: 378px;
}
.customer-details > div textarea {
  height: 80px;
}
@media only screen and (min-width : 669px) {
  .customer-details {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
  }
  .customer-details > div {
    margin: 0 20px;
  }
  .customer-details > div:first-child {
    margin-left: 0;
  }
  .customer-details > div textarea,
  .customer-details > div input[type="text"],
  .customer-details > div input[type="password"] {
    width: 100%;
  }
  .customer-details > div:last-of-type {
    width: 1px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .customer-details .address {
    width: 50%;
    flex-shrink: 2;
    min-width: 120px;
  }
  .customer-details .email {
    width: 40%;
    min-width: 150px;
    flex-shrink: 1;
  }
  .customer-details .tel {
    width: 10%;
    min-width: 145px;
    flex-shrink: 0;
  }
}
.round-customers,
.box-products-old {
  border: 1px solid transparent;
}
.round-customers .round-customer,
.box-products-old .round-customer,
.round-customers .box-product-old,
.box-products-old .box-product-old {
  display: flex;
}
.round-customers .round-customer .round-customer-detail,
.box-products-old .round-customer .round-customer-detail,
.round-customers .box-product-old .round-customer-detail,
.box-products-old .box-product-old .round-customer-detail,
.round-customers .round-customer .box-product-old-detail,
.box-products-old .round-customer .box-product-old-detail,
.round-customers .box-product-old .box-product-old-detail,
.box-products-old .box-product-old .box-product-old-detail {
  padding: 5px;
}
.round-customers .round-customer .round-customer-detail.round-customer-name,
.box-products-old .round-customer .round-customer-detail.round-customer-name,
.round-customers .box-product-old .round-customer-detail.round-customer-name,
.box-products-old .box-product-old .round-customer-detail.round-customer-name,
.round-customers .round-customer .box-product-old-detail.round-customer-name,
.box-products-old .round-customer .box-product-old-detail.round-customer-name,
.round-customers .box-product-old .box-product-old-detail.round-customer-name,
.box-products-old .box-product-old .box-product-old-detail.round-customer-name,
.round-customers .round-customer .round-customer-detail.box-product-old-name,
.box-products-old .round-customer .round-customer-detail.box-product-old-name,
.round-customers .box-product-old .round-customer-detail.box-product-old-name,
.box-products-old .box-product-old .round-customer-detail.box-product-old-name,
.round-customers .round-customer .box-product-old-detail.box-product-old-name,
.box-products-old .round-customer .box-product-old-detail.box-product-old-name,
.round-customers .box-product-old .box-product-old-detail.box-product-old-name,
.box-products-old .box-product-old .box-product-old-detail.box-product-old-name {
  padding-left: 0;
  width: 40%;
}
.round-customers .round-customer .round-customer-detail.round-customer-address,
.box-products-old .round-customer .round-customer-detail.round-customer-address,
.round-customers .box-product-old .round-customer-detail.round-customer-address,
.box-products-old .box-product-old .round-customer-detail.round-customer-address,
.round-customers .round-customer .box-product-old-detail.round-customer-address,
.box-products-old .round-customer .box-product-old-detail.round-customer-address,
.round-customers .box-product-old .box-product-old-detail.round-customer-address,
.box-products-old .box-product-old .box-product-old-detail.round-customer-address {
  width: 60%;
}
.round-customers .round-customer .round-customer-detail.box-product-old-quantity,
.box-products-old .round-customer .round-customer-detail.box-product-old-quantity,
.round-customers .box-product-old .round-customer-detail.box-product-old-quantity,
.box-products-old .box-product-old .round-customer-detail.box-product-old-quantity,
.round-customers .round-customer .box-product-old-detail.box-product-old-quantity,
.box-products-old .round-customer .box-product-old-detail.box-product-old-quantity,
.round-customers .box-product-old .box-product-old-detail.box-product-old-quantity,
.box-products-old .box-product-old .box-product-old-detail.box-product-old-quantity {
  width: 60%;
}
.round-customers .round-customer .round-customer-detail.round-customer-action,
.box-products-old .round-customer .round-customer-detail.round-customer-action,
.round-customers .box-product-old .round-customer-detail.round-customer-action,
.box-products-old .box-product-old .round-customer-detail.round-customer-action,
.round-customers .round-customer .box-product-old-detail.round-customer-action,
.box-products-old .round-customer .box-product-old-detail.round-customer-action,
.round-customers .box-product-old .box-product-old-detail.round-customer-action,
.box-products-old .box-product-old .box-product-old-detail.round-customer-action,
.round-customers .round-customer .round-customer-detail.box-product-old-action,
.box-products-old .round-customer .round-customer-detail.box-product-old-action,
.round-customers .box-product-old .round-customer-detail.box-product-old-action,
.box-products-old .box-product-old .round-customer-detail.box-product-old-action,
.round-customers .round-customer .box-product-old-detail.box-product-old-action,
.box-products-old .round-customer .box-product-old-detail.box-product-old-action,
.round-customers .box-product-old .box-product-old-detail.box-product-old-action,
.box-products-old .box-product-old .box-product-old-detail.box-product-old-action {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0;
}
.round-customers .spacer,
.box-products-old .spacer {
  display: block;
  width: 22px;
}
.round-customers .editable-display,
.box-products-old .editable-display {
  padding: 0 4px;
  margin-top: 0;
}
.round-customers .editable-display:hover .round-customers-display,
.box-products-old .editable-display:hover .round-customers-display,
.round-customers .editable-display:hover .box-products-old-display,
.box-products-old .editable-display:hover .box-products-old-display {
  margin-right: -16px;
}
.round-customers .editable-edit,
.box-products-old .editable-edit {
  padding: 0 4px;
  border: 1px solid #f8c77e;
  border-radius: 3px;
  background: #fff;
}
.round-customers .editable-edit a,
.box-products-old .editable-edit a {
  display: block;
  border-radius: 22px;
  width: 22px;
  height: 22px;
  position: relative;
  top: 2px;
}
.round-customers .editable-edit a .icon,
.box-products-old .editable-edit a .icon {
  width: 22px;
  padding: 5px;
}
.round-customers .editable-edit a .icon i,
.box-products-old .editable-edit a .icon i {
  position: relative;
  left: -6px;
  top: -2px;
  color: #999;
}
.round-customers .editable-edit a .icon i.icon-add,
.box-products-old .editable-edit a .icon i.icon-add {
  top: -1px;
}
.round-customers .editable-edit a:hover i,
.box-products-old .editable-edit a:hover i,
.round-customers .editable-edit a:focus i,
.box-products-old .editable-edit a:focus i {
  color: #ddc299;
}
.round-customers .editable-edit a .spacer,
.box-products-old .editable-edit a .spacer {
  display: none;
}
.round-customers .editable-edit .round-customers-add,
.box-products-old .editable-edit .round-customers-add,
.round-customers .editable-edit .box-products-old-add,
.box-products-old .editable-edit .box-products-old-add {
  position: relative;
  left: -4px;
  padding-left: 4px;
  padding-right: 4px;
  width: calc(100% + 8px);
  border-top: 1px solid #fff5e7;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #bbb;
  display: block;
  background: #fffaf1;
}
.round-customers .editable-edit .round-customers-add:first-child,
.box-products-old .editable-edit .round-customers-add:first-child,
.round-customers .editable-edit .box-products-old-add:first-child,
.box-products-old .editable-edit .box-products-old-add:first-child {
  border-top: none;
}
.group:after {
  content: ' ';
  display: table;
  clear: both;
}
.email-edit {
  background: #fafafa;
  margin-left: 0px;
  padding: 10px;
  padding-left: 12px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 0;
}
.email-edit label {
  display: block;
  float: left;
  width: 70px;
}
.email-edit .field {
  float: left;
  width: calc(100% - 70px);
}
.email-edit .form-row {
  margin-bottom: 10px;
}
.email-edit .form-row:after {
  content: ' ';
  display: table;
  clear: both;
}
.email-edit input[type="text"],
.email-edit input[type="password"],
.email-edit textarea {
  position: relative;
  top: -5px;
}
.email-edit textarea {
  display: block;
  height: 200px;
  top: -4px;
}
.email-edit .recipients li {
  margin-bottom: 5px;
}
.email-edit .row-view {
  margin-top: -2px;
  margin-right: -10px;
}
.email-edit.focused {
  background: #fff1dd;
}
.email-edit.focused .row button,
.email-edit.focused .row a.button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  text-align: start;
  padding: none;
  border-width: 0;
  background: none;
  color: #888;
}
.email-edit.focused .row button .icon,
.email-edit.focused .row a.button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.email-edit.focused .row button .icon i,
.email-edit.focused .row a.button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.email-edit.focused .row button span,
.email-edit.focused .row a.button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.email-edit.focused .row button:focus,
.email-edit.focused .row a.button:focus {
  outline: 0;
}
.email-edit.focused .row button,
.email-edit.focused .row a.button,
.email-edit.focused .row button:active,
.email-edit.focused .row a.button:active {
  cursor: pointer;
}
.email-edit.focused .row button[disabled],
.email-edit.focused .row a.button[disabled],
.email-edit.focused .row button[disabled]:hover,
.email-edit.focused .row a.button[disabled]:hover,
.email-edit.focused .row button.disabled,
.email-edit.focused .row a.button.disabled,
.email-edit.focused .row button.disabled:hover,
.email-edit.focused .row a.button.disabled:hover {
  cursor: default;
}
.email-edit.focused .row button[disabled],
.email-edit.focused .row a.button[disabled],
.email-edit.focused .row button[disabled]:hover,
.email-edit.focused .row a.button[disabled]:hover,
.email-edit.focused .row button.disabled,
.email-edit.focused .row a.button.disabled,
.email-edit.focused .row button.disabled:hover,
.email-edit.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.email-edit.focused .row button[disabled] .icon,
.email-edit.focused .row a.button[disabled] .icon,
.email-edit.focused .row button[disabled]:hover .icon,
.email-edit.focused .row a.button[disabled]:hover .icon,
.email-edit.focused .row button.disabled .icon,
.email-edit.focused .row a.button.disabled .icon,
.email-edit.focused .row button.disabled:hover .icon,
.email-edit.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.email-edit.focused .row button[disabled] .icon i,
.email-edit.focused .row a.button[disabled] .icon i,
.email-edit.focused .row button[disabled]:hover .icon i,
.email-edit.focused .row a.button[disabled]:hover .icon i,
.email-edit.focused .row button.disabled .icon i,
.email-edit.focused .row a.button.disabled .icon i,
.email-edit.focused .row button.disabled:hover .icon i,
.email-edit.focused .row a.button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.email-edit.focused .row button[disabled] span,
.email-edit.focused .row a.button[disabled] span,
.email-edit.focused .row button[disabled]:hover span,
.email-edit.focused .row a.button[disabled]:hover span,
.email-edit.focused .row button.disabled span,
.email-edit.focused .row a.button.disabled span,
.email-edit.focused .row button.disabled:hover span,
.email-edit.focused .row a.button.disabled:hover span {
  color: #ccc;
}
.email-edit.focused .row button .icon,
.email-edit.focused .row a.button .icon {
  background: none;
  border-color: #888;
}
.email-edit.focused .row button .icon i,
.email-edit.focused .row a.button .icon i {
  border-color: #ccc;
  background: none;
}
.email-edit.focused .row button span,
.email-edit.focused .row a.button span {
  color: #888;
}
.email-edit.focused .row button:hover,
.email-edit.focused .row a.button:hover,
.email-edit.focused .row button:focus,
.email-edit.focused .row a.button:focus {
  background: #fda;
  color: #777;
}
.email-edit.focused .row button:hover .icon,
.email-edit.focused .row a.button:hover .icon,
.email-edit.focused .row button:focus .icon,
.email-edit.focused .row a.button:focus .icon {
  background: white;
  border-color: #777;
}
.email-edit.focused .row button:hover .icon i,
.email-edit.focused .row a.button:hover .icon i,
.email-edit.focused .row button:focus .icon i,
.email-edit.focused .row a.button:focus .icon i {
  border-color: #e4c392;
  background: #fda;
}
.email-edit.focused .row button:hover span,
.email-edit.focused .row a.button:hover span,
.email-edit.focused .row button:focus span,
.email-edit.focused .row a.button:focus span {
  color: #777;
}
.email-edit.focused .row button:hover .icon i,
.email-edit.focused .row a.button:hover .icon i,
.email-edit.focused .row button:focus .icon i,
.email-edit.focused .row a.button:focus .icon i {
  background: #fda;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.email-edit.focused .row button:hover[disabled] .icon i,
.email-edit.focused .row a.button:hover[disabled] .icon i,
.email-edit.focused .row button:focus[disabled] .icon i,
.email-edit.focused .row a.button:focus[disabled] .icon i,
.email-edit.focused .row button:hover[disabled]:hover .icon i,
.email-edit.focused .row a.button:hover[disabled]:hover .icon i,
.email-edit.focused .row button:focus[disabled]:hover .icon i,
.email-edit.focused .row a.button:focus[disabled]:hover .icon i,
.email-edit.focused .row button:hover.disabled .icon i,
.email-edit.focused .row a.button:hover.disabled .icon i,
.email-edit.focused .row button:focus.disabled .icon i,
.email-edit.focused .row a.button:focus.disabled .icon i,
.email-edit.focused .row button:hover.disabled:hover .icon i,
.email-edit.focused .row a.button:hover.disabled:hover .icon i,
.email-edit.focused .row button:focus.disabled:hover .icon i,
.email-edit.focused .row a.button:focus.disabled:hover .icon i {
  box-shadow: none;
}
.email-edit.focused .row button:active .icon i,
.email-edit.focused .row a.button:active .icon i {
  background: #ffd390;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.email-edit.focused .row button:active[disabled] .icon i,
.email-edit.focused .row a.button:active[disabled] .icon i,
.email-edit.focused .row button:active[disabled]:hover .icon i,
.email-edit.focused .row a.button:active[disabled]:hover .icon i,
.email-edit.focused .row button:active.disabled .icon i,
.email-edit.focused .row a.button:active.disabled .icon i,
.email-edit.focused .row button:active.disabled:hover .icon i,
.email-edit.focused .row a.button:active.disabled:hover .icon i {
  box-shadow: none;
}
.email-edit.focused .row button[disabled],
.email-edit.focused .row a.button[disabled],
.email-edit.focused .row button[disabled]:hover,
.email-edit.focused .row a.button[disabled]:hover,
.email-edit.focused .row button.disabled,
.email-edit.focused .row a.button.disabled,
.email-edit.focused .row button.disabled:hover,
.email-edit.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
}
.email-edit.focused .row button[disabled] .icon,
.email-edit.focused .row a.button[disabled] .icon,
.email-edit.focused .row button[disabled]:hover .icon,
.email-edit.focused .row a.button[disabled]:hover .icon,
.email-edit.focused .row button.disabled .icon,
.email-edit.focused .row a.button.disabled .icon,
.email-edit.focused .row button.disabled:hover .icon,
.email-edit.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.email-edit.focused .row button[disabled] .icon i,
.email-edit.focused .row a.button[disabled] .icon i,
.email-edit.focused .row button[disabled]:hover .icon i,
.email-edit.focused .row a.button[disabled]:hover .icon i,
.email-edit.focused .row button.disabled .icon i,
.email-edit.focused .row a.button.disabled .icon i,
.email-edit.focused .row button.disabled:hover .icon i,
.email-edit.focused .row a.button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
.email-edit.focused .row button[disabled] span,
.email-edit.focused .row a.button[disabled] span,
.email-edit.focused .row button[disabled]:hover span,
.email-edit.focused .row a.button[disabled]:hover span,
.email-edit.focused .row button.disabled span,
.email-edit.focused .row a.button.disabled span,
.email-edit.focused .row button.disabled:hover span,
.email-edit.focused .row a.button.disabled:hover span {
  color: #ccc;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #f8c77e;
}
:focus,
:active {
  outline: 0;
}
::-moz-focus-inner {
  border: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #aaa;
}
.box-products {
  margin: 10px 0 10px 0;
}
.box-products::after {
  display: block;
  clear: left;
  content: ' ';
  height: 0px;
}
.box-products .box-product-column {
  float: left;
}
.box-products .box-product-column::after {
  display: block;
  clear: left;
  content: ' ';
  height: 0px;
}
.box-products .box-product-column .box-product::after {
  display: block;
  clear: left;
  content: ' ';
  height: 0px;
}
.box-products .box-product-column .box-product.remove-hover {
  color: #ffa011;
}
.box-products .box-product-column .box-product i {
  font-size: 80%;
  display: none;
}
.box-products .box-product-column .box-product i::before {
  margin: 0;
}
.box-products .box-product-column .box-product i:hover {
  color: #ffa011;
  cursor: pointer;
}
.box-products .box-product-column .box-product i + i {
  margin-left: 2px;
}
.box-products .box-product-column .box-product .box-product-detail {
  float: left;
  padding: 0;
  height: 24px;
}
.box-products .box-product-column .box-product .box-product-detail::before {
  display: inline-block;
  height: 100%;
  width: 0px;
  vertical-align: text-bottom;
  content: ' ';
}
.box-products .box-product-column .box-product .box-product-name select {
  display: inline-block;
  height: 22px;
  padding: 0;
  position: relative;
  top: -1px;
  left: -5px;
}
.box-products .box-product-column .box-product .box-product-quantity {
  border-radius: 2px;
  border: 1px solid transparent;
  padding-left: 2px;
}
.box-products .box-product-column .box-product .box-product-quantity input {
  display: inline-block;
  width: 42px;
  height: 22px;
  padding: 0 4px;
  position: relative;
  left: -5px;
}
.box-products .box-product-column .box-product .box-product-quantity .box-product-quantity-each {
  display: inline-block;
  width: 10px;
}
.box-products .box-product-column .box-product .box-product-quantity .box-product-quantity-perkg {
  position: relative;
  left: -5px;
}
.box-products .box-product-column .box-product .box-product-quantity.box-product-display:hover,
.box-products .box-product-column .box-product .box-product-quantity.box-product-display.hover {
  color: #ffa011;
  cursor: pointer;
}
.box-products .box-product-column .box-product .box-product-quantity.box-product-display:hover i,
.box-products .box-product-column .box-product .box-product-quantity.box-product-display.hover i {
  display: inline;
}
.box-products .box-product-column .box-product .box-product-quantity.box-product-edit i {
  display: inline;
}
.box-products .box-product-column .box-product .box-product-action {
  width: 32px;
}
.box-products .box-product-column .box-product.box-product-add {
  display: none;
}
.box-products:hover .box-product .box-product-action i {
  display: inline;
}
.box-products:hover .box-product.box-product-add {
  display: block;
}
.box-products:hover .box-product.box-product-add:hover .box-product-display {
  color: #ffa011;
  cursor: pointer;
}
.box-products.adding .box-product .box-product-action i,
.box-products.editing .box-product .box-product-action i {
  display: inline;
}
.box-products.adding .box-product.box-product-add,
.box-products.editing .box-product.box-product-add {
  display: block;
}
.width-test {
  position: absolute;
  left: -10000px;
}
