@import "variables";
@import "mixins";

// * {
//   background: rgba(255,0,0,0.1) !important;
//   border-color: black !important;
// }

html {
  height: 100%;
}

body {
  min-height: 100%;
  min-width: 380px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
}

.page {
  padding: 170px 10px 10px 10px;

  @media @header-side-by-side {
    padding-top: 106px;
  }

  h2, p {
    margin-left:10px;
  }

  p {
    font-weight: 300;
    color:black;
    font-size:110%;

    .icon-spin3 {
      margin-right: 5px;
      color: #555;
      font-size: 80%;
    }
  }  
}

input[type="text"], input[type="password"], select, textarea {
  color: #999; 
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 100%; 
  margin:0;
}

select {
  padding: 1px 0px;
}

.row-view {
  position: relative;

  .add-button {
    position: absolute;
    right: 0;
    top: -80px;
    height: 80px;
  }

  button.top-level {
    position: absolute;
    top:-83px;
    height: 83px;
    right:0;
  }

  p {
    margin-top:20px;
  }

  *:nth-child(2n) > .row {
    background: #fafafa;
  }

  .row {
    min-height: 83px;
    border-top: 1px solid lighten(@itemBorderColor, 10%); 
    padding: 0;
    position: relative;

    &.add-mode {
      border-bottom: 1px solid lighten(@itemBorderColor, 10%);
    }
    &.no-border, &.no-border.add-mode {
      border: none;
    }

    &:hover {
      background: @itemHoverColor;
    }
    &.no-hover:hover {
      background: inherit;
    }

    .actions {
      float: right;
      height:30px;
      padding-right:4px;
      
      .action {
        margin-right: -4px;
        display: inline-block;
        width: 66px;
        height: 83px;

        button, a.button {
          position: absolute;
          height:100%;
          top:0;
        }
      }
    }

    .details {
      overflow: hidden;
      padding: 15px 10px 0px 10px;
    }
  }
}

.focused {
  .row {
    button, a.button {
      .button(outline; small; darken(@itemHoverColor, 2%));
    }
    
    &.focused {
      background: @itemHoverColor;
      button, a.button {
        .button(outline; small; @highlight);
      }
    }
    &.focused:hover {
      background: @itemHoverColor;
    }

    &:hover {
      background: lighten(@itemHoverColor, 4%);
    }
    
    .editable-display:hover {
      background: lighten(@itemHoverColor, 6%);
    }
  }
  .row.focused {
    .editable-display:hover {
      background: lighten(@itemHoverColor, 4%);
    }
  }
}

.price-detail {
  width: 100%;
}

.flex {
  display:flex; 
  flex-direction:row; 
  flex-grow:0; 
  justify-content: space-between;

  // & > div {
  //   //margin: 0 20px;

  //   &:first-child {
  //     margin-left:0;
  //   }
  // }
}

.group {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

.email-edit {
  @labelWidth: 70px;
  background: #fafafa;

  margin-left: 0px;
  padding: 10px;
  padding-left: 12px;
  border-top: 1px solid lighten(@itemBorderColor, 10%); 
  border-bottom: 1px solid lighten(@itemBorderColor, 10%);
  padding-bottom: 0; 

  .removed {
    text-decoration: line-through;
  }

  label {
    display: block;
    float: left;
    width: @labelWidth;
  }

  .field {
    float: left;
    width: calc(~"100% - @{labelWidth}");
  }

  .form-row {
    margin-bottom: 10px;
    .group();
  }

  input[type="text"], input[type="password"], textarea {
    position: relative;
    top:-5px;
  }

  textarea {
    display: block;
    height: 200px;
    top: -4px;
  }

  .recipients {
    li {
      margin-bottom: 5px;
    }
  }

  .row-view {
    margin-top: -2px;
    margin-right: -10px;
  }

  &.focused, &:hover {
    background: @itemHoverColor;
    .row {
      button, a.button {
        .button(outline; small; @highlight);
      }
    }
  }

  &.invalid {
    .input-wrapper.invalid {
      .icon-warning {
        top: -3px;
      }
    }

    .message {
      .input-wrapper.invalid {
        .icon-warning {
          top: -2px;
        }
      } 
    }
  }
}

input[type="text"], input[type="password"], textarea, select {
  &:focus {
    @col: desaturate(darken(@itemHoverColor, 20%),10%);
    border: 1px solid desaturate(darken(@itemHoverColor, 20%),10%);
    box-shadow: @col 0px 0px 1px 0px,  
                fade(@col, 30%) 0px 0px 2px 0px inset;  
  }
}

:focus, :active {outline:0;}
::-moz-focus-inner {border:0;}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #aaa;
}

@boxProductHover: darken(@highlight, 30%);
@boxProductFadeout: desaturate(darken(@itemHoverColor, 15%), 40%);

.boxProductClearFix() {
  &::after {
    display: block;
    clear: left;
    content: ' ';
    height: 0px;
  }
}


.width-test {
  position: absolute;
  left: -10000px;
  top: -10000px;
}

.editable-value {
  position: relative;

  i {
    color: #999;
    font-size: 80%;

    &:before {
      margin: 0;
    }
  }
  
  .editable-value-display {
    padding-bottom: 2px;
    
    a.edit {
      position: relative;
      left: -10000px;

      &:hover {
        i {
          color: @boxProductHover;
        }
      }
    }

    &:hover {
      cursor: pointer;
      color: @boxProductHover;
      
      a.edit {
        left: 0;
        i {
          color: @boxProductHover;
        }
      }
    }
  }

  .editable-value-outer {
    position: absolute;
    width: 100%;
    top: 0;
    left: -10000px;
  }

  .editable-value-edit {
    display: inline-block;
    position: absolute;
    z-index: 2;
    left: -3px;
    top: -6px;
    padding: 2px 4px;
    padding-right: 36px;
    background: desaturate(darken(@itemHoverColor, 6%), 0%);
    border-radius: 2px;

    a {
      position: absolute;
      top: 8px;

      &:hover {
        i {
          color: @boxProductHover;
        }
      }

      &:first-of-type {
        right: 17px;
      }

      &:last-of-type {
        right: 4px;
      }
    }

    &.invalid {
      a:first-of-type {
        &:hover, &:focus {
          cursor: auto;

          i {
            color: #999;
          }
        }
      }
    }
  }

  &.editing {
    .editable-value-display {
      visibility: hidden;
    }    

    .editable-value-outer {
      left: 0px;
    }
  }

  &.add-mode {
    .editable-value-edit {
      background: inherit;

      a {
        display: none;
      }
    }
  }
}

.input-wrapper {
  position: relative;
  //vertical-align: top;

  .icon-warning {
    font-size: 80%;
    padding: 0;
    color: #E80000;
    position: absolute;
    top: 4px;
    cursor: help;
    z-index: 2;
    left: -10000px;
  }
}

.invalid {
  .input-wrapper.invalid {
    input[type="text"], input[type="password"], textarea, select {
      border: 1px solid #E80000;
      box-shadow: fade(#E80000, 50%) 0px 0px 3px 0px,  
                  #E80000 0px 0px 2px 0px inset;
      padding-right:18px;
    }

    .icon-warning {
      left: inherit;
      right: 6px;
    }
  }
}

input[type="text"].price {
  width: 66px;
}


.box-price {
  .editable-value-display {
    border: 1px solid transparent;
  }

  .input-wrapper.invalid {
    .icon-warning {
      top: 3px;
      right: 8px;
    }
  }
}

.product-price {
  height: 30px;

  .editable-value-display {
    border: 1px solid transparent;

    &:hover {
      .muted {
        color: desaturate(lighten(@boxProductHover, 20%), 10%) !important;
      }
    }
  }

  .editable-value-edit {
    &.invalid {
      .input-wrapper {
        &.invalid {
          .icon-warning {
            top: 3px;
            right: 8px;
          }
        }
      }
    }
  }
}

.heading {
  .editable-value-display {
    border: 1px solid transparent;

    h3 {
      display: inline-block;
    }

    &:hover {
      h3 {
        color: @boxProductHover;
      }
    }
  }

  .editable-value-edit {
    left: -6px;
    top: -6px;
    padding-left: 2px;
    
    input[type="text"] {
      width: 200px;
      font-size: 150%;
      font-weight: 300;
    }

    a {   
      top: 12px;
    }

    .input-wrapper.invalid {
      .icon-warning {
        top: 0px;
        right: 8px;
      }
    }
  }
}

.box-products {
  .boxProductClearFix;
  margin-bottom: 10px;

  table {
    float: left;

    td {
      padding: 5px 0 0 0;
    }
  }

  .box-product-name {
    padding-right: 5px;
  }

  .box-product-quantity {
    input[type="text"] {
      width: 62px;
    }

    .invalid {
      .input-wrapper.invalid {
        .icon-warning {
          right: 8px;
          top: 3px;
        }
      }
    }
  }

  i {
    font-size: 80%;
    color: #999;

    &::before {
      margin: 0;
    }
  }

  a {
    &:hover, &:focus {
      i {
        color: @boxProductHover;
      }
    }
  }

  .show-on-edit {
    position: relative;
    left: -10000px;
  }

  &:hover, &.editing {
    .show-on-edit {
      left: 0px;     
    }
  }

  .box-product-quantity.editable-value {
    .editable-value-display {
      border: 1px solid transparent;
    }

    .editable-value-edit {
      left: -8px;
      top: -6px;
      right: -30px;
      padding-right: 0;
    }
  }

  .no-products {
    //border: 1px solid transparent;
    padding-bottom: 2px;
  }

  .box-product-add {
    display: inline-block;
    clear: both;
    margin-top: 5px;
    margin-bottom: 0px;

    .box-product-add-display {
      a {
        position: relative;
        left: -4px;
      }

      &:hover, &.hover {
        color: @boxProductHover;
        cursor: pointer;

        a {
          i {
            color: @boxProductHover;
          }
        }
      }
    }

    div, input[type="text"], select, span {
      display: inline-block;
    }

    &.editable-value {
      .editable-value-edit {
        right: -26px;
        left: -9px;
        padding-right: 0;
        height: 28px;

        input[type="text"] {
          position: relative;
          top: 0px;
          left: -3px;
          height: 24px;
        }

        &.invalid {
          .input-wrapper.invalid {
            .icon-warning {
              top: 5px;
              right: 8px;
            }
          }
        }

        .box-product-quantity-each {
          position: relative;
          left: -3px;
        }
      }
    }
  }
}

.round-customers {
  .boxProductClearFix;

  margin-bottom: 3px;

  table {
    td {
      padding: 0 0 7px 0;
    }
  }

  .round-customer-name {
    padding-right: 5px;
  }

  i {
    font-size: 80%;
    color: #999;

    &::before {
      margin: 0;
    }
  }

  a {
    &:hover, &:focus {
      i {
        color: @boxProductHover;
      }
    }
  }

  .show-on-edit {
    position: relative;
    left: -10000px;
  }

  &:hover, &.editing {
    .show-on-edit {
      left: 0px;     
    }
  }

  .round-customer-add {
    .round-customer-add-display {
      a {
        position: relative;
        left: -4px;
      }

      &:hover, &.hover {
        color: @boxProductHover;
        cursor: pointer;

        a {
          i {
            color: @boxProductHover;
          }
        }
      }
    }

    div, input[type="text"], select, span {
      display: inline-block;
    }

    &.editable-value {
      .editable-value-edit {
        right: -17px;
        left: -9px;
        padding-right: 0;
        height: 28px;

        input[type="text"] {
          position: relative;
          top: -4px;
          left: -3px;
          height: 24px;
        }

        &.invalid {
          .input-wrapper.invalid {
            .icon-warning {
              top: -2px;
              right: 4px;
            }
          }
        }
      }
    }
  }
}

.customer-details {
  margin-bottom: 5px;

  .customer-detail {
    .boxProductClearFix;
    display: block;
    margin-bottom: 5px;

    .editable-value {
      .editable-value-display {
        width: 100%;
        display: table;
        
        .detail-marker {
          display: table-cell;
          width: 20px;
          min-width: 20px;
          font-size: 110%;
        }

        .detail-display {
          display: table-cell;
          border: 1px solid transparent;
        }

        &:hover {
          i {
            color: @boxProductHover;
          }
        }
      }

      .editable-value-edit {
        display: table;
        top: -6px;
        padding-top: 3px;
        padding-bottom: 1px;

        .detail-marker {
          display: table-cell;
          font-size: 110%;
          position: relative;
          left: -1px;
          top: -1px;
        }

        .detail-edit {
          display: table-cell;

          .input-wrapper.invalid {
            .icon-warning {
              top: 3px;
              right: 8px;
            }
          }

          input[type="text"] {
            position: relative;
            left: 0px;
            top: -1px;
            width: 100%;
          }
        }
      }
    }
  }
}

.customer-details .customer-detail.address {
  .editable-value {
    &.editing {
      height: 70px;
    }

    .editable-value-edit {
      top: -4px;
      padding-top: 2px;
      padding-bottom: 2px;

      .detail-marker {
        vertical-align: top;
        position: relative;
        left: -1px;
        top: 4px;
      }

      .detail-edit {
        textarea {
          line-height: 1em;
          height: 76px;
        }

        .input-wrapper.invalid {
          .icon-warning {
            top: -51px;
            right: 8px;
          }
        }
      }
    }
  }
}

.customer-details .customer-detail.email {
  .editable-value {
    .editable-value-display {
      table-layout: fixed;
      overflow: hidden;

      .detail-display {
        //overflow: hidden;
        //height: 30px;
      }
    }
  }
}

.customer-add {
  .customer-name {
    input {
      width: 100%;
      font-size: 150%;
      font-weight: 300;
      margin-bottom: 5px;
    }
  }

  &.invalid {
    .customer-name {
      .input-wrapper.invalid {
        .icon-warning {
          right: 6px;
          top: 0px;
        }
      }
    }
  }

  .customer-details {
    .customer-detail {
      .meh {
        width: 100%;
        display: table;

        .detail-marker {
          display: table-cell;
          vertical-align: top;
          width: 20px;
          min-width: 20px;
          
          i {
            font-size: 90%;
            color: #999;
            position: relative;
            left: -3px;
            top: 6px;

            &.icon-mail {
              font-size: 78%;
            }
          }
        }

        .detail-edit {
          display: table-cell;
        }
      }

      input[type="text"], textarea {
        width: 100%;
      }

      textarea {
        height: 76px;
      }

      &.address {
        .input-wrapper.invalid {
          .icon-warning {
            top: -51px;
            right: 6px;
          }
        }
      }
      
      &.tel {
        input[type="text"] {
          max-width: 170px;
        }
      }
    }
  }
}

@customers-same-line: ~"only screen and (min-width : 749px)";
@media @customers-same-line {
  .customer-details {
     .flex;

    .customer-detail {
      padding-right: 10px;
    }

    .address {
      width: 40%;
      min-width: 208px;
    }

    .email {
      width: 40%;
      min-width: 205px;       
    }

    .tel {
      width: 20%;
      min-width: 158px; 
    }

    .customer-detail-end {
      width: 1px;
      flex-grow:0;
      flex-shrink:0;
    }
  }
}

.box-add {
  .box-name {
    input {
      width: 100%;
      font-size: 150%;
      font-weight: 300;
    }
  }

  &.invalid {
    .box-name {
      .input-wrapper.invalid {
        .icon-warning {
          right: 6px;
          top: 0px;
        }
      }
    }
  }
}

.round-add {
  .round-name {
    input {
      width: 100%;
      font-size: 150%;
      font-weight: 300;
    }
  }

  &.invalid {
    .round-name {
      .input-wrapper.invalid {
        .icon-warning {
          right: 6px;
          top: 0px;
        }
      }
    }
  }
}

.product-add {
  .product-name {
    input {
      width: 100%;
      font-size: 150%;
      font-weight: 300;
    }
  }

  &.invalid {
    .product-name {
      .input-wrapper.invalid {
        .icon-warning {
          right: 6px;
          top: 0px;
        }
      }
    }
  }
}

.email-edit {
  &.focused, &:hover {
    .muted {
      color: desaturate(lighten(@boxProductHover, 20%), 10%) !important;
    }
  }
}

.customer-order {
  // .boxProductClearFix;
  input[type="text"] {
    width: 62px;
  }

  margin-top: 20px;
  margin-bottom: 10px;

  .customer-order-item {
    .boxProductClearFix;
    margin-top: 5px;

    .customer-order-item-name {
      display: inline-block;
    }

    .customer-order-item-quantity {
      display: inline-block;
      margin-left: 10px;
    }
  }

  .box-product-quantity.editable-value {
    .editable-value-display {
      border: 1px solid transparent;
    }

    .editable-value-edit {
      left: -8px;
      top: -6px;
      right: -58px;
      padding-right: 0;
    }
  }
}