.r {
  border: 1px solid red;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  min-width: 380px;
  box-shadow: inset rgba(0, 0, 0, 0.5) 0px 3px 10px 0px;
}
.page {
  padding: 106px 10px 10px 10px;
}
.page h2,
.page p {
  margin-left: 10px;
}
.page p {
  font-weight: 300;
  color: black;
  font-size: 110%;
}
.page p .icon-spin3 {
  margin-right: 5px;
  color: #555;
  font-size: 80%;
}
input[type="text"],
input[type="password"],
select,
textarea {
  color: #999;
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 100%;
  margin: 0;
}
select {
  padding: 1px 0px;
}
.row-view {
  position: relative;
}
.row-view button.top-level {
  position: absolute;
  top: -83px;
  height: 83px;
  right: 0;
}
.row-view p {
  margin-top: 20px;
}
.row-view *:nth-child(2n - 1) > .row {
  background: #fafafa;
}
.row-view .row {
  min-height: 83px;
  border-top: 1px solid #e6e6e6;
  padding: 0;
  position: relative;
}
.row-view .row.addMode {
  border-bottom: 1px solid #e6e6e6;
}
.row-view .row.no-border,
.row-view .row.no-border.addMode {
  border: none;
}
.row-view .row:hover {
  background: #fff1dd;
}
.row-view .row.no-hover:hover {
  background: inherit;
}
.row-view .row .actions {
  float: right;
  height: 30px;
  padding-right: 4px;
}
.row-view .row .actions .action {
  margin-right: -4px;
  display: inline-block;
  width: 66px;
  height: 83px;
}
.row-view .row .actions .action button,
.row-view .row .actions .action a.button {
  position: absolute;
  height: 100%;
  top: 0;
}
.row-view .row .details {
  overflow: hidden;
  padding: 15px 10px 0px 10px;
}
.focused .row button,
.focused .row a.button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  text-align: start;
  padding: none;
  border-width: 0;
  background: none;
  color: #888;
}
.focused .row button .icon,
.focused .row a.button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.focused .row button .icon i,
.focused .row a.button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.focused .row button span,
.focused .row a.button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.focused .row button:focus,
.focused .row a.button:focus {
  outline: 0;
}
.focused .row button,
.focused .row a.button,
.focused .row button:active,
.focused .row a.button:active {
  cursor: pointer;
}
.focused .row button[disabled],
.focused .row a.button[disabled],
.focused .row button[disabled]:hover,
.focused .row a.button[disabled]:hover,
.focused .row button.disabled,
.focused .row a.button.disabled,
.focused .row button.disabled:hover,
.focused .row a.button.disabled:hover {
  cursor: default;
}
.focused .row button[disabled],
.focused .row a.button[disabled],
.focused .row button[disabled]:hover,
.focused .row a.button[disabled]:hover,
.focused .row button.disabled,
.focused .row a.button.disabled,
.focused .row button.disabled:hover,
.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.focused .row button[disabled] .icon,
.focused .row a.button[disabled] .icon,
.focused .row button[disabled]:hover .icon,
.focused .row a.button[disabled]:hover .icon,
.focused .row button.disabled .icon,
.focused .row a.button.disabled .icon,
.focused .row button.disabled:hover .icon,
.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row button[disabled] .icon i,
.focused .row a.button[disabled] .icon i,
.focused .row button[disabled]:hover .icon i,
.focused .row a.button[disabled]:hover .icon i,
.focused .row button.disabled .icon i,
.focused .row a.button.disabled .icon i,
.focused .row button.disabled:hover .icon i,
.focused .row a.button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.focused .row button[disabled] span,
.focused .row a.button[disabled] span,
.focused .row button[disabled]:hover span,
.focused .row a.button[disabled]:hover span,
.focused .row button.disabled span,
.focused .row a.button.disabled span,
.focused .row button.disabled:hover span,
.focused .row a.button.disabled:hover span {
  color: #ccc;
}
.focused .row button .icon,
.focused .row a.button .icon {
  background: none;
  border-color: #888;
}
.focused .row button .icon i,
.focused .row a.button .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row button span,
.focused .row a.button span {
  color: #888;
}
.focused .row button:hover,
.focused .row a.button:hover,
.focused .row button:focus,
.focused .row a.button:focus {
  background: #ffedd3;
  color: #777;
}
.focused .row button:hover .icon,
.focused .row a.button:hover .icon,
.focused .row button:focus .icon,
.focused .row a.button:focus .icon {
  background: white;
  border-color: #777;
}
.focused .row button:hover .icon i,
.focused .row a.button:hover .icon i,
.focused .row button:focus .icon i,
.focused .row a.button:focus .icon i {
  border-color: #ecd5b3;
  background: #ffedd3;
}
.focused .row button:hover span,
.focused .row a.button:hover span,
.focused .row button:focus span,
.focused .row a.button:focus span {
  color: #777;
}
.focused .row button:hover .icon i,
.focused .row a.button:hover .icon i,
.focused .row button:focus .icon i,
.focused .row a.button:focus .icon i {
  background: #ffedd3;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.focused .row button:hover[disabled] .icon i,
.focused .row a.button:hover[disabled] .icon i,
.focused .row button:focus[disabled] .icon i,
.focused .row a.button:focus[disabled] .icon i,
.focused .row button:hover[disabled]:hover .icon i,
.focused .row a.button:hover[disabled]:hover .icon i,
.focused .row button:focus[disabled]:hover .icon i,
.focused .row a.button:focus[disabled]:hover .icon i,
.focused .row button:hover.disabled .icon i,
.focused .row a.button:hover.disabled .icon i,
.focused .row button:focus.disabled .icon i,
.focused .row a.button:focus.disabled .icon i,
.focused .row button:hover.disabled:hover .icon i,
.focused .row a.button:hover.disabled:hover .icon i,
.focused .row button:focus.disabled:hover .icon i,
.focused .row a.button:focus.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row button:active .icon i,
.focused .row a.button:active .icon i {
  background: #ffe3b9;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.focused .row button:active[disabled] .icon i,
.focused .row a.button:active[disabled] .icon i,
.focused .row button:active[disabled]:hover .icon i,
.focused .row a.button:active[disabled]:hover .icon i,
.focused .row button:active.disabled .icon i,
.focused .row a.button:active.disabled .icon i,
.focused .row button:active.disabled:hover .icon i,
.focused .row a.button:active.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row button[disabled],
.focused .row a.button[disabled],
.focused .row button[disabled]:hover,
.focused .row a.button[disabled]:hover,
.focused .row button.disabled,
.focused .row a.button.disabled,
.focused .row button.disabled:hover,
.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
}
.focused .row button[disabled] .icon,
.focused .row a.button[disabled] .icon,
.focused .row button[disabled]:hover .icon,
.focused .row a.button[disabled]:hover .icon,
.focused .row button.disabled .icon,
.focused .row a.button.disabled .icon,
.focused .row button.disabled:hover .icon,
.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row button[disabled] .icon i,
.focused .row a.button[disabled] .icon i,
.focused .row button[disabled]:hover .icon i,
.focused .row a.button[disabled]:hover .icon i,
.focused .row button.disabled .icon i,
.focused .row a.button.disabled .icon i,
.focused .row button.disabled:hover .icon i,
.focused .row a.button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row button[disabled] span,
.focused .row a.button[disabled] span,
.focused .row button[disabled]:hover span,
.focused .row a.button[disabled]:hover span,
.focused .row button.disabled span,
.focused .row a.button.disabled span,
.focused .row button.disabled:hover span,
.focused .row a.button.disabled:hover span {
  color: #ccc;
}
.focused .row.focused {
  background: #fff1dd;
}
.focused .row.focused button,
.focused .row.focused a.button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  text-align: start;
  padding: none;
  border-width: 0;
  background: none;
  color: #888;
}
.focused .row.focused button .icon,
.focused .row.focused a.button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.focused .row.focused button .icon i,
.focused .row.focused a.button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.focused .row.focused button span,
.focused .row.focused a.button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.focused .row.focused button:focus,
.focused .row.focused a.button:focus {
  outline: 0;
}
.focused .row.focused button,
.focused .row.focused a.button,
.focused .row.focused button:active,
.focused .row.focused a.button:active {
  cursor: pointer;
}
.focused .row.focused button[disabled],
.focused .row.focused a.button[disabled],
.focused .row.focused button[disabled]:hover,
.focused .row.focused a.button[disabled]:hover,
.focused .row.focused button.disabled,
.focused .row.focused a.button.disabled,
.focused .row.focused button.disabled:hover,
.focused .row.focused a.button.disabled:hover {
  cursor: default;
}
.focused .row.focused button[disabled],
.focused .row.focused a.button[disabled],
.focused .row.focused button[disabled]:hover,
.focused .row.focused a.button[disabled]:hover,
.focused .row.focused button.disabled,
.focused .row.focused a.button.disabled,
.focused .row.focused button.disabled:hover,
.focused .row.focused a.button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.focused .row.focused button[disabled] .icon,
.focused .row.focused a.button[disabled] .icon,
.focused .row.focused button[disabled]:hover .icon,
.focused .row.focused a.button[disabled]:hover .icon,
.focused .row.focused button.disabled .icon,
.focused .row.focused a.button.disabled .icon,
.focused .row.focused button.disabled:hover .icon,
.focused .row.focused a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row.focused button[disabled] .icon i,
.focused .row.focused a.button[disabled] .icon i,
.focused .row.focused button[disabled]:hover .icon i,
.focused .row.focused a.button[disabled]:hover .icon i,
.focused .row.focused button.disabled .icon i,
.focused .row.focused a.button.disabled .icon i,
.focused .row.focused button.disabled:hover .icon i,
.focused .row.focused a.button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.focused .row.focused button[disabled] span,
.focused .row.focused a.button[disabled] span,
.focused .row.focused button[disabled]:hover span,
.focused .row.focused a.button[disabled]:hover span,
.focused .row.focused button.disabled span,
.focused .row.focused a.button.disabled span,
.focused .row.focused button.disabled:hover span,
.focused .row.focused a.button.disabled:hover span {
  color: #ccc;
}
.focused .row.focused button .icon,
.focused .row.focused a.button .icon {
  background: none;
  border-color: #888;
}
.focused .row.focused button .icon i,
.focused .row.focused a.button .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row.focused button span,
.focused .row.focused a.button span {
  color: #888;
}
.focused .row.focused button:hover,
.focused .row.focused a.button:hover,
.focused .row.focused button:focus,
.focused .row.focused a.button:focus {
  background: #fda;
  color: #777;
}
.focused .row.focused button:hover .icon,
.focused .row.focused a.button:hover .icon,
.focused .row.focused button:focus .icon,
.focused .row.focused a.button:focus .icon {
  background: white;
  border-color: #777;
}
.focused .row.focused button:hover .icon i,
.focused .row.focused a.button:hover .icon i,
.focused .row.focused button:focus .icon i,
.focused .row.focused a.button:focus .icon i {
  border-color: #e4c392;
  background: #fda;
}
.focused .row.focused button:hover span,
.focused .row.focused a.button:hover span,
.focused .row.focused button:focus span,
.focused .row.focused a.button:focus span {
  color: #777;
}
.focused .row.focused button:hover .icon i,
.focused .row.focused a.button:hover .icon i,
.focused .row.focused button:focus .icon i,
.focused .row.focused a.button:focus .icon i {
  background: #fda;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.focused .row.focused button:hover[disabled] .icon i,
.focused .row.focused a.button:hover[disabled] .icon i,
.focused .row.focused button:focus[disabled] .icon i,
.focused .row.focused a.button:focus[disabled] .icon i,
.focused .row.focused button:hover[disabled]:hover .icon i,
.focused .row.focused a.button:hover[disabled]:hover .icon i,
.focused .row.focused button:focus[disabled]:hover .icon i,
.focused .row.focused a.button:focus[disabled]:hover .icon i,
.focused .row.focused button:hover.disabled .icon i,
.focused .row.focused a.button:hover.disabled .icon i,
.focused .row.focused button:focus.disabled .icon i,
.focused .row.focused a.button:focus.disabled .icon i,
.focused .row.focused button:hover.disabled:hover .icon i,
.focused .row.focused a.button:hover.disabled:hover .icon i,
.focused .row.focused button:focus.disabled:hover .icon i,
.focused .row.focused a.button:focus.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row.focused button:active .icon i,
.focused .row.focused a.button:active .icon i {
  background: #ffd390;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.focused .row.focused button:active[disabled] .icon i,
.focused .row.focused a.button:active[disabled] .icon i,
.focused .row.focused button:active[disabled]:hover .icon i,
.focused .row.focused a.button:active[disabled]:hover .icon i,
.focused .row.focused button:active.disabled .icon i,
.focused .row.focused a.button:active.disabled .icon i,
.focused .row.focused button:active.disabled:hover .icon i,
.focused .row.focused a.button:active.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row.focused button[disabled],
.focused .row.focused a.button[disabled],
.focused .row.focused button[disabled]:hover,
.focused .row.focused a.button[disabled]:hover,
.focused .row.focused button.disabled,
.focused .row.focused a.button.disabled,
.focused .row.focused button.disabled:hover,
.focused .row.focused a.button.disabled:hover {
  background: none;
  color: #ccc;
}
.focused .row.focused button[disabled] .icon,
.focused .row.focused a.button[disabled] .icon,
.focused .row.focused button[disabled]:hover .icon,
.focused .row.focused a.button[disabled]:hover .icon,
.focused .row.focused button.disabled .icon,
.focused .row.focused a.button.disabled .icon,
.focused .row.focused button.disabled:hover .icon,
.focused .row.focused a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row.focused button[disabled] .icon i,
.focused .row.focused a.button[disabled] .icon i,
.focused .row.focused button[disabled]:hover .icon i,
.focused .row.focused a.button[disabled]:hover .icon i,
.focused .row.focused button.disabled .icon i,
.focused .row.focused a.button.disabled .icon i,
.focused .row.focused button.disabled:hover .icon i,
.focused .row.focused a.button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row.focused button[disabled] span,
.focused .row.focused a.button[disabled] span,
.focused .row.focused button[disabled]:hover span,
.focused .row.focused a.button[disabled]:hover span,
.focused .row.focused button.disabled span,
.focused .row.focused a.button.disabled span,
.focused .row.focused button.disabled:hover span,
.focused .row.focused a.button.disabled:hover span {
  color: #ccc;
}
.focused .row.focused:hover {
  background: #fff1dd;
}
.focused .row:hover {
  background: #fffaf1;
}
.focused .row .editable-display:hover {
  background: #fffefc;
}
.focused .row.focused .editable-display:hover {
  background: #fffaf1;
}
.price-detail {
  width: 100%;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
}
.group:after {
  content: ' ';
  display: table;
  clear: both;
}
.email-edit {
  background: #fafafa;
  margin-left: 0px;
  padding: 10px;
  padding-left: 12px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 0;
}
.email-edit label {
  display: block;
  float: left;
  width: 70px;
}
.email-edit .field {
  float: left;
  width: calc(100% - 70px);
}
.email-edit .form-row {
  margin-bottom: 10px;
}
.email-edit .form-row:after {
  content: ' ';
  display: table;
  clear: both;
}
.email-edit input[type="text"],
.email-edit input[type="password"],
.email-edit textarea {
  position: relative;
  top: -5px;
}
.email-edit textarea {
  display: block;
  height: 200px;
  top: -4px;
}
.email-edit .recipients li {
  margin-bottom: 5px;
}
.email-edit .row-view {
  margin-top: -2px;
  margin-right: -10px;
}
.email-edit.focused {
  background: #fff1dd;
}
.email-edit.focused .row button,
.email-edit.focused .row a.button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  text-align: start;
  padding: none;
  border-width: 0;
  background: none;
  color: #888;
}
.email-edit.focused .row button .icon,
.email-edit.focused .row a.button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.email-edit.focused .row button .icon i,
.email-edit.focused .row a.button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.email-edit.focused .row button span,
.email-edit.focused .row a.button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.email-edit.focused .row button:focus,
.email-edit.focused .row a.button:focus {
  outline: 0;
}
.email-edit.focused .row button,
.email-edit.focused .row a.button,
.email-edit.focused .row button:active,
.email-edit.focused .row a.button:active {
  cursor: pointer;
}
.email-edit.focused .row button[disabled],
.email-edit.focused .row a.button[disabled],
.email-edit.focused .row button[disabled]:hover,
.email-edit.focused .row a.button[disabled]:hover,
.email-edit.focused .row button.disabled,
.email-edit.focused .row a.button.disabled,
.email-edit.focused .row button.disabled:hover,
.email-edit.focused .row a.button.disabled:hover {
  cursor: default;
}
.email-edit.focused .row button[disabled],
.email-edit.focused .row a.button[disabled],
.email-edit.focused .row button[disabled]:hover,
.email-edit.focused .row a.button[disabled]:hover,
.email-edit.focused .row button.disabled,
.email-edit.focused .row a.button.disabled,
.email-edit.focused .row button.disabled:hover,
.email-edit.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.email-edit.focused .row button[disabled] .icon,
.email-edit.focused .row a.button[disabled] .icon,
.email-edit.focused .row button[disabled]:hover .icon,
.email-edit.focused .row a.button[disabled]:hover .icon,
.email-edit.focused .row button.disabled .icon,
.email-edit.focused .row a.button.disabled .icon,
.email-edit.focused .row button.disabled:hover .icon,
.email-edit.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.email-edit.focused .row button[disabled] .icon i,
.email-edit.focused .row a.button[disabled] .icon i,
.email-edit.focused .row button[disabled]:hover .icon i,
.email-edit.focused .row a.button[disabled]:hover .icon i,
.email-edit.focused .row button.disabled .icon i,
.email-edit.focused .row a.button.disabled .icon i,
.email-edit.focused .row button.disabled:hover .icon i,
.email-edit.focused .row a.button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.email-edit.focused .row button[disabled] span,
.email-edit.focused .row a.button[disabled] span,
.email-edit.focused .row button[disabled]:hover span,
.email-edit.focused .row a.button[disabled]:hover span,
.email-edit.focused .row button.disabled span,
.email-edit.focused .row a.button.disabled span,
.email-edit.focused .row button.disabled:hover span,
.email-edit.focused .row a.button.disabled:hover span {
  color: #ccc;
}
.email-edit.focused .row button .icon,
.email-edit.focused .row a.button .icon {
  background: none;
  border-color: #888;
}
.email-edit.focused .row button .icon i,
.email-edit.focused .row a.button .icon i {
  border-color: #ccc;
  background: none;
}
.email-edit.focused .row button span,
.email-edit.focused .row a.button span {
  color: #888;
}
.email-edit.focused .row button:hover,
.email-edit.focused .row a.button:hover,
.email-edit.focused .row button:focus,
.email-edit.focused .row a.button:focus {
  background: #fda;
  color: #777;
}
.email-edit.focused .row button:hover .icon,
.email-edit.focused .row a.button:hover .icon,
.email-edit.focused .row button:focus .icon,
.email-edit.focused .row a.button:focus .icon {
  background: white;
  border-color: #777;
}
.email-edit.focused .row button:hover .icon i,
.email-edit.focused .row a.button:hover .icon i,
.email-edit.focused .row button:focus .icon i,
.email-edit.focused .row a.button:focus .icon i {
  border-color: #e4c392;
  background: #fda;
}
.email-edit.focused .row button:hover span,
.email-edit.focused .row a.button:hover span,
.email-edit.focused .row button:focus span,
.email-edit.focused .row a.button:focus span {
  color: #777;
}
.email-edit.focused .row button:hover .icon i,
.email-edit.focused .row a.button:hover .icon i,
.email-edit.focused .row button:focus .icon i,
.email-edit.focused .row a.button:focus .icon i {
  background: #fda;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.email-edit.focused .row button:hover[disabled] .icon i,
.email-edit.focused .row a.button:hover[disabled] .icon i,
.email-edit.focused .row button:focus[disabled] .icon i,
.email-edit.focused .row a.button:focus[disabled] .icon i,
.email-edit.focused .row button:hover[disabled]:hover .icon i,
.email-edit.focused .row a.button:hover[disabled]:hover .icon i,
.email-edit.focused .row button:focus[disabled]:hover .icon i,
.email-edit.focused .row a.button:focus[disabled]:hover .icon i,
.email-edit.focused .row button:hover.disabled .icon i,
.email-edit.focused .row a.button:hover.disabled .icon i,
.email-edit.focused .row button:focus.disabled .icon i,
.email-edit.focused .row a.button:focus.disabled .icon i,
.email-edit.focused .row button:hover.disabled:hover .icon i,
.email-edit.focused .row a.button:hover.disabled:hover .icon i,
.email-edit.focused .row button:focus.disabled:hover .icon i,
.email-edit.focused .row a.button:focus.disabled:hover .icon i {
  box-shadow: none;
}
.email-edit.focused .row button:active .icon i,
.email-edit.focused .row a.button:active .icon i {
  background: #ffd390;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.email-edit.focused .row button:active[disabled] .icon i,
.email-edit.focused .row a.button:active[disabled] .icon i,
.email-edit.focused .row button:active[disabled]:hover .icon i,
.email-edit.focused .row a.button:active[disabled]:hover .icon i,
.email-edit.focused .row button:active.disabled .icon i,
.email-edit.focused .row a.button:active.disabled .icon i,
.email-edit.focused .row button:active.disabled:hover .icon i,
.email-edit.focused .row a.button:active.disabled:hover .icon i {
  box-shadow: none;
}
.email-edit.focused .row button[disabled],
.email-edit.focused .row a.button[disabled],
.email-edit.focused .row button[disabled]:hover,
.email-edit.focused .row a.button[disabled]:hover,
.email-edit.focused .row button.disabled,
.email-edit.focused .row a.button.disabled,
.email-edit.focused .row button.disabled:hover,
.email-edit.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
}
.email-edit.focused .row button[disabled] .icon,
.email-edit.focused .row a.button[disabled] .icon,
.email-edit.focused .row button[disabled]:hover .icon,
.email-edit.focused .row a.button[disabled]:hover .icon,
.email-edit.focused .row button.disabled .icon,
.email-edit.focused .row a.button.disabled .icon,
.email-edit.focused .row button.disabled:hover .icon,
.email-edit.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.email-edit.focused .row button[disabled] .icon i,
.email-edit.focused .row a.button[disabled] .icon i,
.email-edit.focused .row button[disabled]:hover .icon i,
.email-edit.focused .row a.button[disabled]:hover .icon i,
.email-edit.focused .row button.disabled .icon i,
.email-edit.focused .row a.button.disabled .icon i,
.email-edit.focused .row button.disabled:hover .icon i,
.email-edit.focused .row a.button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
.email-edit.focused .row button[disabled] span,
.email-edit.focused .row a.button[disabled] span,
.email-edit.focused .row button[disabled]:hover span,
.email-edit.focused .row a.button[disabled]:hover span,
.email-edit.focused .row button.disabled span,
.email-edit.focused .row a.button.disabled span,
.email-edit.focused .row button.disabled:hover span,
.email-edit.focused .row a.button.disabled:hover span {
  color: #ccc;
}
.email-edit.invalid .input-wrapper.invalid .icon-warning {
  top: -3px;
}
.email-edit.invalid .message .input-wrapper.invalid .icon-warning {
  top: -2px;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #f8c77e;
  box-shadow: #f8c77e 0px 0px 1px 0px, rgba(248, 199, 126, 0.3) 0px 0px 2px 0px inset;
}
:focus,
:active {
  outline: 0;
}
::-moz-focus-inner {
  border: 0;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #aaa;
}
.width-test {
  position: absolute;
  left: -10000px;
}
.editable-value {
  position: relative;
}
.editable-value i {
  color: #999;
  font-size: 80%;
}
.editable-value i:before {
  margin: 0;
}
.editable-value .editable-value-display {
  padding-bottom: 2px;
}
.editable-value .editable-value-display a.edit {
  position: relative;
  left: -10000px;
}
.editable-value .editable-value-display a.edit:hover i {
  color: #ffa011;
}
.editable-value .editable-value-display:hover {
  cursor: pointer;
  color: #ffa011;
}
.editable-value .editable-value-display:hover a.edit {
  left: 0;
}
.editable-value .editable-value-display:hover a.edit i {
  color: #ffa011;
}
.editable-value .editable-value-outer {
  position: absolute;
  width: 100%;
  top: 0;
  left: -10000px;
}
.editable-value .editable-value-edit {
  display: inline-block;
  position: absolute;
  z-index: 2;
  left: -3px;
  top: -6px;
  padding: 2px 4px;
  padding-right: 36px;
  background: #ffe5be;
  border-radius: 2px;
}
.editable-value .editable-value-edit a {
  position: absolute;
  top: 8px;
}
.editable-value .editable-value-edit a:hover i {
  color: #ffa011;
}
.editable-value .editable-value-edit a:first-of-type {
  right: 17px;
}
.editable-value .editable-value-edit a:last-of-type {
  right: 4px;
}
.editable-value .editable-value-edit.invalid a:first-of-type:hover,
.editable-value .editable-value-edit.invalid a:first-of-type:focus {
  cursor: auto;
}
.editable-value .editable-value-edit.invalid a:first-of-type:hover i,
.editable-value .editable-value-edit.invalid a:first-of-type:focus i {
  color: #999;
}
.editable-value.editing .editable-value-display {
  visibility: hidden;
}
.editable-value.editing .editable-value-outer {
  left: 0px;
}
.editable-value.add-mode .editable-value-edit {
  background: inherit;
}
.editable-value.add-mode .editable-value-edit a {
  display: none;
}
.input-wrapper {
  position: relative;
  vertical-align: top;
}
.input-wrapper .icon-warning {
  font-size: 80%;
  background: #fff;
  padding: 4px;
  color: #E80000;
  position: absolute;
  top: 4px;
  cursor: help;
  z-index: 2;
  left: -10000px;
}
.invalid .input-wrapper.invalid input[type="text"],
.invalid .input-wrapper.invalid input[type="password"],
.invalid .input-wrapper.invalid textarea,
.invalid .input-wrapper.invalid select {
  border: 1px solid #E80000;
  box-shadow: rgba(232, 0, 0, 0.5) 0px 0px 3px 0px, #E80000 0px 0px 2px 0px inset;
}
.invalid .input-wrapper.invalid .icon-warning {
  left: inherit;
  right: 2px;
}
.box-price .editable-value-display {
  border: 1px solid transparent;
}
.box-price .editable-value-edit input[type="text"] {
  width: 66px;
}
.product-price {
  height: 30px;
}
.product-price .editable-value-display {
  border: 1px solid transparent;
}
.product-price .editable-value-display:hover .muted {
  color: #f8c77e !important;
}
.product-price .editable-value-edit input[type="text"] {
  width: 66px;
}
.product-price .editable-value-edit.invalid .input-wrapper.invalid .icon-warning {
  right: 5px;
}
.heading .editable-value-display {
  border: 1px solid transparent;
}
.heading .editable-value-display h3 {
  display: inline-block;
}
.heading .editable-value-display:hover h3 {
  color: #ffa011;
}
.heading .editable-value-edit {
  left: -6px;
  top: -6px;
  padding-left: 2px;
}
.heading .editable-value-edit input[type="text"] {
  width: 200px;
  font-size: 150%;
  font-weight: 300;
}
.heading .editable-value-edit a {
  top: 12px;
}
.box-products::after {
  display: block;
  clear: left;
  content: ' ';
  height: 0px;
}
.box-products table {
  float: left;
}
.box-products table td {
  padding: 0 0 5px 0;
}
.box-products .box-product-name {
  padding-right: 5px;
}
.box-products .box-product-quantity input[type="text"] {
  width: 62px;
}
.box-products .box-product-quantity .invalid .input-wrapper.invalid .icon-warning {
  right: 6px;
  top: 4px;
}
.box-products i {
  font-size: 80%;
  color: #999;
}
.box-products i::before {
  margin: 0;
}
.box-products a:hover i,
.box-products a:focus i {
  color: #ffa011;
}
.box-products .show-on-edit {
  position: relative;
  left: -10000px;
}
.box-products:hover .show-on-edit,
.box-products.editing .show-on-edit {
  left: 0px;
}
.box-products .box-product-quantity.editable-value .editable-value-display {
  border: 1px solid transparent;
}
.box-products .box-product-quantity.editable-value .editable-value-edit {
  left: -8px;
  top: -6px;
  right: -30px;
  padding-right: 0;
}
.box-products .no-products {
  border: 1px solid transparent;
  padding-bottom: 2px;
}
.box-products .box-product-add .box-product-add-display a {
  position: relative;
  left: -4px;
}
.box-products .box-product-add .box-product-add-display:hover,
.box-products .box-product-add .box-product-add-display.hover {
  color: #ffa011;
  cursor: pointer;
}
.box-products .box-product-add .box-product-add-display:hover a i,
.box-products .box-product-add .box-product-add-display.hover a i {
  color: #ffa011;
}
.box-products .box-product-add div,
.box-products .box-product-add input[type="text"],
.box-products .box-product-add select,
.box-products .box-product-add span {
  display: inline-block;
}
.box-products .box-product-add.editable-value .editable-value-edit {
  right: -13px;
  left: -9px;
  padding-right: 0;
  height: 28px;
}
.box-products .box-product-add.editable-value .editable-value-edit input[type="text"] {
  position: relative;
  top: -4px;
  left: -3px;
  height: 24px;
}
.box-products .box-product-add.editable-value .editable-value-edit.invalid .input-wrapper.invalid .icon-warning {
  top: -2px;
  right: 4px;
}
.box-products .box-product-add.editable-value .editable-value-edit .box-product-quantity-each {
  position: relative;
  left: -3px;
}
.round-customers {
  margin-bottom: 3px;
}
.round-customers::after {
  display: block;
  clear: left;
  content: ' ';
  height: 0px;
}
.round-customers table td {
  padding: 0 0 7px 0;
}
.round-customers .round-customer-name {
  padding-right: 5px;
}
.round-customers i {
  font-size: 80%;
  color: #999;
}
.round-customers i::before {
  margin: 0;
}
.round-customers a:hover i,
.round-customers a:focus i {
  color: #ffa011;
}
.round-customers .show-on-edit {
  position: relative;
  left: -10000px;
}
.round-customers:hover .show-on-edit,
.round-customers.editing .show-on-edit {
  left: 0px;
}
.round-customers .round-customer-add .round-customer-add-display a {
  position: relative;
  left: -4px;
}
.round-customers .round-customer-add .round-customer-add-display:hover,
.round-customers .round-customer-add .round-customer-add-display.hover {
  color: #ffa011;
  cursor: pointer;
}
.round-customers .round-customer-add .round-customer-add-display:hover a i,
.round-customers .round-customer-add .round-customer-add-display.hover a i {
  color: #ffa011;
}
.round-customers .round-customer-add div,
.round-customers .round-customer-add input[type="text"],
.round-customers .round-customer-add select,
.round-customers .round-customer-add span {
  display: inline-block;
}
.round-customers .round-customer-add.editable-value .editable-value-edit {
  right: -17px;
  left: -9px;
  padding-right: 0;
  height: 28px;
}
.round-customers .round-customer-add.editable-value .editable-value-edit input[type="text"] {
  position: relative;
  top: -4px;
  left: -3px;
  height: 24px;
}
.round-customers .round-customer-add.editable-value .editable-value-edit.invalid .input-wrapper.invalid .icon-warning {
  top: -2px;
  right: 4px;
}
.customer-details {
  margin-bottom: 5px;
}
.customer-details .customer-detail {
  display: block;
  margin-bottom: 5px;
}
.customer-details .customer-detail::after {
  display: block;
  clear: left;
  content: ' ';
  height: 0px;
}
.customer-details .customer-detail .editable-value .editable-value-display {
  width: 100%;
  display: table;
}
.customer-details .customer-detail .editable-value .editable-value-display .detail-marker {
  display: table-cell;
  width: 20px;
  font-size: 110%;
}
.customer-details .customer-detail .editable-value .editable-value-display .detail-display {
  display: table-cell;
  border: 1px solid transparent;
}
.customer-details .customer-detail .editable-value .editable-value-display:hover i {
  color: #ffa011;
}
.customer-details .customer-detail .editable-value .editable-value-edit {
  display: table;
  top: -6px;
  padding-top: 3px;
  padding-bottom: 1px;
}
.customer-details .customer-detail .editable-value .editable-value-edit .detail-marker {
  display: table-cell;
  font-size: 110%;
  position: relative;
  left: -1px;
  top: -1px;
}
.customer-details .customer-detail .editable-value .editable-value-edit .detail-edit {
  display: table-cell;
}
.customer-details .customer-detail .editable-value .editable-value-edit .detail-edit .input-wrapper.invalid .icon-warning {
  top: 3px;
}
.customer-details .customer-detail .editable-value .editable-value-edit .detail-edit input[type="text"] {
  position: relative;
  left: 0px;
  top: -1px;
}
.customer-details .customer-detail.address .editable-value.editing {
  height: 70px;
}
.customer-details .customer-detail.address .editable-value .editable-value-edit {
  top: -4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.customer-details .customer-detail.address .editable-value .editable-value-edit .detail-marker {
  vertical-align: top;
  position: relative;
  left: -1px;
  top: 4px;
}
.customer-details .customer-detail.address .editable-value .editable-value-edit .detail-edit textarea {
  line-height: 1em;
  height: 76px;
}
.customer-details .customer-detail.address .editable-value .editable-value-edit .detail-edit .input-wrapper.invalid .icon-warning {
  top: 5px;
}
.customer-add .customer-name {
  width: 100%;
  font-size: 150%;
  font-weight: 300;
  margin-bottom: 5px;
}
.customer-add .customer-details .customer-detail .meh {
  width: 100%;
  display: table;
}
.customer-add .customer-details .customer-detail .meh .detail-marker {
  display: table-cell;
  vertical-align: top;
  width: 20px;
}
.customer-add .customer-details .customer-detail .meh .detail-marker i {
  font-size: 90%;
  color: #999;
  position: relative;
  left: -3px;
  top: 6px;
}
.customer-add .customer-details .customer-detail .meh .detail-marker i.icon-mail {
  font-size: 78%;
}
.customer-add .customer-details .customer-detail .meh .detail-edit {
  display: table-cell;
}
.customer-add .customer-details .customer-detail input[type="text"],
.customer-add .customer-details .customer-detail textarea {
  width: 100%;
}
.customer-add .customer-details .customer-detail textarea {
  height: 76px;
}
.customer-add .customer-details .customer-detail.tel input[type="text"] {
  max-width: 170px;
}
@media only screen and (min-width : 749px) {
  .customer-details {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
  }
  .customer-details .customer-detail {
    padding-right: 10px;
  }
  .customer-details .address {
    width: 40%;
    min-width: 208px;
  }
  .customer-details .email {
    width: 40%;
    min-width: 205px;
  }
  .customer-details .tel {
    width: 20%;
    min-width: 158px;
  }
  .customer-details .customer-detail-end {
    width: 1px;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
.box-add .box-name {
  width: 100%;
  font-size: 150%;
  font-weight: 300;
}
.round-add .round-name {
  width: 100%;
  font-size: 150%;
  font-weight: 300;
}
.product-add .product-name {
  width: 100%;
  font-size: 150%;
  font-weight: 300;
}
