/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Master Styles */
h1,
h2,
h3 {
  margin-bottom: 10px;
  color: #444;
  font-weight: 300;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 150%;
}
body {
  margin: 0;
  padding: 0;
}
body {
  color: #888;
  background: #579532;
}
a {
  cursor: pointer;
  cursor: hand;
}
a:focus {
  outline: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* everywhere else */
* {
  font-family: 'Josefin Sans', sans-serif;
}
.outer {
  background: #579532;
}
button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  background: none;
  color: #888;
}
button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
button:focus {
  outline: 0;
}
button,
button:active {
  cursor: pointer;
}
button[disabled],
button[disabled]:hover,
button.disabled,
button.disabled:hover {
  cursor: default;
}
button[disabled],
button[disabled]:hover,
button.disabled,
button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
button[disabled] .icon,
button[disabled]:hover .icon,
button.disabled .icon,
button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
button[disabled] .icon i,
button[disabled]:hover .icon i,
button.disabled .icon i,
button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
button[disabled] span,
button[disabled]:hover span,
button.disabled span,
button.disabled:hover span {
  color: #ccc;
}
button .icon {
  background: none;
  border-color: #888;
}
button .icon i {
  border-color: #ccc;
  background: none;
}
button span {
  color: #888;
}
button:hover,
button:focus {
  background: #fda;
  color: #777;
}
button:hover .icon,
button:focus .icon {
  background: white;
  border-color: #777;
}
button:hover .icon i,
button:focus .icon i {
  border-color: #e4c392;
  background: #fda;
}
button:hover span,
button:focus span {
  color: #777;
}
button:hover .icon i,
button:focus .icon i {
  background: #fda;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
button:hover[disabled] .icon i,
button:focus[disabled] .icon i,
button:hover[disabled]:hover .icon i,
button:focus[disabled]:hover .icon i,
button:hover.disabled .icon i,
button:focus.disabled .icon i,
button:hover.disabled:hover .icon i,
button:focus.disabled:hover .icon i {
  box-shadow: none;
}
button:active .icon i {
  background: #ffd390;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
button:active[disabled] .icon i,
button:active[disabled]:hover .icon i,
button:active.disabled .icon i,
button:active.disabled:hover .icon i {
  box-shadow: none;
}
button[disabled],
button[disabled]:hover,
button.disabled,
button.disabled:hover {
  background: none;
  color: #ccc;
}
button[disabled] .icon,
button[disabled]:hover .icon,
button.disabled .icon,
button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
button[disabled] .icon i,
button[disabled]:hover .icon i,
button.disabled .icon i,
button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
button[disabled] span,
button[disabled]:hover span,
button.disabled span,
button.disabled:hover span {
  color: #ccc;
}
a.button {
  font-size: 80%;
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  background: none;
  color: #888;
}
a.button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
a.button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
a.button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
a.button:focus {
  outline: 0;
}
a.button,
a.button:active {
  cursor: pointer;
}
a.button[disabled],
a.button[disabled]:hover,
a.button.disabled,
a.button.disabled:hover {
  cursor: default;
}
a.button[disabled],
a.button[disabled]:hover,
a.button.disabled,
a.button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
a.button[disabled] .icon,
a.button[disabled]:hover .icon,
a.button.disabled .icon,
a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
a.button[disabled] .icon i,
a.button[disabled]:hover .icon i,
a.button.disabled .icon i,
a.button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
a.button[disabled] span,
a.button[disabled]:hover span,
a.button.disabled span,
a.button.disabled:hover span {
  color: #ccc;
}
a.button .icon {
  background: none;
  border-color: #888;
}
a.button .icon i {
  border-color: #ccc;
  background: none;
}
a.button span {
  color: #888;
}
a.button:hover,
a.button:focus {
  background: #fda;
  color: #777;
}
a.button:hover .icon,
a.button:focus .icon {
  background: white;
  border-color: #777;
}
a.button:hover .icon i,
a.button:focus .icon i {
  border-color: #e4c392;
  background: #fda;
}
a.button:hover span,
a.button:focus span {
  color: #777;
}
a.button:hover .icon i,
a.button:focus .icon i {
  background: #fda;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
a.button:hover[disabled] .icon i,
a.button:focus[disabled] .icon i,
a.button:hover[disabled]:hover .icon i,
a.button:focus[disabled]:hover .icon i,
a.button:hover.disabled .icon i,
a.button:focus.disabled .icon i,
a.button:hover.disabled:hover .icon i,
a.button:focus.disabled:hover .icon i {
  box-shadow: none;
}
a.button:active .icon i {
  background: #ffd390;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
a.button:active[disabled] .icon i,
a.button:active[disabled]:hover .icon i,
a.button:active.disabled .icon i,
a.button:active.disabled:hover .icon i {
  box-shadow: none;
}
a.button[disabled],
a.button[disabled]:hover,
a.button.disabled,
a.button.disabled:hover {
  background: none;
  color: #ccc;
}
a.button[disabled] .icon,
a.button[disabled]:hover .icon,
a.button.disabled .icon,
a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
a.button[disabled] .icon i,
a.button[disabled]:hover .icon i,
a.button.disabled .icon i,
a.button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
a.button[disabled] span,
a.button[disabled]:hover span,
a.button.disabled span,
a.button.disabled:hover span {
  color: #ccc;
}
h2 {
  margin: 20px 0 30px 0;
}
h4 {
  font-size: 110%;
  font-weight: 400;
}
.muted {
  color: #bbb !important;
}
.r {
  border: 1px solid red;
}
.header {
  position: relative;
  padding: 0;
  min-width: 400px;
}
.header h1,
.header h2,
.header h3,
.header a {
  color: white;
}
.header a {
  text-decoration: none;
}
.header a svg {
  width: 50px;
  height: 50px;
}
.header h1 {
  display: block;
  width: 280px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  background-image: url(../img/logo-colored.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 65px;
  padding-top: 3px;
  height: 84px;
  color: #eff4ec;
}
.header h1 span {
  color: #ffa850;
  font-weight: 400;
}
.header h1:hover {
  background-image: url(../img/logo-white.svg);
  color: white;
}
.header h1:hover span {
  color: #ffb264;
}
@media only screen and (min-width : 780px) {
  .header h1 {
    display: inline-block;
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
  }
}
.header nav {
  margin-top: -90px;
  width: 100%;
  height: 92px;
  display: block;
}
@media only screen and (min-width : 780px) {
  .header nav {
    margin-top: -109px;
    padding-right: 72px;
  }
}
@media only screen and (min-width : 1020px) {
  .header nav {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.header nav ul {
  display: block;
  width: 400px;
  height: 92px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width : 780px) {
  .header nav ul {
    margin-top: 0;
    margin-right: 10px;
    float: right;
  }
}
@media only screen and (min-width : 1020px) {
  .header nav ul {
    margin: 0 auto;
    float: none;
  }
}
.header nav li {
  display: block;
  float: left;
  margin: 0;
}
.header nav li a {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  background: none;
  color: #c4dfb4;
  font-size: 80%;
  text-decoration: none;
  height: 90px;
  width: 80px;
}
.header nav li a .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.header nav li a .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.header nav li a span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.header nav li a:focus {
  outline: 0;
}
.header nav li a,
.header nav li a:active {
  cursor: pointer;
}
.header nav li a[disabled],
.header nav li a[disabled]:hover,
.header nav li a.disabled,
.header nav li a.disabled:hover {
  cursor: default;
}
.header nav li a[disabled],
.header nav li a[disabled]:hover,
.header nav li a.disabled,
.header nav li a.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.header nav li a[disabled] .icon,
.header nav li a[disabled]:hover .icon,
.header nav li a.disabled .icon,
.header nav li a.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.header nav li a[disabled] .icon i,
.header nav li a[disabled]:hover .icon i,
.header nav li a.disabled .icon i,
.header nav li a.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.header nav li a[disabled] span,
.header nav li a[disabled]:hover span,
.header nav li a.disabled span,
.header nav li a.disabled:hover span {
  color: #ccc;
}
.header nav li a .icon {
  background: #c4dfb4;
  border-color: #c4dfb4;
}
.header nav li a .icon i {
  border-color: #72a852;
  background: none;
}
.header nav li a span {
  color: #c4dfb4;
}
.header nav li a .icon i {
  background: #6ca848;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.header nav li a[disabled] .icon i,
.header nav li a[disabled]:hover .icon i,
.header nav li a.disabled .icon i,
.header nav li a.disabled:hover .icon i {
  box-shadow: none;
}
.header nav li a .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.header nav li a:hover {
  background: #548f30;
  color: #e2e9dd;
}
.header nav li a:hover .icon {
  background: #e2e9dd;
  border-color: #e2e9dd;
}
.header nav li a:hover .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.header nav li a:hover span {
  color: #e2e9dd;
}
.header nav li a:hover .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.header nav li a:hover[disabled] .icon i,
.header nav li a:hover[disabled]:hover .icon i,
.header nav li a:hover.disabled .icon i,
.header nav li a:hover.disabled:hover .icon i {
  box-shadow: none;
}
.header nav li a:hover .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.header nav li a.selected {
  background: #508a2e;
  color: #fff;
}
.header nav li a.selected .icon {
  background: #fff;
  border-color: #fff;
}
.header nav li a.selected .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.header nav li a.selected span {
  color: #fff;
}
.header nav li a.selected .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.header nav li a.selected[disabled] .icon i,
.header nav li a.selected[disabled]:hover .icon i,
.header nav li a.selected.disabled .icon i,
.header nav li a.selected.disabled:hover .icon i {
  box-shadow: none;
}
.header nav li a .icon {
  left: 17px;
}
.header nav li a .icon i {
  font-size: 170%;
}
.header .logout-button {
  display: none;
}
@media only screen and (min-width : 780px) {
  .header .logout-button {
    border: none;
    border-radius: 2px;
    padding: 0;
    display: block;
    position: relative;
    width: 66px;
    background: none;
    color: #c4dfb4;
    font-size: 80%;
    text-decoration: none;
    height: 90px;
    width: 80px;
    position: absolute;
    top: 0px;
    right: 2px;
  }
  .header .logout-button .icon {
    border-width: 1px;
    border-style: solid;
    border-radius: 46px;
    position: absolute;
    top: 10px;
    left: 10px;
    height: 46px;
    width: 46px;
    padding: 2px 0 0 2px;
  }
  .header .logout-button .icon i {
    border-width: 1px;
    border-style: solid;
    border-radius: 40px;
    height: 40px;
    width: 40px;
    font-size: 200%;
    display: block;
  }
  .header .logout-button span {
    position: absolute;
    top: 61px;
    width: 100%;
    font-size: 75%;
    text-transform: uppercase;
    text-align: center;
    line-height: 10px;
    display: block;
    width: 46 px;
  }
  .header .logout-button:focus {
    outline: 0;
  }
  .header .logout-button,
  .header .logout-button:active {
    cursor: pointer;
  }
  .header .logout-button[disabled],
  .header .logout-button[disabled]:hover,
  .header .logout-button.disabled,
  .header .logout-button.disabled:hover {
    cursor: default;
  }
  .header .logout-button[disabled],
  .header .logout-button[disabled]:hover,
  .header .logout-button.disabled,
  .header .logout-button.disabled:hover {
    background: none;
    color: #ccc;
    cursor: default;
  }
  .header .logout-button[disabled] .icon,
  .header .logout-button[disabled]:hover .icon,
  .header .logout-button.disabled .icon,
  .header .logout-button.disabled:hover .icon {
    background: none;
    border-color: #ccc;
  }
  .header .logout-button[disabled] .icon i,
  .header .logout-button[disabled]:hover .icon i,
  .header .logout-button.disabled .icon i,
  .header .logout-button.disabled:hover .icon i {
    background: none;
    border-color: #ccc;
    box-shadow: none;
  }
  .header .logout-button[disabled] span,
  .header .logout-button[disabled]:hover span,
  .header .logout-button.disabled span,
  .header .logout-button.disabled:hover span {
    color: #ccc;
  }
  .header .logout-button .icon {
    background: #c4dfb4;
    border-color: #c4dfb4;
  }
  .header .logout-button .icon i {
    border-color: #72a852;
    background: none;
  }
  .header .logout-button span {
    color: #c4dfb4;
  }
  .header .logout-button .icon i {
    background: #6ca848;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
  }
  .header .logout-button[disabled] .icon i,
  .header .logout-button[disabled]:hover .icon i,
  .header .logout-button.disabled .icon i,
  .header .logout-button.disabled:hover .icon i {
    box-shadow: none;
  }
  .header .logout-button .icon i {
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
  }
  .header .logout-button:hover {
    background: #548f30;
    color: #e2e9dd;
  }
  .header .logout-button:hover .icon {
    background: #e2e9dd;
    border-color: #e2e9dd;
  }
  .header .logout-button:hover .icon i {
    border-color: #72a852;
    background: #8dbb72;
  }
  .header .logout-button:hover span {
    color: #e2e9dd;
  }
  .header .logout-button:hover .icon i {
    background: #7fb261;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
  }
  .header .logout-button:hover[disabled] .icon i,
  .header .logout-button:hover[disabled]:hover .icon i,
  .header .logout-button:hover.disabled .icon i,
  .header .logout-button:hover.disabled:hover .icon i {
    box-shadow: none;
  }
  .header .logout-button:hover .icon i {
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
  }
  .header .logout-button.selected {
    background: #508a2e;
    color: #fff;
  }
  .header .logout-button.selected .icon {
    background: #fff;
    border-color: #fff;
  }
  .header .logout-button.selected .icon i {
    border-color: #72a852;
    background: #8dbb72;
  }
  .header .logout-button.selected span {
    color: #fff;
  }
  .header .logout-button.selected .icon i {
    background: #7fb261;
    box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
  }
  .header .logout-button.selected[disabled] .icon i,
  .header .logout-button.selected[disabled]:hover .icon i,
  .header .logout-button.selected.disabled .icon i,
  .header .logout-button.selected.disabled:hover .icon i {
    box-shadow: none;
  }
  .header .logout-button .icon {
    left: 17px;
  }
  .header .logout-button .icon i {
    font-size: 170%;
  }
  .header .logout-button i {
    padding-top: 8px;
  }
}
.page-outer {
  min-width: 400px;
  margin: 0;
  border-left: none;
  border-right: none;
  background: #fff;
  padding: 3px 0 3px 0;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
}
.page-inner {
  min-width: 400px;
  border: 1px solid #579532;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #89ca63;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 3px 10px 0px, rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  padding: 10px 10px 10px 10px;
  background: #fff;
  min-height: 70%;
}
@media only screen and (min-width : 780px) {
  .page-inner {
    min-height: 81%;
  }
}
.page-inner h2,
.page-inner p {
  margin-left: 10px;
}
.page-inner p {
  font-weight: 300;
  color: black;
  font-size: 110%;
}
input[type="text"],
input[type="password"],
select,
textarea {
  color: #999;
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 3px;
  font-size: 100%;
  margin: 0;
}
input[type="checkbox"] {
  outline: 0;
}
select {
  padding: 1px 0px;
}
.row-view {
  position: relative;
}
.row-view button.top-level {
  position: absolute;
  top: -83px;
  height: 83px;
  right: 0;
}
.row-view p {
  margin-top: 20px;
}
.row-view *:nth-child(2n - 1) > .row {
  background: #fafafa;
}
.row-view .row {
  min-height: 83px;
  border-top: 1px dashed #ccc;
  padding: 0;
  position: relative;
}
.row-view .row.addMode {
  border-bottom: 1px dashed #ccc;
}
.row-view .row:hover {
  background: #fff1dd;
}
.row-view .row .actions {
  float: right;
  height: 30px;
  padding-right: 4px;
}
.row-view .row .actions .action {
  margin-right: -4px;
  display: inline-block;
  width: 66px;
  height: 83px;
}
.row-view .row .actions .action button,
.row-view .row .actions .action a.button {
  position: absolute;
  height: 100%;
  top: 0;
}
.row-view .row .details {
  overflow: hidden;
  padding: 15px 10px 0px 10px;
}
.focused .row button,
.focused .row a.button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  background: none;
  color: #888;
}
.focused .row button .icon,
.focused .row a.button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.focused .row button .icon i,
.focused .row a.button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.focused .row button span,
.focused .row a.button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.focused .row button:focus,
.focused .row a.button:focus {
  outline: 0;
}
.focused .row button,
.focused .row a.button,
.focused .row button:active,
.focused .row a.button:active {
  cursor: pointer;
}
.focused .row button[disabled],
.focused .row a.button[disabled],
.focused .row button[disabled]:hover,
.focused .row a.button[disabled]:hover,
.focused .row button.disabled,
.focused .row a.button.disabled,
.focused .row button.disabled:hover,
.focused .row a.button.disabled:hover {
  cursor: default;
}
.focused .row button[disabled],
.focused .row a.button[disabled],
.focused .row button[disabled]:hover,
.focused .row a.button[disabled]:hover,
.focused .row button.disabled,
.focused .row a.button.disabled,
.focused .row button.disabled:hover,
.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.focused .row button[disabled] .icon,
.focused .row a.button[disabled] .icon,
.focused .row button[disabled]:hover .icon,
.focused .row a.button[disabled]:hover .icon,
.focused .row button.disabled .icon,
.focused .row a.button.disabled .icon,
.focused .row button.disabled:hover .icon,
.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row button[disabled] .icon i,
.focused .row a.button[disabled] .icon i,
.focused .row button[disabled]:hover .icon i,
.focused .row a.button[disabled]:hover .icon i,
.focused .row button.disabled .icon i,
.focused .row a.button.disabled .icon i,
.focused .row button.disabled:hover .icon i,
.focused .row a.button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.focused .row button[disabled] span,
.focused .row a.button[disabled] span,
.focused .row button[disabled]:hover span,
.focused .row a.button[disabled]:hover span,
.focused .row button.disabled span,
.focused .row a.button.disabled span,
.focused .row button.disabled:hover span,
.focused .row a.button.disabled:hover span {
  color: #ccc;
}
.focused .row button .icon,
.focused .row a.button .icon {
  background: none;
  border-color: #888;
}
.focused .row button .icon i,
.focused .row a.button .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row button span,
.focused .row a.button span {
  color: #888;
}
.focused .row button:hover,
.focused .row a.button:hover,
.focused .row button:focus,
.focused .row a.button:focus {
  background: #ffedd3;
  color: #777;
}
.focused .row button:hover .icon,
.focused .row a.button:hover .icon,
.focused .row button:focus .icon,
.focused .row a.button:focus .icon {
  background: white;
  border-color: #777;
}
.focused .row button:hover .icon i,
.focused .row a.button:hover .icon i,
.focused .row button:focus .icon i,
.focused .row a.button:focus .icon i {
  border-color: #ecd5b3;
  background: #ffedd3;
}
.focused .row button:hover span,
.focused .row a.button:hover span,
.focused .row button:focus span,
.focused .row a.button:focus span {
  color: #777;
}
.focused .row button:hover .icon i,
.focused .row a.button:hover .icon i,
.focused .row button:focus .icon i,
.focused .row a.button:focus .icon i {
  background: #ffedd3;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.focused .row button:hover[disabled] .icon i,
.focused .row a.button:hover[disabled] .icon i,
.focused .row button:focus[disabled] .icon i,
.focused .row a.button:focus[disabled] .icon i,
.focused .row button:hover[disabled]:hover .icon i,
.focused .row a.button:hover[disabled]:hover .icon i,
.focused .row button:focus[disabled]:hover .icon i,
.focused .row a.button:focus[disabled]:hover .icon i,
.focused .row button:hover.disabled .icon i,
.focused .row a.button:hover.disabled .icon i,
.focused .row button:focus.disabled .icon i,
.focused .row a.button:focus.disabled .icon i,
.focused .row button:hover.disabled:hover .icon i,
.focused .row a.button:hover.disabled:hover .icon i,
.focused .row button:focus.disabled:hover .icon i,
.focused .row a.button:focus.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row button:active .icon i,
.focused .row a.button:active .icon i {
  background: #ffe3b9;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.focused .row button:active[disabled] .icon i,
.focused .row a.button:active[disabled] .icon i,
.focused .row button:active[disabled]:hover .icon i,
.focused .row a.button:active[disabled]:hover .icon i,
.focused .row button:active.disabled .icon i,
.focused .row a.button:active.disabled .icon i,
.focused .row button:active.disabled:hover .icon i,
.focused .row a.button:active.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row button[disabled],
.focused .row a.button[disabled],
.focused .row button[disabled]:hover,
.focused .row a.button[disabled]:hover,
.focused .row button.disabled,
.focused .row a.button.disabled,
.focused .row button.disabled:hover,
.focused .row a.button.disabled:hover {
  background: none;
  color: #ccc;
}
.focused .row button[disabled] .icon,
.focused .row a.button[disabled] .icon,
.focused .row button[disabled]:hover .icon,
.focused .row a.button[disabled]:hover .icon,
.focused .row button.disabled .icon,
.focused .row a.button.disabled .icon,
.focused .row button.disabled:hover .icon,
.focused .row a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row button[disabled] .icon i,
.focused .row a.button[disabled] .icon i,
.focused .row button[disabled]:hover .icon i,
.focused .row a.button[disabled]:hover .icon i,
.focused .row button.disabled .icon i,
.focused .row a.button.disabled .icon i,
.focused .row button.disabled:hover .icon i,
.focused .row a.button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row button[disabled] span,
.focused .row a.button[disabled] span,
.focused .row button[disabled]:hover span,
.focused .row a.button[disabled]:hover span,
.focused .row button.disabled span,
.focused .row a.button.disabled span,
.focused .row button.disabled:hover span,
.focused .row a.button.disabled:hover span {
  color: #ccc;
}
.focused .row.focused {
  background: #fff1dd;
}
.focused .row.focused button,
.focused .row.focused a.button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  background: none;
  color: #888;
}
.focused .row.focused button .icon,
.focused .row.focused a.button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.focused .row.focused button .icon i,
.focused .row.focused a.button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.focused .row.focused button span,
.focused .row.focused a.button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.focused .row.focused button:focus,
.focused .row.focused a.button:focus {
  outline: 0;
}
.focused .row.focused button,
.focused .row.focused a.button,
.focused .row.focused button:active,
.focused .row.focused a.button:active {
  cursor: pointer;
}
.focused .row.focused button[disabled],
.focused .row.focused a.button[disabled],
.focused .row.focused button[disabled]:hover,
.focused .row.focused a.button[disabled]:hover,
.focused .row.focused button.disabled,
.focused .row.focused a.button.disabled,
.focused .row.focused button.disabled:hover,
.focused .row.focused a.button.disabled:hover {
  cursor: default;
}
.focused .row.focused button[disabled],
.focused .row.focused a.button[disabled],
.focused .row.focused button[disabled]:hover,
.focused .row.focused a.button[disabled]:hover,
.focused .row.focused button.disabled,
.focused .row.focused a.button.disabled,
.focused .row.focused button.disabled:hover,
.focused .row.focused a.button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.focused .row.focused button[disabled] .icon,
.focused .row.focused a.button[disabled] .icon,
.focused .row.focused button[disabled]:hover .icon,
.focused .row.focused a.button[disabled]:hover .icon,
.focused .row.focused button.disabled .icon,
.focused .row.focused a.button.disabled .icon,
.focused .row.focused button.disabled:hover .icon,
.focused .row.focused a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row.focused button[disabled] .icon i,
.focused .row.focused a.button[disabled] .icon i,
.focused .row.focused button[disabled]:hover .icon i,
.focused .row.focused a.button[disabled]:hover .icon i,
.focused .row.focused button.disabled .icon i,
.focused .row.focused a.button.disabled .icon i,
.focused .row.focused button.disabled:hover .icon i,
.focused .row.focused a.button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.focused .row.focused button[disabled] span,
.focused .row.focused a.button[disabled] span,
.focused .row.focused button[disabled]:hover span,
.focused .row.focused a.button[disabled]:hover span,
.focused .row.focused button.disabled span,
.focused .row.focused a.button.disabled span,
.focused .row.focused button.disabled:hover span,
.focused .row.focused a.button.disabled:hover span {
  color: #ccc;
}
.focused .row.focused button .icon,
.focused .row.focused a.button .icon {
  background: none;
  border-color: #888;
}
.focused .row.focused button .icon i,
.focused .row.focused a.button .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row.focused button span,
.focused .row.focused a.button span {
  color: #888;
}
.focused .row.focused button:hover,
.focused .row.focused a.button:hover,
.focused .row.focused button:focus,
.focused .row.focused a.button:focus {
  background: #fda;
  color: #777;
}
.focused .row.focused button:hover .icon,
.focused .row.focused a.button:hover .icon,
.focused .row.focused button:focus .icon,
.focused .row.focused a.button:focus .icon {
  background: white;
  border-color: #777;
}
.focused .row.focused button:hover .icon i,
.focused .row.focused a.button:hover .icon i,
.focused .row.focused button:focus .icon i,
.focused .row.focused a.button:focus .icon i {
  border-color: #e4c392;
  background: #fda;
}
.focused .row.focused button:hover span,
.focused .row.focused a.button:hover span,
.focused .row.focused button:focus span,
.focused .row.focused a.button:focus span {
  color: #777;
}
.focused .row.focused button:hover .icon i,
.focused .row.focused a.button:hover .icon i,
.focused .row.focused button:focus .icon i,
.focused .row.focused a.button:focus .icon i {
  background: #fda;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.focused .row.focused button:hover[disabled] .icon i,
.focused .row.focused a.button:hover[disabled] .icon i,
.focused .row.focused button:focus[disabled] .icon i,
.focused .row.focused a.button:focus[disabled] .icon i,
.focused .row.focused button:hover[disabled]:hover .icon i,
.focused .row.focused a.button:hover[disabled]:hover .icon i,
.focused .row.focused button:focus[disabled]:hover .icon i,
.focused .row.focused a.button:focus[disabled]:hover .icon i,
.focused .row.focused button:hover.disabled .icon i,
.focused .row.focused a.button:hover.disabled .icon i,
.focused .row.focused button:focus.disabled .icon i,
.focused .row.focused a.button:focus.disabled .icon i,
.focused .row.focused button:hover.disabled:hover .icon i,
.focused .row.focused a.button:hover.disabled:hover .icon i,
.focused .row.focused button:focus.disabled:hover .icon i,
.focused .row.focused a.button:focus.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row.focused button:active .icon i,
.focused .row.focused a.button:active .icon i {
  background: #ffd390;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
.focused .row.focused button:active[disabled] .icon i,
.focused .row.focused a.button:active[disabled] .icon i,
.focused .row.focused button:active[disabled]:hover .icon i,
.focused .row.focused a.button:active[disabled]:hover .icon i,
.focused .row.focused button:active.disabled .icon i,
.focused .row.focused a.button:active.disabled .icon i,
.focused .row.focused button:active.disabled:hover .icon i,
.focused .row.focused a.button:active.disabled:hover .icon i {
  box-shadow: none;
}
.focused .row.focused button[disabled],
.focused .row.focused a.button[disabled],
.focused .row.focused button[disabled]:hover,
.focused .row.focused a.button[disabled]:hover,
.focused .row.focused button.disabled,
.focused .row.focused a.button.disabled,
.focused .row.focused button.disabled:hover,
.focused .row.focused a.button.disabled:hover {
  background: none;
  color: #ccc;
}
.focused .row.focused button[disabled] .icon,
.focused .row.focused a.button[disabled] .icon,
.focused .row.focused button[disabled]:hover .icon,
.focused .row.focused a.button[disabled]:hover .icon,
.focused .row.focused button.disabled .icon,
.focused .row.focused a.button.disabled .icon,
.focused .row.focused button.disabled:hover .icon,
.focused .row.focused a.button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.focused .row.focused button[disabled] .icon i,
.focused .row.focused a.button[disabled] .icon i,
.focused .row.focused button[disabled]:hover .icon i,
.focused .row.focused a.button[disabled]:hover .icon i,
.focused .row.focused button.disabled .icon i,
.focused .row.focused a.button.disabled .icon i,
.focused .row.focused button.disabled:hover .icon i,
.focused .row.focused a.button.disabled:hover .icon i {
  border-color: #ccc;
  background: none;
}
.focused .row.focused button[disabled] span,
.focused .row.focused a.button[disabled] span,
.focused .row.focused button[disabled]:hover span,
.focused .row.focused a.button[disabled]:hover span,
.focused .row.focused button.disabled span,
.focused .row.focused a.button.disabled span,
.focused .row.focused button.disabled:hover span,
.focused .row.focused a.button.disabled:hover span {
  color: #ccc;
}
.focused .row.focused:hover {
  background: #fff1dd;
}
.focused .row:hover {
  background: #fffaf1;
}
.focused .row .editable-display:hover {
  background: #fffefc;
}
.focused .row.focused .editable-display:hover {
  background: #fffaf1;
}
.editable {
  bottom: 4px;
  right: 4px;
  position: relative;
  width: 100%;
}
.editable .editable-display {
  border: 1px solid transparent;
  padding-top: 4px;
  padding-left: 4px;
  cursor: pointer;
}
.editable .editable-display:hover {
  border: 1px dashed #f8c77e;
  border-radius: 3px;
  background: #fffaf1;
  padding-right: 20px;
}
.editable .editable-display:hover:after {
  position: absolute;
  content: '\e807';
  right: 5px;
  top: 5px;
  font-family: "fontello";
  font-size: 16px;
  color: #ddc299;
}
.heading {
  margin-bottom: 5px;
}
.heading .editable-display h3 {
  margin: 0;
  margin-bottom: 5px;
}
.heading .editable-edit input[type="text"] {
  display: block;
  font-size: 150%;
  font-weight: 300;
  margin-bottom: 6px;
  width: 100%;
}
.product-price .editable-display {
  min-height: 25px;
}
.product-price .editable-edit {
  padding-left: 5px;
}
.product-price .editable-edit .price {
  width: 86px;
  margin-left: 3px;
}
.product-unit-quantity .editable-display {
  min-height: 25px;
}
.product-unit-quantity .editable-edit {
  padding-left: 5px;
}
.product-unit-quantity .editable-edit input {
  width: 42px;
}
.round-customers .editable-display p {
  margin: 0px 0 5px 0;
}
.round-customers .editable-edit {
  padding-top: 4px;
}
.round-customers ul li {
  margin-bottom: 10px;
}
.round-customers ul li:first-child {
  margin-top: 5px;
}
.round-customers ul li:last-child {
  margin-bottom: 5px;
}
.round-customers ul li.focused {
  background: #fffaf1;
}
.address .editable {
  padding-left: 1px;
  margin-bottom: 3px;
}
.address .editable .editable-display {
  min-height: 25px;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.address .editable .editable-edit {
  margin-bottom: 1px;
}
.email .editable {
  padding-left: 2px;
  margin-bottom: 3px;
}
.email .editable .editable-display {
  min-height: 25px;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.email .editable .editable-edit {
  margin-bottom: 1px;
}
.tel .editable {
  margin-bottom: 3px;
}
.tel .editable .editable-display {
  min-height: 25px;
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tel .editable .editable-edit {
  margin-bottom: 1px;
}
.price-detail {
  width: 300px;
}
.unit-type-detail {
  width: 300px;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  justify-content: space-between;
}
.flex > div {
  margin: 0 20px;
}
.flex > div:first-child {
  margin-left: 0;
}
.customer-details > div {
  margin-top: 10px;
  padding-left: 22px;
  position: relative;
}
.customer-details > div i {
  color: #bbb;
  position: absolute;
  left: 0;
}
.customer-details > div i::before {
  margin: 0;
  padding: 0;
}
.customer-details > div:first-child {
  margin-top: 0;
}
.customer-details > div textarea,
.customer-details > div input[type="text"],
.customer-details > div input[type="password"] {
  width: 378px;
}
.customer-details > div textarea {
  height: 80px;
}
@media only screen and (min-width : 669px) {
  .customer-details {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
  }
  .customer-details > div {
    margin: 0 20px;
  }
  .customer-details > div:first-child {
    margin-left: 0;
  }
  .customer-details > div textarea,
  .customer-details > div input[type="text"],
  .customer-details > div input[type="password"] {
    width: 100%;
  }
  .customer-details > div:last-of-type {
    width: 1px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .customer-details .address {
    width: 50%;
    flex-shrink: 2;
    min-width: 120px;
  }
  .customer-details .email {
    width: 40%;
    min-width: 150px;
    flex-shrink: 1;
  }
  .customer-details .tel {
    width: 10%;
    min-width: 145px;
    flex-shrink: 0;
  }
}
.round-customers {
  border: 1px solid transparent;
}
.round-customers .round-customer {
  display: flex;
}
.round-customers .round-customer .round-customer-detail {
  padding: 5px;
}
.round-customers .round-customer .round-customer-detail.round-customer-name {
  padding-left: 0;
  width: 40%;
}
.round-customers .round-customer .round-customer-detail.round-customer-address {
  width: 60%;
}
.round-customers .round-customer .round-customer-detail.round-customer-action {
  flex-shrink: 0;
  flex-grow: 0;
  padding: 0;
}
.round-customers a {
  display: none;
}
.round-customers .spacer {
  display: block;
  width: 22px;
}
.round-customers .round-customers-display {
  margin-bottom: 10px;
}
.round-customers .round-customers-add {
  display: none;
}
.round-customers.can-edit:hover {
  padding: 5px;
  position: relative;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  border: 1px dashed #f8c77e;
  border-radius: 3px;
  background: #fffaf1;
}
.round-customers.can-edit:hover a {
  display: block;
  border-radius: 22px;
  width: 22px;
  height: 22px;
  position: relative;
  top: 2px;
}
.round-customers.can-edit:hover a .icon {
  width: 22px;
  padding: 5px;
}
.round-customers.can-edit:hover a .icon i {
  position: relative;
  left: -6px;
  top: -2px;
  color: #999;
}
.round-customers.can-edit:hover a .icon i.icon-add {
  top: -1px;
}
.round-customers.can-edit:hover a:hover,
.round-customers.can-edit:hover a:focus {
  background: #fda;
}
.round-customers.can-edit:hover a .spacer {
  display: none;
}
.round-customers.can-edit:hover .round-customers-display {
  margin-bottom: 5px;
}
.round-customers.can-edit:hover .round-customers-display:last-child {
  margin-bottom: 0;
}
.round-customers.can-edit:hover .round-customers-add {
  display: block;
  padding-top: 5px;
  border-top: 1px dashed #f8c77e;
}
.header.home-header {
  width: 570px;
  margin: 0 auto;
}
.header.home-header h1 {
  display: block;
  margin-top: 50px;
  margin-bottom: 0;
}
@media only screen and (min-width : 780px) {
  .header.home-header h1 {
    margin-left: auto;
    margin-right: auto;
  }
}
.home p,
.home label {
  color: #c4dfb4;
}
.home form {
  display: block;
  overflow: hidden;
  position: relative;
  width: 438px;
  margin: 0px auto;
}
.home form p {
  text-align: left;
  margin-top: 70px;
  margin-left: 10px;
  display: block;
  float: left;
  width: 330px;
  margin-bottom: 10px;
}
.home .form-row {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.home .form-validation-message {
  color: #ffa850;
  margin-bottom: 10px;
}
.home label {
  display: block;
  float: left;
  font-size: 110%;
  font-weight: 300;
  width: 85px;
  height: 30px;
  padding-top: 5px;
}
.home input[type="text"],
.home input[type="password"] {
  float: left;
  width: 250px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #548f30;
}
.home input[type="text"]:focus,
.home input[type="password"]:focus {
  outline: 0;
}
.home button {
  float: left;
  margin-top: -40px;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  background: none;
  color: #c4dfb4;
  height: 90px;
  border-radius: 4px;
}
.home button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.home button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.home button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.home button:focus {
  outline: 0;
}
.home button,
.home button:active {
  cursor: pointer;
}
.home button[disabled],
.home button[disabled]:hover,
.home button.disabled,
.home button.disabled:hover {
  cursor: default;
}
.home button[disabled],
.home button[disabled]:hover,
.home button.disabled,
.home button.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.home button[disabled] .icon,
.home button[disabled]:hover .icon,
.home button.disabled .icon,
.home button.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.home button[disabled] .icon i,
.home button[disabled]:hover .icon i,
.home button.disabled .icon i,
.home button.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.home button[disabled] span,
.home button[disabled]:hover span,
.home button.disabled span,
.home button.disabled:hover span {
  color: #ccc;
}
.home button .icon {
  background: #c4dfb4;
  border-color: #c4dfb4;
}
.home button .icon i {
  border-color: #72a852;
  background: none;
}
.home button span {
  color: #c4dfb4;
}
.home button .icon i {
  background: #6ca848;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home button[disabled] .icon i,
.home button[disabled]:hover .icon i,
.home button.disabled .icon i,
.home button.disabled:hover .icon i {
  box-shadow: none;
}
.home button .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home button:hover {
  background: #548f30;
  color: #e2e9dd;
}
.home button:hover .icon {
  background: #e2e9dd;
  border-color: #e2e9dd;
}
.home button:hover .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home button:hover span {
  color: #e2e9dd;
}
.home button:hover .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home button:hover[disabled] .icon i,
.home button:hover[disabled]:hover .icon i,
.home button:hover.disabled .icon i,
.home button:hover.disabled:hover .icon i {
  box-shadow: none;
}
.home button:hover .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home button.selected {
  background: #508a2e;
  color: #fff;
}
.home button.selected .icon {
  background: #fff;
  border-color: #fff;
}
.home button.selected .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home button.selected span {
  color: #fff;
}
.home button.selected .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home button.selected[disabled] .icon i,
.home button.selected[disabled]:hover .icon i,
.home button.selected.disabled .icon i,
.home button.selected.disabled:hover .icon i {
  box-shadow: none;
}
.home button .icon {
  margin-top: 2px;
}
.home button span {
  margin-top: 5px;
}
.home button.look-around {
  margin-left: 15px;
  margin-top: 48px;
}
.home p {
  text-align: center;
  font-weight: 300;
  font-size: 150%;
}
.home .sections {
  width: 570px;
  margin: 0px auto 0 auto;
  overflow: hidden;
}
.home ul {
  margin-top: 30px;
  margin-left: 10px;
  width: 100%;
}
.home ul li {
  float: left;
}
.home ul li:nth-child(1) {
  margin-left: 0px;
}
.home ul li:nth-child(3) {
  margin-right: 0px;
}
.home ul li:nth-child(4) {
  margin-left: 90px;
}
.home ul li a {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  background: none;
  color: #c4dfb4;
  font-size: 120%;
  height: 180px;
  width: 180px;
  border-radius: 10px;
}
.home ul li a .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.home ul li a .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.home ul li a span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.home ul li a:focus {
  outline: 0;
}
.home ul li a,
.home ul li a:active {
  cursor: pointer;
}
.home ul li a[disabled],
.home ul li a[disabled]:hover,
.home ul li a.disabled,
.home ul li a.disabled:hover {
  cursor: default;
}
.home ul li a[disabled],
.home ul li a[disabled]:hover,
.home ul li a.disabled,
.home ul li a.disabled:hover {
  background: none;
  color: #ccc;
  cursor: default;
}
.home ul li a[disabled] .icon,
.home ul li a[disabled]:hover .icon,
.home ul li a.disabled .icon,
.home ul li a.disabled:hover .icon {
  background: none;
  border-color: #ccc;
}
.home ul li a[disabled] .icon i,
.home ul li a[disabled]:hover .icon i,
.home ul li a.disabled .icon i,
.home ul li a.disabled:hover .icon i {
  background: none;
  border-color: #ccc;
  box-shadow: none;
}
.home ul li a[disabled] span,
.home ul li a[disabled]:hover span,
.home ul li a.disabled span,
.home ul li a.disabled:hover span {
  color: #ccc;
}
.home ul li a .icon {
  background: #c4dfb4;
  border-color: #c4dfb4;
}
.home ul li a .icon i {
  border-color: #72a852;
  background: none;
}
.home ul li a span {
  color: #c4dfb4;
}
.home ul li a .icon i {
  background: #6ca848;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home ul li a[disabled] .icon i,
.home ul li a[disabled]:hover .icon i,
.home ul li a.disabled .icon i,
.home ul li a.disabled:hover .icon i {
  box-shadow: none;
}
.home ul li a .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home ul li a:hover {
  background: #548f30;
  color: #e2e9dd;
}
.home ul li a:hover .icon {
  background: #e2e9dd;
  border-color: #e2e9dd;
}
.home ul li a:hover .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home ul li a:hover span {
  color: #e2e9dd;
}
.home ul li a:hover .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home ul li a:hover[disabled] .icon i,
.home ul li a:hover[disabled]:hover .icon i,
.home ul li a:hover.disabled .icon i,
.home ul li a:hover.disabled:hover .icon i {
  box-shadow: none;
}
.home ul li a:hover .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home ul li a.selected {
  background: #508a2e;
  color: #fff;
}
.home ul li a.selected .icon {
  background: #fff;
  border-color: #fff;
}
.home ul li a.selected .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home ul li a.selected span {
  color: #fff;
}
.home ul li a.selected .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home ul li a.selected[disabled] .icon i,
.home ul li a.selected[disabled]:hover .icon i,
.home ul li a.selected.disabled .icon i,
.home ul li a.selected.disabled:hover .icon i {
  box-shadow: none;
}
.home ul li a .icon {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  top: 20px;
  left: 40px;
  padding: 5px 0 0 5px;
}
.home ul li a .icon i {
  border-radius: 88px;
  height: 88px;
  width: 88px;
  padding-top: 20px;
  padding-left: 15px;
  font-size: 200%;
}
.home ul li a span {
  top: 140px;
  font-size: 15px;
  line-height: 15px;
}
.home .logout-button {
  position: absolute;
  top: 50px;
  right: 10px;
}
.icon i {
  padding-left: 3px;
  padding-top: 6px;
}
.icon .icon-edit {
  padding-left: 2px;
}
.icon .icon-add {
  padding-top: 8px;
  padding-left: 1px;
}
.icon .icon-ok {
  padding-top: 7px;
  padding-left: 0px;
}
.icon .icon-cancel {
  padding-top: 7px;
  padding-left: 0px;
}
.icon i.icon-box {
  padding-top: 8px;
  padding-left: 5px;
}
.icon i.icon-carrot {
  padding-top: 8px;
  padding-left: 4px;
}
.icon i.icon-person {
  padding-top: 7px;
  padding-left: 3px;
}
.icon i.icon-truck {
  padding-top: 7px;
  padding-left: 3px;
}
.icon i.icon-flag {
  padding-top: 8px;
  padding-left: 4px;
}
.icon i.icon-swing {
  padding-left: 0;
}
.icon i.icon-mail-dark {
  padding-left: 4px;
  padding-top: 8px;
}
.icon i.icon-mail-dark:before {
  font-size: 85%;
}
.icon i.icon-trash {
  padding-left: 1px;
}
.home button i.icon-login {
  padding-left: 0px;
  padding-top: 7px;
}
.home button i.icon-eye {
  padding-left: 0px;
  padding-top: 6px;
}
.home ul li a i.icon-box {
  padding-left: 17px;
  padding-top: 22px;
}
.home ul li a i.icon-carrot {
  padding-left: 15px;
  padding-top: 22px;
}
.home ul li a i.icon-person {
  padding-left: 15px;
  padding-top: 22px;
}
.home ul li a i.icon-truck {
  padding-left: 14px;
  padding-top: 22px;
}
.home ul li a i.icon-flag {
  padding-left: 16px;
  padding-top: 22px;
}
[hidden] {
  display: none !important;
}
