@import "variables";
@import "mixins";
 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Master Styles */
h1, h2, h3 {
  margin-bottom:10px;   
  color: @heading;
  font-weight: 300;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 200%;  
}
h3 {
  font-size: 150%;  
}
body { 
  margin: 0;
  padding:0; 
}
body { 
  color: #888; 
  //font-family: Cambria, Georgia;
  background: @header; 
}
a {
  cursor: pointer;
  cursor: hand;
}

/* everywhere else */
* { 
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box; 
}

.outer {
  background: @header;
  padding:0 10px 10px 10px;
}

.container {
  margin:0;
  border-radius: 7px;
  background: #fff;
  padding: 3px;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;  
}

.container2 {
  border-radius: 5px;
  border: 1px solid @header;
  border-bottom: 1px solid lighten(@header, 20%);    
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 3px 10px 0px,
                    rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  padding: 10px 10px 10px 10px;  
  background: #fff;
}

.filler {
  float: right;
  height:483px;
}

.after {
  clear:right;
}

.icon {
  i {
    padding-left:3px;
    padding-top:6px;
  }
}

.header {
  margin:0;
  padding:0;

  h1, h2, h3, a {
    color: white;
  }

  h1 {
    position: absolute;
    top:20px;
  }

  nav {
    margin:0;
    display: block;
    margin-left: 440px;
    
    li {
      display: block;
      float:left;
      margin: 0;

      a {
        .iconCaptionButton();
        
        .iconCaptionButtonColors(
          @background: none;
          @text: lighten(@header, 40%);
          @iconBackground: none;
          @iconBorder: lighten(@header, 40%);
          @iconInnerBackground: none;  
          @iconInnerBorder: lighten(desaturate(@header, 15%), 10%)
        );

        &:hover {
          .iconCaptionButtonColors(
            @background: darken(@header, 1.5%);
            @text: lighten(desaturate(@header, 30%), 50%); 
            @iconBackground: lighten(desaturate(@header, 30%), 50%);
            @iconBorder: lighten(desaturate(@header, 30%), 50%);
            @iconInnerBackground: lighten(desaturate(@header, 15%), 20%);  
            @iconInnerBorder: lighten(desaturate(@header, 15%), 10%)
          );

          .iconCaptionButtonRaised(out; @highlight: rgba(255, 255, 255, 0.2); @lowlight: rgba(0, 0, 0, 0.1); @background: lighten(desaturate(@header, 15%), 10%));
        }

        &.selected {
          .iconCaptionButtonColors(
            @background: darken(@header, 3%);
            @text: #fff; 
            @iconBackground: #fff;//none; //lighten(@header, 5%);
            @iconBorder: #fff;
            @iconInnerBackground: lighten(desaturate(@header, 15%), 20%);  
            @iconInnerBorder: lighten(desaturate(@header, 15%), 10%)
          );

          .iconCaptionButtonRaised(out; @highlight: rgba(255, 255, 255, 0.2); @lowlight: rgba(0, 0, 0, 0.1); @background: lighten(desaturate(@header, 15%), 15%));
        }
 
        font-size:80%;
        text-decoration: none;
        height: 90px;
        width: 80px;

        .icon {
          left:17px;
          i {
            font-size: 170%;
          }
        }
      }
    }
  }
}
 
button {
  .iconCaptionButton();

  .iconCaptionButtonColors(
    @background: none;
    @text: #888;
    @iconBackground: none;
    @iconBorder: #888;
    @iconInnerBackground: none;  
    @iconInnerBorder: #ccc
  );

  &:hover, &:focus {
    .iconCaptionButtonColors(
      @background: #fda;
      @text: #777;
      @iconBackground: white;
      @iconBorder: #777;
      @iconInnerBackground: #fda;  
      @iconInnerBorder: darken(desaturate(#fda, 40%), 10%)
    );

    .iconCaptionButtonRaised(out);
  }

  &:active {
    .iconCaptionButtonRaised(in; @background: darken(#fda, 5%));
  }

  &[disabled], &[disabled]:hover {
    .iconCaptionButtonColors(
      @background: none;
      @text: #ccc;
      @iconBackground: none;
      @iconBorder: #ccc;
      @iconInnerBackground: none;  
      @iconInnerBorder: #ccc
    );
  }
}

h2 {
  margin: 20px 0 30px 10px;
}

button.x {
  height: 83px;
  float:right;
}

.icon .icon-edit {
  padding-left: 2px;
}

.icon .icon-add {
  padding-top:8px;
  padding-left: 1px;  
}

.icon .icon-ok {
  padding-top: 7px;
  padding-left:0px;
}

.icon .icon-cancel {
  padding-top: 7px;
  padding-left:0px;
}

.icon i.icon-box {
  padding-top: 8px;
  padding-left: 4px;
}

.icon i.icon-carrot {
  padding-top: 8px;
  padding-left: 3px;
}

.icon i.icon-person {
  padding-top: 7px;
}

.icon i.icon-truck {
  padding-top: 7px;
  padding-left: 2px;
}

.icon i.icon-flag {
  padding-top: 8px;
  padding-left: 3px;
}

@productHoverColor: lighten(#fda, 10%);
@productBorderColor: #ccc;

.products {
  .product {
    min-height: 83px;
    border-top: 1px dashed @productBorderColor; 
    padding: 10px 140px 10px 10px;
    position: relative;

    &:last-child {
      border-bottom: 1px dashed @productBorderColor; 
    }

    &:hover, &.editing {
      background: @productHoverColor;
    }

    h3 {
      margin:5px 0 5px 0;
    }

    .actions {
      position:absolute;
      height:100%;
      top:0;
      right:0;

      button {
        height:100%;
        float:left;
      }
    }
  }

  &.editing {
    .product:hover {
      background:inherit;
    }
    .product.editing {
      background: @productHoverColor;      
    }
  }
}

input[type="text"], select {
  color: #999; 
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 100%; 
  margin:0;
}

select {
  padding: 1px 0px;
}

.field-row {
  max-width:400px;  

  .field {
    margin-top:10px;
    float: left;

    &.full {
      width:100%;
    }

    &.w1_2 {
      width: 195px;
    }

    &.w3_4 {
      width: 295px;
    }

    &.w1_4 {
      width: 95px;
    }

    &.w2_3 {
      width: 261px;
    }

    &.w1_3 {
      width: 133px;
    }

    &.right {
      float:right;
    }

    .input {
      display: inline-block;
    
      input {
        width: 100%;
      }

      &.full {
        width: 400px;
      }

      &.tiny {
        width: 42px;
      }

      &.price {
        width: 86px;
        margin-left: 3px;
      }
      
      & + .input {
        margin-left: 10px;
      }
      & + select.input {
        margin-left: 5px;
      }
    }

    & + .field {
      margin-left:10px;
    }
  }

  &:after {
    content: '';
    clear: left;
    display: block;
  }
}

.muted {
  color: #bbb;
}

.r {
  border: 1px solid red;
}