/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Master Styles */
h1,
h2,
h3 {
  margin-bottom: 10px;
  color: #444;
  font-weight: 300;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 200%;
}
h3 {
  font-size: 150%;
}
body {
  margin: 0;
  padding: 0;
}
body {
  color: #888;
  background: #579532;
}
a {
  cursor: pointer;
  cursor: hand;
}
a:focus {
  outline: 0;
}
/* everywhere else */
* {
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box;
}
.outer {
  background: #579532;
  padding: 0 0px 20px 0px;
}
.container {
  margin: 0;
  border-left: none;
  border-right: none;
  background: #fff;
  padding: 3px 0 3px 0;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
}
.container2 {
  border: 1px solid #579532;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #89ca63;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 3px 10px 0px, rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  padding: 10px 10px 10px 10px;
  background: #fff;
}
.filler {
  float: right;
  height: 100%;
  margin-top: -185px;
}
@media only screen and (min-width : 400px) {
  .filler {
    margin-top: -200px;
  }
}
@media only screen and (min-width : 730px) {
  .filler {
    margin-top: -140px;
  }
}
.after {
  clear: right;
}
.header {
  position: relative;
  padding: 0;
  min-width: 400px;
}
.header h1,
.header h2,
.header h3,
.header a {
  color: white;
}
.header a {
  text-decoration: none;
}
.header h1 {
  display: block;
  width: 280px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
  background-image: url(../img/logo.svg);
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  padding-left: 65px;
  padding-top: 3px;
  height: 84px;
}
.header h1 span {
  color: #ffa850;
  font-weight: 400;
}
@media only screen and (min-width : 730px) {
  .header h1 {
    display: inline-block;
    margin-top: 15px;
    margin-left: 13px;
    margin-right: 13px;
  }
}
.header nav {
  margin-top: -90px;
  width: 100%;
  height: 92px;
  display: block;
}
@media only screen and (min-width : 730px) {
  .header nav {
    margin-top: -109px;
  }
}
@media only screen and (min-width : 1020px) {
  .header nav {
    padding-left: 0px;
  }
}
.header nav ul {
  display: block;
  width: 400px;
  height: 92px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width : 730px) {
  .header nav ul {
    margin-top: 0;
    margin-right: 10px;
    float: right;
  }
}
@media only screen and (min-width : 1020px) {
  .header nav ul {
    margin: 0 auto;
    float: none;
  }
}
.header nav li {
  display: block;
  float: left;
  margin: 0;
}
.header nav li a {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  background: none;
  color: #c4dfb4;
  font-size: 80%;
  text-decoration: none;
  height: 90px;
  width: 80px;
}
.header nav li a .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.header nav li a .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.header nav li a span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.header nav li a:focus {
  outline: 0;
}
.header nav li a,
.header nav li a:active {
  cursor: pointer;
}
.header nav li a[disabled],
.header nav li a[disabled]:hover {
  cursor: default;
}
.header nav li a .icon {
  background: #c4dfb4;
  border-color: #c4dfb4;
}
.header nav li a .icon i {
  border-color: #72a852;
  background: none;
}
.header nav li a span {
  color: #c4dfb4;
}
.header nav li a .icon i {
  background: #6ca848;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.header nav li a[disabled] .icon i,
.header nav li a[disabled]:hover .icon i {
  box-shadow: none;
}
.header nav li a .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.header nav li a:hover {
  background: #548f30;
  color: #e2e9dd;
}
.header nav li a:hover .icon {
  background: #e2e9dd;
  border-color: #e2e9dd;
}
.header nav li a:hover .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.header nav li a:hover span {
  color: #e2e9dd;
}
.header nav li a:hover .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.header nav li a:hover[disabled] .icon i,
.header nav li a:hover[disabled]:hover .icon i {
  box-shadow: none;
}
.header nav li a:hover .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.header nav li a.selected {
  background: #508a2e;
  color: #fff;
}
.header nav li a.selected .icon {
  background: #fff;
  border-color: #fff;
}
.header nav li a.selected .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.header nav li a.selected span {
  color: #fff;
}
.header nav li a.selected .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.header nav li a.selected[disabled] .icon i,
.header nav li a.selected[disabled]:hover .icon i {
  box-shadow: none;
}
.header nav li a .icon {
  left: 17px;
}
.header nav li a .icon i {
  font-size: 170%;
}
button {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  background: none;
  color: #888;
}
button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
button:focus {
  outline: 0;
}
button,
button:active {
  cursor: pointer;
}
button[disabled],
button[disabled]:hover {
  cursor: default;
}
button .icon {
  background: none;
  border-color: #888;
}
button .icon i {
  border-color: #ccc;
  background: none;
}
button span {
  color: #888;
}
button:hover,
button:focus {
  background: #fda;
  color: #777;
}
button:hover .icon,
button:focus .icon {
  background: white;
  border-color: #777;
}
button:hover .icon i,
button:focus .icon i {
  border-color: #e4c392;
  background: #fda;
}
button:hover span,
button:focus span {
  color: #777;
}
button:hover .icon i,
button:focus .icon i {
  background: #fda;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
button:hover[disabled] .icon i,
button:focus[disabled] .icon i,
button:hover[disabled]:hover .icon i,
button:focus[disabled]:hover .icon i {
  box-shadow: none;
}
button:active .icon i {
  background: #ffd390;
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px -2px 10px, inset rgba(0, 0, 0, 0.1) 0px 2px 10px;
}
button:active[disabled] .icon i,
button:active[disabled]:hover .icon i {
  box-shadow: none;
}
button[disabled],
button[disabled]:hover {
  background: none;
  color: #ccc;
}
button[disabled] .icon,
button[disabled]:hover .icon {
  background: none;
  border-color: #ccc;
}
button[disabled] .icon i,
button[disabled]:hover .icon i {
  border-color: #ccc;
  background: none;
}
button[disabled] span,
button[disabled]:hover span {
  color: #ccc;
}
h2 {
  margin: 20px 0 30px 0;
}
.container2 h2,
.container2 p {
  margin-left: 10px;
}
.container2 p {
  font-weight: 300;
  color: black;
  font-size: 110%;
}
button.top-level {
  height: 83px;
  float: right;
}
.items .item {
  min-height: 83px;
  border-top: 1px dashed #ccc;
  padding: 10px 140px 10px 10px;
  position: relative;
}
.items .item:last-child {
  border-bottom: 1px dashed #ccc;
}
.items .item:hover,
.items .item.editing {
  background: #fff1dd;
}
.items .item h3 {
  margin: 5px 0 5px 0;
}
.items .item .actions {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.items .item .actions button {
  height: 100%;
  float: left;
}
.items.editing .item:hover {
  background: inherit;
}
.items.editing .item.editing {
  background: #fff1dd;
}
input[type="text"],
select {
  color: #999;
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 100%;
  margin: 0;
}
select {
  padding: 1px 0px;
}
.field-row {
  max-width: 400px;
}
.field-row .field {
  margin-top: 10px;
  float: left;
}
.field-row .field.full {
  width: 100%;
}
.field-row .field.w1_2 {
  width: 195px;
}
.field-row .field .input {
  display: inline-block;
}
.field-row .field .input input {
  width: 100%;
}
.field-row .field .input.full {
  width: 400px;
}
.field-row .field .input.tiny {
  width: 42px;
}
.field-row .field .input.price {
  width: 86px;
  margin-left: 3px;
}
.field-row .field .input + .input {
  margin-left: 10px;
}
.field-row .field .input + select.input {
  margin-left: 5px;
}
.field-row .field + .field {
  margin-left: 10px;
}
.field-row:after {
  content: '';
  clear: left;
  display: block;
}
.muted {
  color: #bbb;
}
.r {
  border: 1px solid red;
}
.header.home-header {
  width: 570px;
  margin: 0 auto;
}
.header.home-header h1 {
  display: block;
  margin-top: 50px;
  margin-bottom: 0;
}
@media only screen and (min-width : 730px) {
  .header.home-header h1 {
    margin-left: auto;
    margin-right: auto;
  }
}
.home p,
.home label {
  color: #c4dfb4;
}
.home form {
  display: block;
  overflow: hidden;
  position: relative;
  width: 438px;
  height: 340px;
  margin: 0px auto;
}
.home form p {
  text-align: left;
  margin-top: 70px;
  margin-left: 10px;
  display: block;
  float: left;
  width: 330px;
  margin-bottom: 10px;
}
.home .form-row {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.home label {
  display: block;
  float: left;
  font-size: 110%;
  font-weight: 300;
  width: 85px;
  height: 30px;
  padding-top: 5px;
}
.home input[type="text"] {
  float: left;
  width: 250px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid #548f30;
}
.home input[type="text"]:focus {
  outline: 0;
}
.home button {
  float: left;
  margin-top: -40px;
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  background: none;
  color: #c4dfb4;
  height: 90px;
  border-radius: 4px;
}
.home button .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.home button .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.home button span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.home button:focus {
  outline: 0;
}
.home button,
.home button:active {
  cursor: pointer;
}
.home button[disabled],
.home button[disabled]:hover {
  cursor: default;
}
.home button .icon {
  background: #c4dfb4;
  border-color: #c4dfb4;
}
.home button .icon i {
  border-color: #72a852;
  background: none;
}
.home button span {
  color: #c4dfb4;
}
.home button .icon i {
  background: #6ca848;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home button[disabled] .icon i,
.home button[disabled]:hover .icon i {
  box-shadow: none;
}
.home button .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home button:hover {
  background: #548f30;
  color: #e2e9dd;
}
.home button:hover .icon {
  background: #e2e9dd;
  border-color: #e2e9dd;
}
.home button:hover .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home button:hover span {
  color: #e2e9dd;
}
.home button:hover .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home button:hover[disabled] .icon i,
.home button:hover[disabled]:hover .icon i {
  box-shadow: none;
}
.home button:hover .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home button.selected {
  background: #508a2e;
  color: #fff;
}
.home button.selected .icon {
  background: #fff;
  border-color: #fff;
}
.home button.selected .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home button.selected span {
  color: #fff;
}
.home button.selected .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home button.selected[disabled] .icon i,
.home button.selected[disabled]:hover .icon i {
  box-shadow: none;
}
.home button .icon {
  margin-top: 2px;
}
.home button span {
  margin-top: 5px;
}
.home button.look-around {
  margin-left: 15px;
  margin-top: 48px;
}
.home p {
  text-align: center;
  font-weight: 300;
  font-size: 150%;
}
.home .sections {
  width: 570px;
  margin: 0px auto 0 auto;
  overflow: hidden;
}
.home ul {
  margin-top: 30px;
  margin-left: 10px;
  width: 100%;
}
.home ul li {
  float: left;
}
.home ul li:nth-child(1) {
  margin-left: 0px;
}
.home ul li:nth-child(3) {
  margin-right: 0px;
}
.home ul li:nth-child(4) {
  margin-left: 90px;
}
.home ul li a {
  border: none;
  border-radius: 2px;
  padding: 0;
  display: block;
  position: relative;
  width: 66px;
  text-decoration: none;
  background: none;
  color: #c4dfb4;
  font-size: 120%;
  height: 180px;
  width: 180px;
  border-radius: 10px;
}
.home ul li a .icon {
  border-width: 1px;
  border-style: solid;
  border-radius: 46px;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 46px;
  width: 46px;
  padding: 2px 0 0 2px;
}
.home ul li a .icon i {
  border-width: 1px;
  border-style: solid;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  font-size: 200%;
  display: block;
}
.home ul li a span {
  position: absolute;
  top: 61px;
  width: 100%;
  font-size: 75%;
  text-transform: uppercase;
  text-align: center;
  line-height: 10px;
  display: block;
  width: 46 px;
}
.home ul li a:focus {
  outline: 0;
}
.home ul li a,
.home ul li a:active {
  cursor: pointer;
}
.home ul li a[disabled],
.home ul li a[disabled]:hover {
  cursor: default;
}
.home ul li a .icon {
  background: #c4dfb4;
  border-color: #c4dfb4;
}
.home ul li a .icon i {
  border-color: #72a852;
  background: none;
}
.home ul li a span {
  color: #c4dfb4;
}
.home ul li a .icon i {
  background: #6ca848;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home ul li a[disabled] .icon i,
.home ul li a[disabled]:hover .icon i {
  box-shadow: none;
}
.home ul li a .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home ul li a:hover {
  background: #548f30;
  color: #e2e9dd;
}
.home ul li a:hover .icon {
  background: #e2e9dd;
  border-color: #e2e9dd;
}
.home ul li a:hover .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home ul li a:hover span {
  color: #e2e9dd;
}
.home ul li a:hover .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home ul li a:hover[disabled] .icon i,
.home ul li a:hover[disabled]:hover .icon i {
  box-shadow: none;
}
.home ul li a:hover .icon i {
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 10px 50px, inset rgba(0, 0, 0, 0.1) 0px -10px 50px;
}
.home ul li a.selected {
  background: #508a2e;
  color: #fff;
}
.home ul li a.selected .icon {
  background: #fff;
  border-color: #fff;
}
.home ul li a.selected .icon i {
  border-color: #72a852;
  background: #8dbb72;
}
.home ul li a.selected span {
  color: #fff;
}
.home ul li a.selected .icon i {
  background: #7fb261;
  box-shadow: inset rgba(255, 255, 255, 0.2) 0px 2px 10px, inset rgba(0, 0, 0, 0.1) 0px -2px 10px;
}
.home ul li a.selected[disabled] .icon i,
.home ul li a.selected[disabled]:hover .icon i {
  box-shadow: none;
}
.home ul li a .icon {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  top: 20px;
  left: 40px;
  padding: 5px 0 0 5px;
}
.home ul li a .icon i {
  border-radius: 88px;
  height: 88px;
  width: 88px;
  padding-top: 20px;
  padding-left: 15px;
  font-size: 200%;
}
.home ul li a span {
  top: 140px;
  font-size: 15px;
  line-height: 15px;
}
.home .logout-button {
  position: absolute;
  top: 50px;
  right: 10px;
}
.icon i {
  padding-left: 3px;
  padding-top: 6px;
}
.icon .icon-edit {
  padding-left: 2px;
}
.icon .icon-add {
  padding-top: 8px;
  padding-left: 1px;
}
.icon .icon-ok {
  padding-top: 7px;
  padding-left: 0px;
}
.icon .icon-cancel {
  padding-top: 7px;
  padding-left: 0px;
}
.icon i.icon-box {
  padding-top: 8px;
  padding-left: 5px;
}
.icon i.icon-carrot {
  padding-top: 8px;
  padding-left: 4px;
}
.icon i.icon-person {
  padding-top: 7px;
  padding-left: 3px;
}
.icon i.icon-truck {
  padding-top: 7px;
  padding-left: 3px;
}
.icon i.icon-flag {
  padding-top: 8px;
  padding-left: 4px;
}
.home button i.icon-login {
  padding-left: 0px;
  padding-top: 7px;
}
.home button i.icon-eye {
  padding-left: 0px;
  padding-top: 6px;
}
.home ul li a i.icon-box {
  padding-left: 17px;
  padding-top: 22px;
}
.home ul li a i.icon-carrot {
  padding-left: 15px;
  padding-top: 22px;
}
.home ul li a i.icon-person {
  padding-left: 15px;
  padding-top: 22px;
}
.home ul li a i.icon-truck {
  padding-left: 14px;
  padding-top: 22px;
}
.home ul li a i.icon-flag {
  padding-left: 16px;
  padding-top: 22px;
}
