@import "variables";
@import "mixins";
 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Master Styles */
h1, h2, h3 {
  margin-bottom:10px;   
  color: @heading;
  font-weight: 300;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 200%;  
}
h3 {
  font-size: 150%;  
}
body { 
  margin: 0;
  padding:0; 
}
body { 
  color: #888; 
  //font-family: Cambria, Georgia;
  background: @header; 
}
a {
  cursor: pointer;
  cursor: hand;
  &:focus {
    outline:0;
  }
}

/* everywhere else */
* { 
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box; 
}

.outer {
  background: @header;
  padding:0 0px 20px 0px;
}

.container {
  margin:0;
  border-left: none;
  border-right: none;
  background: #fff;
  padding: 3px 0 3px 0;
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;  
}

.container2 {
  border: 1px solid @header;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid lighten(@header, 20%);    
  box-shadow: inset rgba(0, 0, 0, 0.3) 0px 3px 10px 0px,
                    rgba(0, 0, 0, 0.3) 0px 2px 2px -1px;
  padding: 10px 10px 10px 10px;  
  background: #fff;
}

@header-min-size: ~"only screen and (min-width : 400px)";
@header-side-by-side: ~"only screen and (min-width : 730px)";
@header-full-width: ~"only screen and (min-width : 1020px)";

.filler {
  float: right;
  height:100%;
  margin-top:-185px;

  @media @header-min-size {
    margin-top:-200px;
  }

  @media @header-side-by-side {
    margin-top:-140px;
  }
}

.after {
  clear:right;
}

.header {
  position:relative;
  padding:0;
  min-width:400px;

  h1, h2, h3, a {
    color: white;
  }

  a {
    text-decoration: none;
  }

  h1 {
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;

    @media @header-side-by-side {
      display:inline-block;
      margin-top: 20px;
      margin-left:13px;
      margin-right: 13px;
    }
  }

  nav {
    margin-top:-60px;
    width: 100%;
    height: 92px;
    display: block;
  
    @media @header-side-by-side {
      margin-top:-70px;
    }

    @media @header-full-width {
      margin-top:-70px;
      padding-left: 0px;
    }
	
    ul {
      display: block;
      width: 400px;
      height: 92px;
      margin-top:70px;
      margin-left: auto;
      margin-right: auto;

      @media @header-side-by-side {
        margin-top:0;
        margin-right:10px;
        float:right;
      }

      @media @header-full-width {
        margin: 0 auto;
        float:none; 
      } 
    }
    
    li {
      display: block;
      float:left;
      margin: 0;

      a {
        .button(solid, small, @header);
      }
    }
  }
}
 
button {
  .button(outline; small; @highlight);
}

h2 {
  margin: 20px 0 30px 0;
}

.container2 {
  h2, p {
    margin-left:10px;
  }
  p {
    font-weight: 300;
    color:black;
    font-size:110%;
  }
}

button.top-level {
  height: 83px;
  float:right;
}

.items {
  .item {
    min-height: 83px;
    border-top: 1px dashed @itemBorderColor; 
    padding: 10px 140px 10px 10px;
    position: relative;

    &:last-child {
      border-bottom: 1px dashed @itemBorderColor; 
    }

    &:hover, &.editing {
      background: @itemHoverColor;
    }

    h3 {
      margin:5px 0 5px 0;
    }

    .actions {
      position:absolute;
      height:100%;
      top:0;
      right:0;

      button {
        height:100%;
        float:left;
      }
    }
  }

  &.editing {
    .item:hover {
      background:inherit;
    }
    .item.editing {
      background: @itemHoverColor;      
    }
  }
}

input[type="text"], select {
  color: #999; 
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 100%; 
  margin:0;
}

select {
  padding: 1px 0px;
}

.field-row {
  max-width:400px;  

  .field {
    margin-top:10px;
    float: left;

    &.full {
      width:100%;
    }

    &.w1_2 {
      width: 195px;
    }

    .input {
      display: inline-block;
    
      input {
        width: 100%;
      }

      &.full {
        width: 400px;
      }

      &.tiny {
        width: 42px;
      }

      &.price {
        width: 86px;
        margin-left: 3px;
      }
      
      & + .input {
        margin-left: 10px;
      }
      & + select.input {
        margin-left: 5px;
      }
    }

    & + .field {
      margin-left:10px;
    }
  }

  &:after {
    content: '';
    clear: left;
    display: block;
  }
}

.muted {
  color: #bbb;
}

.r {
  border: 1px solid red;
}

.header {
  &.home-header {
    width: 570px;
    margin: 0 auto;
    
    h1 {
      display:block;
      margin-top:40px;
      
      @media @header-side-by-side { 
        margin-left:13px;
        margin-right: 13px;
      }
    }
  }
}

.home {
  p, label{
    color: lighten(desaturate(@header, 10%), 40%);
  }

  form {
    display:block;
    overflow: hidden;
    position:relative;
    width:438px;
    height:340px;
    margin:20px auto;

    p {
      text-align: left;
      margin-top:70px;
      margin-left:10px;
      display: block;
      float:left;
      width:330px;
      margin-bottom:10px;
    }
  }

  .form-row {
    float:left;
    margin-top:10px;
    margin-left:10px;
  }

  label {
    display:block;
    float:left;
    font-size:110%;
    font-weight: 300;
    width: 85px;
    height:30px;
    padding-top:5px;
  }

  input[type="text"] {
    float:left;
    width: 250px;
    height:30px;
    border-radius:3px;
    border: 1px solid darken(@header, 1.5%);
    &:focus{
      outline:0;
    }
  }

  button {
    float: left;
    display: block;
    margin-top:-40px;
    margin-left:10px;

    .button(solid; home; @header);

    &.look-around {
      margin-left:15px;
      margin-top:48px;
    }
  }

  p {
    text-align: center;
    font-weight:300;
    font-size: 150%;
  }

  .sections {
    width: 570px;
    margin: 50px auto 0 auto;
    overflow: hidden;
  }

  ul {
    margin-top:30px;
    margin-left:10px;
    width: 100%;

    li {
      float: left;

      &:nth-child(1) {
        margin-left:0px;
      }
      
      &:nth-child(3) {
        margin-right:0px;
      }
    
      &:nth-child(4) {
        margin-left:90px;
      }

      a {
        .button(solid; large; @header);
      }
    }
  }
}

@import "icons";