@header: #579532;
@headerNavLink: lighten(@header, 40%);
@headerText: white;

@background: #333;

@heading: #444;

@container: #ddd;

@product: #fafafa;
@productHighlight: white;
@productShadow: #aaa;

@button: #5e85a9;
@buttonDisabled: #ddd;

@highlight: #fda;
@itemHoverColor: lighten(@highlight, 10%);
// @itemHoverButtonColor: lighten(@highlight, 5%);
// @itemFocusedColor: lighten(@highlight, 5%);
// @itemFocusedButtonColor: darken(@highlight, 2%);
@itemBorderColor: #ccc;
@carrot: #ff8f1d;

@headerMinSize: 400px;
@header-min-size: ~"only screen and (min-width : @headerMinSize)";
@header-side-by-side: ~"only screen and (min-width : 780px)";
@header-full-width: ~"only screen and (min-width : 1020px)";