<div class="row add-mode focused" *ngIf="adding">
  <div class="details customer-add" [class.invalid]="!valid">
    <div class="customer-name">
      <cc-validatable [valid]="!!customer.name.length" message="Name should not be empty">
        <input #customerName placeholder="Joe Bloggs" type="text" [(ngModel)]="customer.name" tabindex="1" />
      </cc-validatable>
    </div>
      
    <div class="customer-details">
      <div class="customer-detail address">
        <div class="meh">
          <div class="detail-marker"><i class="icon-home"></i></div>
          <div class="detail-edit">
            <textarea placeholder="1 Bloggs Street" [(ngModel)]="customer.address" tabindex="1"></textarea>
          </div>
        </div>
      </div>
      <div class="customer-detail email">
        <div class="meh">
          <div class="detail-marker"><i class="icon-mail"></i></div>
          <div class="detail-edit">
            <cc-validatable [valid]="emailValid" message="Email should be a valid email address">
              <input type="text" placeholder="joe@bloggs.com" [(ngModel)]="customer.email" tabindex="1" />
            </cc-validatable>
          </div>
        </div>
      </div>
      <div class="customer-detail tel">
        <div class="meh">
          <div class="detail-marker"><i class="icon-phone"></i></div>
          <div class="detail-edit">
            <input type="text" placeholder="(01234) 567890" [(ngModel)]="customer.tel1" tabindex="1" />
          </div>
        </div>
      </div>
      <div class="customer-detail-end"></div>
    </div>
  </div>
  <div class="actions">
    <button class="button-new button-new-right" (click)="completeAdd()" tabindex="1">
      <i class="icon-ok"></i>Save
    </button>  
    <button class="button-new button-new-right" (click)="cancelAdd()" tabindex="1">
      <i class="icon-cancel"></i>Cancel
    </button>  
  </div>
</div>