<div class="row add-mode focused" *ngIf="adding">
  <div class="details customer-add" [class.invalid]="!valid">
    <div class="customer-name">
      <cc-validatable [valid]="!!customer.firstName.length" message="First name should not be empty">
        <input #customerName placeholder="First name" type="text" [(ngModel)]="customer.firstName" tabindex="1" />
      </cc-validatable>
    </div>
    <div class="customer-name" style="margin-left: 10px">
      <cc-validatable [valid]="!!customer.surname.length" message="Surname should not be empty">
        <input #customerName placeholder="Surname" type="text" [(ngModel)]="customer.surname" tabindex="1" />
      </cc-validatable>
    </div>

    <!--<table style="margin-left: -5px">
      <tr>
        <th>First name:</th>
        <td>
          <cc-text #customerName
                   [(value)]="customer.firstName"
                   [control]="firstName">
          </cc-text>
        </td>
        <th>Surname:</th>
        <td>
          <cc-text [(value)]="customer.surname"
                   [control]="surname">
          </cc-text>
        </td>
      </tr>
    </table>-->
  </div>
  <div class="actions">
    <button class="button-new button-new-right" (click)="completeAdd()" tabindex="1">
      <i class="icon-ok"></i>Save
    </button>  
    <button class="button-new button-new-right" (click)="cancelAdd()" tabindex="1">
      <i class="icon-cancel"></i>Cancel
    </button>  
  </div>
</div>