<div class="row-view-new no-hover">
  <div class="row" style="height: 0;padding: 0">
  </div>
  <div class="row">
    <div class="details">
      <table class="contact-details">
        <tr>
          <th>First name(s):</th>
          <td>
            <cc-editable-text key="firstName"
                              [(value)]="model.firstName"
                              (valueChange)="model.update({firstName:$event})"
                              [validators]="firstNameValidators"
                              [messages]="{required: 'First name is required'}">
            </cc-editable-text>
          </td>
        </tr>
        <tr>
          <th>Surname:</th>
          <td>
            <cc-editable-text key="surname"
                              [(value)]="model.surname"
                              (valueChange)="model.update({surname:$event})"
                              [validators]="surnameValidators"
                              [messages]="{required: 'Surname is required'}">
            </cc-editable-text>
          </td>
        </tr>
        <tr>
          <th rowspan="3">Address:</th>
          <td>
            <cc-editable-textarea key="address"
                                  [(value)]="model.address"
                                  (valueChange)="model.update({address:$event})"
                                  [validators]="[]"
                                  [messages]="{}">
            </cc-editable-textarea>
          </td>
        </tr>
      </table>
      <table class="contact-details">
        <tr>
          <th>Email address:</th>
          <td>
            <cc-editable-text key="email"
                              [(value)]="model.email"
                              (valueChange)="model.update({email:$event})"
                              [validators]="[]"
                              [messages]="{}">
            </cc-editable-text>
          </td>
        </tr>
        <tr>
          <th>Contact number #1:</th>
          <td>
            <cc-editable-text key="tel1"
                              [(value)]="model.tel1"
                              (valueChange)="model.update({tel1:$event})"
                              [validators]="[]"
                              [messages]="{}">
            </cc-editable-text>
          </td>
        </tr>
        <tr>
          <th>Contact number #2:</th>
          <td>
            <cc-editable-text key="tel2"
                              [(value)]="model.tel2"
                              (valueChange)="model.update({tel2:$event})"
                              [validators]="[]"
                              [messages]="{}">
            </cc-editable-text>
          </td>
        </tr>
        <tr>
          <th>Deliver order to:</th>
          <td>
            <cc-editable-select key="collection-point"
                                [(value)]="model.collectionPoint"
                                [options]="model.collectionPointOptions"
                                textProperty="name"
                                valueProperty="id"
                                (valueChange)="model.setCollectionPoint($event)"
                                [optional]="true"
                                noneSelectedText="Customer's address">
            </cc-editable-select>
          </td>
        </tr>
      </table>      
    </div>
  </div>
</div>