<cc-section-header headerIcon="person" [headerTitle]="loading? '' : (customer?.name || 'Customer not found')" [breadcrumbs]="[{title: 'Customers', routerLink: ['../Customers']}]">
  <a cc-button icon="phone" text="Contact Details" *ngIf="customer" [class.selected]="isCurrent(['./ContactDetails'])" [routerLink]="['./ContactDetails']"></a>
  <a cc-button icon="basket" text="Orders" *ngIf="customer" [class.selected]="isCurrent(['./Orders'])" [routerLink]="['./Orders']"></a>
  <a cc-button icon="mail-dark" text="Email" *ngIf="customer" [class.selected]="isCurrent(['./Email'])" [routerLink]="['./Email', {fromCustomer: true}]"></a>
</cc-section-header>
<div class="loading-indicator" *ngIf="loading"><i class="icon-spin3 animate-spin"></i></div>
<router-outlet *ngIf="!loading && customer"></router-outlet>
<p *ngIf="!loading && !customer" style="margin-left: 10px; margin-top: 20px;">Sorry, couldn't find any Customer with ID '{{routeParams.params['customerId']}}'.</p>