<div class="row-view-new no-hover" cc-active (activate)="rowViewFocused = true" (deactivate)="rowViewFocused = false" [class.focused]="rowViewFocused">
  <div class="row" style="height: 0;padding: 0">
  </div>
  <div class="row" cc-active (activate)="contactFocused = true" (deactivate)="contactFocused = false" [class.focused]="contactFocused">
    <div class="details">
      <h3>Contact details</h3>
      <table class="contact-details">
        <tr>
          <th>First name(s):</th>
          <td [class.hover]="hover == 1" (mouseenter)="hover = 1" (mouseleave)="hover = 0">
            <span *ngIf="model.firstName">{{model.firstName}}</span>
            <span class="muted" *ngIf="!model.firstName">None</span>
            <cc-editable-button icon="edit"></cc-editable-button>
          </td>
          <th>Email address:</th>
          <td [class.hover]="hover == 2" (mouseenter)="hover = 2" (mouseleave)="hover = 0">
            <span *ngIf="model.email">{{model.email}}</span>
            <span class="muted" *ngIf="!model.email">None</span>
            <cc-editable-button icon="edit"></cc-editable-button>
          </td>
        </tr>
        <tr>
          <th>Surname:</th>
          <td [class.hover]="hover == 3" (mouseenter)="hover = 3" (mouseleave)="hover = 0">
            <span *ngIf="model.surname">{{model.surname}}</span>
            <span class="muted" *ngIf="!model.surname">None</span>
            <cc-editable-button icon="edit"></cc-editable-button>
          </td>
          <th>Contact number #1:</th>
          <td [class.hover]="hover == 4" (mouseenter)="hover = 4" (mouseleave)="hover = 0">
            <span *ngIf="model.tel1">{{model.tel1}}</span>
            <span class="muted" *ngIf="!model.tel1">None</span>
            <cc-editable-button icon="edit"></cc-editable-button>
          </td>
        </tr>
        <tr>
          <th rowspan="3">Address:</th>
          <td rowspan="3" [class.hover]="hover == 5" (mouseenter)="hover = 5" (mouseleave)="hover = 0">
            <span *ngIf="model.address" [innerHTML]="model.address | preserveLines"></span>
            <span class="muted" *ngIf="!model.address">None</span>
            <cc-editable-button icon="edit"></cc-editable-button>
          </td>
          <th>Contact number #2:</th>
          <td [class.hover]="hover == 6" (mouseenter)="hover = 6" (mouseleave)="hover = 0">
            <span *ngIf="model.tel2">{{model.tel2}}</span>
            <span class="muted" *ngIf="!model.tel2">None</span>
            <cc-editable-button icon="edit"></cc-editable-button>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" cc-active (activate)="orderFocused = true" (deactivate)="orderFocused = false" [class.focused]="orderFocused">
    <div class="details">
      <h3>Current order: <span innerHTML="{{page.customer.order.total | money:true}}"></span></h3>
      <cc-order [order]="page.customer.order" [boxes]="page.boxes" [products]="page.products">
      </cc-order>
    </div>
  </div>
</div>