<nav>
  <span>
    <cc-nav-bar-link icon="carrot" text="Products"
                      [linkParams]="['Section/Products']">
    </cc-nav-bar-link>
    <cc-nav-bar-link icon="box" text="Boxes"
                      [linkParams]="['Section/Boxes']">
    </cc-nav-bar-link>
    <cc-nav-bar-link icon="person" text="Customers"
                      [linkParams]="['Section', 'Customers', 'Customers']">
    </cc-nav-bar-link>
    <cc-nav-bar-link icon="map-signs" text="Rounds"
                      [linkParams]="['Section', 'Rounds', 'Rounds']">
    </cc-nav-bar-link>
  </span>
</nav>