<nav>
  <ul>
    <li>
      <cc-nav-bar-link [linkParams]="['Section/Products']">
        <div class="icon"><i class="icon-carrot"></i></div>
        <span>Products</span>
      </cc-nav-bar-link>
    </li>
    <li>
      <cc-nav-bar-link [linkParams]="['Section/Boxes']">
        <div class="icon"><i class="icon-box"></i></div>
        <span>Boxes</span>
      </cc-nav-bar-link>
    </li>
    <li>
      <cc-nav-bar-link [linkParams]="['Section', 'Customers', 'Customers']">
        <div class="icon"><i class="icon-person"></i></div>
        <span>Customers</span>
      </cc-nav-bar-link>
    </li>
    <li>
      <cc-nav-bar-link [linkParams]="['Section', 'Rounds', 'Rounds']">
        <div class="icon"><i class="icon-truck"></i></div>
        <span>Rounds</span>
      </cc-nav-bar-link>
    </li>
    <li>
      <cc-nav-bar-link [linkParams]="['Section', 'CollectionPoints']">
        <div class="icon"><i class="icon-flag"></i></div>
        <span>Collection Points</span>        
      </cc-nav-bar-link>
    </li>
  </ul>
</nav>