<div class="container">
  <div class="container2">
    <cc-header></cc-header>
    <div class="filler"></div>
    <button class="top-level" (click)="startAdd()" [disabled]="adding || editing">
      <div class="icon"><i class="icon-add"></i></div>
      <span>Add</span>
    </button>
    <h2>Customers</h2>

    <div class="items" [class.editing]="editing || adding">
      <div class="item editing" *ngIf="adding">
        <cc-customer-edit [customer]="adding" (onSave)="completeAdd()" (onCancel)="cancel()"></cc-customer-edit>
      </div>
      <div class="item" *ngFor="let c of customers" [class.editing]="editing && editing.id == c.id">
        <cc-customer-display *ngIf="!editing || editing.id != c.id" [customer]="c" (onEdit)="startEdit(c)" [editDisabled]="adding || editing"></cc-customer-display>
        <cc-customer-edit *ngIf="editing && editing.id == c.id" [customer]="editing" (onSave)="completeEdit()" (onCancel)="cancel()"></cc-customer-edit>
      </div>
    </div>
    <div class="after"></div>
  </div>
</div>