<div class="customer-order">
  <cc-customer-order-section heading="Boxes" itemName="box"
    [model]="boxesModel"
    [tabindex]="(tabindex * 2) + 1"
    (addTotalChange)="addTotal = $event">
  </cc-customer-order-section>
  <cc-customer-order-section heading="Extra Products" itemName="product"
    [model]="productsModel"
    [tabindex]="(tabindex * 2) + 1"
    (addTotalChange)="addTotal = $event">
  </cc-customer-order-section>
  <div class="customer-order-item">
    <div class="customer-order-item-part"
        cc-distribute-width-sum="name,quantity" [padding]="orderItemPadding * 1">
        &nbsp;
    </div><!--
 --><div class="customer-order-item-part customer-order-total"
         cc-distribute-width="total"
         [class.modified]="addTotal"
         [innerHTML]="model.order.total + addTotal | money:true"
         [style.margin-left.px]="orderItemPadding">
    </div>
  </div>
</div>