<h3>{{ customer.name }}</h3>
<div class="actions">
  <div class="action">
    <a class="button" href="mailto:{{customer.email}}" [class.disabled]="editDisabled" (click)="clickEmail($event)">
      <div class="icon"><i class="icon-mail-dark"></i></div>
      <span>Email</span>
    </a>
  </div>
  <div class="action">
    <button (click)="edit()" [disabled]="editDisabled">
      <div class="icon"><i class="icon-edit"></i></div>
      <span>Edit</span>
    </button>
  </div>
</div>
<div class="details customer-details">  
  <div class="address">
    <i class="icon-home"></i><div><span [innerHTML]="customer.address | singleline:', '"></span></div>
  </div>
  <div class="email">
    <i class="icon-mail"></i><div><span>{{ customer.email }}</span></div>
  </div>
  <div class="tel">
    <i class="icon-phone"></i><div><span>{{ customer.tel1 }}</span></div>
  </div>
</div>