<h3>{{ customer.name }}</h3>
<div class="customer-details">
  <div class="address detail">
    <i class="icon-home"></i><div><span [innerHTML]="customer.address | singleline:', '"></span></div>
  </div>
  <div class="email detail">
    <i class="icon-mail"></i><div><span>{{ customer.email }}</span></div>
  </div>
  <div class="tel detail">
    <i class="icon-phone"></i><div><span>{{ customer.tel1 }}</span></div>
  </div>
  <div class="customer-actions">
    <div class="customer-action">
      <a class="button" href="mailto:{{customer.email}}">
        <div class="icon"><i class="icon-mail-dark"></i></div>
        <span>Email</span>
      </a>
    </div><!--
    --><div class="customer-action">
      <button (click)="edit()" [disabled]="editDisabled">
        <div class="icon"><i class="icon-edit"></i></div>
        <span>Edit</span>
      </button>
    </div>
  </div>  
</div>