<h2>Customers</h2>
<div class="row-view" cc-active (activate)="focused = true" (deactivate)="focused = false" [class.focused]="focused">
  <button class="add-button" (click)="addComponent.startAdd()" tabindex="1" cc-active cc-activate-on-focus cc-deactivate-on-blur>
    <div class="icon"><i class="icon-add"></i></div>
    <span>Add</span>
  </button>
  <cc-customer *ngFor="let c of customers; let i = index"
               [model]="c"
               [tabindex]="i">
  </cc-customer>
  <cc-customer-add #addComponent
                   [model]="addModel"
                   [showAddMessage]="!customers.length" 
                   [loaded]="loaded" 
                   [tabindex]="customers.length">
  </cc-customer-add>
</div>
