<div class="customer-order-products" cc-active [class.editing]="editingOrder" (activate)="editingOrder = true" (deactivate)="editingOrder = false">
  <div class="customer-order-item border-bottom"
      cc-distribute-width-sum="name,quantity,total" [padding]="orderItemPadding * 2">
    Extra Products
  </div>
  <div class="customer-order-item" *ngIf="!model.additionalProducts.length">
    <div class="customer-order-item-part"
        cc-distribute-width-sum="name,quantity" [padding]="orderItemPadding">
      None
    </div><!--
 --><div class="customer-order-item-part customer-order-total"
        cc-distribute-width="total"
        [style.margin-left.px]="orderItemPadding"
        [innerHTML]="0 | money:true">
    </div>
  </div>
  <div class="customer-order-item" *ngFor="let product of model.additionalProducts; let i = index">
    <div class="customer-order-item-part"
          cc-distribute-width="name">{{product.name}}</div><!--
  --><div class="customer-order-item-part"
          cc-distribute-width="quantity"
          [style.margin-left.px]="orderItemPadding">
      <cc-box-product-quantity
        [(value)]="product.quantity"
        (valueChange)="product.updateQuantity($event)"
        [unitType]="product.unitType"
        [tabindex]="tabindex">
      </cc-box-product-quantity>
    </div><!--
  --><div class="customer-order-item-part customer-order-total"
          cc-distribute-width="total"
          [innerHTML]="product.total | money:true"
          [style.margin-left.px]="orderItemPadding">
     </div><!--
  --><div class="customer-order-item-part"
          [style.margin-left.px]="orderItemPadding">
      <a #remove
        class="show-on-edit"
        cc-active cc-activate-on-focus cc-deactivate-on-blur
        [tabindex]="tabindex"
        (click)="onOrderItemRemove(item)"
        (keydown.Enter)="onOrderItemRemove(item, true)"><i class="icon-trash"></i>
      </a>
    </div>
  </div>
  <div>
    <cc-editable-value #editable
        className="customer-order-item customer-order-item-add"
        [value]="addingItem"
        [editing]="editing"
        (start)="onAddStart()"
        (ok)="onAddOk()"
        (cancel)="onAddCancel()">
      <display>
        <div class="customer-order-item-add-display" [class.hover]="addFocused">
          <div class="customer-order-item-part show-on-edit"
                cc-distribute-width-sum="name,quantity,total"
                [padding]="orderItemPadding * 3">
            Add {{model.additionalProducts.length? 'another' : 'a'}} product...
          </div><!--
        --><div class="customer-order-item-part show-on-edit">
            <a #add
              cc-active cc-activate-on-focus cc-deactivate-on-blur
              [tabindex]="tabindex"
              (focus)="addFocused = true"
              (blur)="addFocused = false"><i class="icon-add"></i>
            </a>
          </div>
        </div>
      </display>
      <edit>
        <div class="customer-order-item-add-edit">
          <select #select
              cc-active cc-activate-on-focus
              cc-distribute-width="name"
              tabindex="{{editable.editing? tabindex : 9999}}"
              [(ngModel)]="addingItem.id"
              (focus)="editable.startEdit()"
              (ngModelChange)="onProductChange($event)">
            <option *ngFor="let p of model.additionalProductsAvailable" [ngValue]="p.id">{{p.name}}</option>
          </select>
          <span class="box-product-quantity-each" *ngIf="addingItem.unitType == 'each'">x</span>
          <cc-validatable
            [valid]="addingItem.quantity > 0"
            message="Quantity should be a number greater than 0">
              <input type="text"
                  cc-active cc-activate-on-focus
                  cc-distribute-width="quantity"
                  cc-numeric [(value)]="addingItem.quantity"
                  tabindex="{{editable.editing? tabindex : 9999}}"
                  (focus)="editable.startEdit()" />
          </cc-validatable>
          <span class="box-product-quantity-perkg" *ngIf="addingItem.unitType == 'perKg'">Kg</span>
        </div>
      </edit>
    </cc-editable-value>
  </div>
</div>