<form (ngSubmit)="save()" #f="ngForm">
  <h3>{{ customer.name || 'The Customer With No Name' }}</h3>
  <div class="field-row">
    <div class="field full">
      <input type="text" class="input full" [(ngModel)]="customer.name" #name ngControl="name" tabindex="0" required/>
    </div>
  </div>
  <div class="actions">
    <button type="submit" [disabled]="!f.valid" tabindex="0">
      <div class="icon"><i class="icon-ok"></i></div>
      <span>Save</span>
    </button>  
    <button (click)="cancel()" tabindex="0">
      <div class="icon"><i class="icon-cancel"></i></div>
      <span>Cancel</span>
    </button>  
  </div>
</form>