<div class="row" #active=cc-active cc-active [class.focused]="rowFocused" (activate)="onActivate()" (deactivate)="onDeactivate()">
  <div class="actions">
    <div class="action">
      <button class="button" [routerLink]="['../Email', {customerId: customer.id}]" cc-active cc-activate-on-focus cc-deactivate-on-blur [tabindex]="(index * 2) + 2" [disabled]="!customer.email">
        <div class="icon"><i class="icon-mail-dark"></i></div>
        <span>Email</span>
      </button>
    </div>
    <div class="action">
      <button cc-active cc-activate-on-focus cc-deactivate-on-blur (click)="onDelete()" [tabindex]="(index * 2) + 2">
        <div class="icon"><i class="icon-trash"></i></div>
        <span>Delete</span>
      </button>
    </div>
  </div>
  <div class="details">
    <cc-heading #customerName [(value)]="customer.name" (update)="onUpdate()" [editTabindex]="(index * 2) + 1"></cc-heading>

    <div class="customer-details">  
      <cc-customer-address [(value)]="customer.address" (update)="onUpdate()" [editTabindex]="(index * 2) + 1"></cc-customer-address>
      <cc-customer-email [(value)]="customer.email" (update)="onUpdate()" [editTabindex]="(index * 2) + 1"></cc-customer-email>
      <cc-customer-tel [(value)]="customer.tel1" (update)="onUpdate()" [editTabindex]="(index * 2) + 1"></cc-customer-tel>
      <div class="customer-detail-end"></div>
    </div>

    <table style="margin-bottom: 10px;">
      <tr *ngFor="let item of customer.order.items">
        <td cc-distribute-width="quantity" style="padding-top: 5px; padding-right: 10px;">
          {{item.quantity}}
          <span *ngIf="item.unitType == 'each'">x</span>
          <span *ngIf="item.unitType == 'perKg'">Kg</span>
        </td>
        <td cc-distribute-width="name" style="padding-top: 5px">{{item.name}}</td>
      </tr>
    </table>
  </div>
</div>