<div class="order-section" cc-active [class.editing]="editingOrder" (activate)="editingOrder = true" (deactivate)="editingOrder = false">
  <div class="order-item order-heading"
      cc-distribute-width-sum="name,quantity,total" [padding]="orderItemPadding * 2">
    {{heading}}
  </div>
  <div class="order-item" *ngIf="!model.items.length">
    <div class="order-item-part"
        cc-distribute-width-sum="name,quantity" [padding]="orderItemPadding">
      None
    </div><!--
 --><div class="order-item-part order-item-total"
        cc-distribute-width="total"
        [style.margin-left.px]="orderItemPadding"
        [innerHTML]="0 | money:true">
    </div>
  </div>
  <div class="order-item" *ngFor="let item of model.items; let i = index; trackBy:getItemId">
    <div class="order-item-part"
          cc-distribute-width="name">{{item.name}}</div><!--
  --><div class="order-item-part"
          cc-distribute-width="quantity"
          [style.margin-left.px]="orderItemPadding">
      <cc-box-product-quantity
        [(value)]="item.quantity"
        (valueChange)="item.updateQuantity($event);"
        (editingValueChange)="item.modifyQuantity($event);"
        [unitType]="item.unitType"
        [tabindex]="tabindex">
      </cc-box-product-quantity>
    </div><!--
  --><div class="order-item-part order-item-total"
          cc-distribute-width="total"
          [innerHTML]="item.editingTotal | money:true"
          [class.modified]="item.editingTotal != item.total"
          [style.margin-left.px]="orderItemPadding">
     </div><!--
  --><div class="order-item-part"
          [style.margin-left.px]="orderItemPadding">
      <a #remove
        class="show-on-edit"
        cc-active cc-activate-on-focus cc-deactivate-on-blur
        [tabindex]="tabindex"
        (click)="onOrderItemRemove(item)"
        (keydown.Enter)="onOrderItemRemove(item, true)"><i class="icon-trash"></i>
      </a>
    </div>
  </div>
  <div style="margin-bottom: 10px;">
    <cc-editable-value #editable
        *ngIf="model.itemsAvailable.length"
        className="order-item order-item-add"
        [editing]="editing"
        [catchTabAway]="model.itemsAvailable.length > 1"
        [tabindex]="tabindex"
        (start)="onAddStart()"
        (ok)="onAddOk($event)"
        (cancel)="onAddCancel()">
      <display>
        <div class="order-item-add-display" [class.hover]="addFocused">
          <div class="order-item-part show-on-edit"
                cc-distribute-width-sum="name,quantity,total"
                [padding]="orderItemPadding * 3">
            Add {{model.items.length? 'another' : itemNameArticle }} {{itemName}}...
          </div><!--
        --><div class="order-item-part show-on-edit">
            <a #add
              cc-active cc-activate-on-focus cc-deactivate-on-blur
              [tabindex]="tabindex"
              (focus)="addFocused = true"
              (blur)="addFocused = false"
              (keydown.Enter)="editable.startEdit()"><i class="icon-add"></i>
            </a>
          </div>
        </div>
      </display>
      <edit>
        <div class="order-item-add-edit">
          <div class="order-item-part"
               cc-distribute-width="name">
            <select #select
                cc-active cc-activate-on-focus
                tabindex="{{editable.editing? tabindex : 9999}}"
                [(ngModel)]="model.addingItem"
                (focus)="editable.startEdit()"
                (ngModelChange)="model.recalculateTotal()">
              <option *ngFor="let i of model.itemsAvailable" [ngValue]="i">{{i.name}}</option>
            </select>
          </div><!--
       --><div class="order-item-part"
               cc-distribute-width="quantity"
               [style.margin-left.px]="orderItemPadding">
            <span [style.visibility]="model.addingItem?.unitType == 'each' ? 'visible' : 'hidden'">x</span>
              <cc-validatable
                [valid]="model.addingItemQuantity > 0"
                message="Quantity should be a number greater than 0">
                  <input type="text"
                      cc-active cc-activate-on-focus
                      cc-numeric [(value)]="model.addingItemQuantity" (valueChange)="model.recalculateTotal()"
                      tabindex="{{editable.editing? tabindex : 9999}}"
                      (focus)="editable.startEdit()" />
              </cc-validatable>
            <span [style.visibility]="model.addingItem?.unitType == 'perKg' ? 'visible' : 'hidden'">Kg</span>
          </div><!--
       --><div class="order-item-part order-item-total"
               cc-distribute-width="total"
               [style.margin-left.px]="orderItemPadding"
               [innerHTML]="(model.addingItem?.price * model.addingItemQuantity || 0) | money: true">
          </div>
        </div>
      </edit>
    </cc-editable-value>
  </div>
</div>