<div class="container">
  <div class="container2">
    <h2>Deliveries</h2>
    <div class="items">
      <button class="top-level">
        <div class="icon"><i class="icon-add"></i></div>
        <span>Add</span>
      </button>
      <div class="item">
        <h3>Delivery 2</h3>
        <div class="actions">
          <div class="action">
            <a class="button" href="mailto:">
              <div class="icon"><i class="icon-mail-dark"></i></div>
              <span>Email</span>
            </a>
          </div>
          <div class="action">
            <button>
              <div class="icon"><i class="icon-edit"></i></div>
              <span>Edit</span>
            </button>
          </div>
        </div>
        <div class="details">
          Delivery details go here...
        </div>
      </div>
      <div class="item">
        <h3>Delivery 2</h3>
        <div class="actions">
          <div class="action">
            <a class="button" href="mailto:">
              <div class="icon"><i class="icon-mail-dark"></i></div>
              <span>Email</span>
            </a>
          </div>
          <div class="action">
            <button>
              <div class="icon"><i class="icon-edit"></i></div>
              <span>Edit</span>
            </button>
          </div>
        </div>
        <div class="details">
          Delivery details go here...          
        </div>
      </div>

    </div>
    <div class="after"></div>
  </div>
</div>