<div class="row round-add focused" *ngIf="adding">
  <div class="details" [class.invalid]="!valid">
    <div class="round-name">
      <cc-validatable [valid]="!!round.name.length" message="Name should not be empty">
        <input #roundName placeholder="Round name" type="text" [(ngModel)]="round.name" tabindex="1" />
      </cc-validatable>
    </div>
  </div>
  <div class="actions">
    <a cc-button right icon="ok" text="Save" (click)="completeAdd()"></a>
    <a cc-button right icon="cancel" text="Cancel" (click)="cancelAdd()"></a>
  </div>
</div>