<cc-section-header headerIcon="map-signs" headerTitle="Rounds">
  <a class="button-new" tabindex="1"
     (click)="add.startAdd()"
     (keydown.Enter)="add.startAdd()"><i class="icon-add"></i>New round</a>
</cc-section-header>
<div class="loading-indicator" *ngIf="!loaded"><i class="icon-spin3 animate-spin"></i></div>
<p *ngIf="loaded && !rounds.length">There are no rounds yet.</p>
<div class="row-view-new" cc-active [class.focused]="focused" (activate)="focused = true" (deactivate)="focused = false">
  <cc-list-page-add #add
    (add)="onAdd($event)">
  </cc-list-page-add>
  <cc-list-page-round *ngFor="let r of rounds; let i = index"
    [round]="r"
    [unusedCustomers]="unusedCustomers"
    (delete)="onDelete($event)"
    (update)="onUpdate($event)"
    (customerAdd)="onCustomerAdd($event)"
    (customerRemove)="onCustomerRemove($event)">
  </cc-list-page-round>
</div>