<div class="round-customers">
  <table>
    <tr>
      <th [style.width.px]="customerNameWidth + customerNamePadding">&nbsp;</th>
      <th [style.width.px]="customerAddressWidth + customerAddressPadding">&nbsp;</th>
      <th [style.width.px]="actionsWidth">&nbsp;</th>
    </tr>
    <tr *ngFor="let c of value">
      <td>{{c.name}}</td>
      <td>{{c.address | defaultTo: 'no address'}}</td>
      <td>
        <cc-round-customer-remove #remove
          (remove)="onRemove(c, $event)">
        </cc-round-customer-remove>
      </td>
    </tr>
    <tr *ngIf="!value.length">
      <td colspan="3"><div class="no-customers">No customers added yet.</div></td>
    </tr>
    <tr>
      <td colspan="3">
        <cc-round-customer-add #add
          [customers]="unusedCustomers"
          [customerNameWidth]="customerNameWidth + customerNamePadding"
          [customerAddressWidth]="customerAddressWidth + customerAddressPadding"
          text="Add {{!value.length? 'a' : 'another'}} customer..."
          (add)="onCustomerAdd($event)">
        </cc-round-customer-add>
      </td>
    </tr>
  </table>
</div>

<table class="round-customers width-test">
  <tr *ngFor="let c of value">
    <td #customerNameTest>{{c.name}}</td>
    <td #customerAddressTest>{{c.address}}</td>
  </tr>
  <tr *ngFor="let c of unusedCustomers">
    <td #customerNameTest>
      <select>
        <option>{{c.name}}</option>
      </select>
    </td>
    <td #customerAddressTest>{{c.address}}</td>
  </tr>
</table>