<nav>
  <ul>
    <li><cc-nav-bar-link text="Products" [linkParams]="['Products']"></cc-nav-bar-link></li>
    <li><cc-nav-bar-link text="Boxes" [linkParams]="['Boxes']"></cc-nav-bar-link></li>
    <li><cc-nav-bar-link text="Customers" [linkParams]="['Customers']"></cc-nav-bar-link></li>
    <li><cc-nav-bar-link text="Deliveries" [linkParams]="['Deliveries']"></cc-nav-bar-link></li>
    <li><cc-nav-bar-link text="Collection Points" [linkParams]="['CollectionPoints']"></cc-nav-bar-link></li>
  </ul>
</nav>