nav {
  background: #666;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  text-align: center;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  margin: 0 5px;
  padding: 0;
  display: inline-block;
}
nav ul li a {
  margin: 0;
  color: #aaa;
}
nav ul li a:hover,
nav ul li a.selected {
  color: white;
}
