<nav>
  <ul>
    <li>
      <cc-nav-bar-link text="Products" [linkParams]="['Products']">
        <i class="icon-carrot"></i> Products
      </cc-nav-bar-link>
    </li>
    <li>
      <cc-nav-bar-link text="Boxes" [linkParams]="['Boxes']">
        <i class="icon-box"></i> Boxes
      </cc-nav-bar-link>
    </li>
    <li>
      <cc-nav-bar-link text="Customers" [linkParams]="['Customers']">
        <i class="icon-person"></i> Customers
      </cc-nav-bar-link>
    </li>
    <li>
      <cc-nav-bar-link text="Deliveries" [linkParams]="['Deliveries']">
        <i class="icon-truck"></i> Deliveries
      </cc-nav-bar-link>
    </li>
    <li>
      <cc-nav-bar-link text="Collection Points" [linkParams]="['CollectionPoints']">
        <i class="icon-flag"></i> Collection Points        
      </cc-nav-bar-link>
    </li>
  </ul>
</nav>