<cc-editable-value className="box-product-quantity" #editable (start)="onStart()" (ok)="onOk()" (cancel)="onCancel()">
  <display>
    <cc-product-quantity [quantity]="value" [unitType]="unitType"></cc-product-quantity>
    <a class="edit"><i class="icon-edit"></i></a>
  </display>
  <edit>
    <span class="box-product-quantity-each" *ngIf="unitType == 'each'">x</span>
    <cc-validatable [valid]="editingValue > 0" message="Quantity should be a number greater than 0">
      <input type="text" #input cc-numeric maxDecimals="3" [(value)]="editingValue" cc-active cc-activate-on-focus tabindex="1" (focus)="onFocus()" />
    </cc-validatable>
    <span class="box-product-quantity-perkg" *ngIf="unitType == 'perKg'">Kg</span>
  </edit>
</cc-editable-value>