<div #root class="box-products">
  <table *ngFor="let c of columns; let i = index" [style.margin-left.px]="i && columnPadding">
    <tr *ngFor="let p of c">
      <td [style.width.px]="productNameWidth + productNamePadding">
        {{p.name}}
      </td>
      <td *ngIf="p.unitType == 'each'">
        x&nbsp;
      </td>
      <td *ngIf="p.unitType != 'each'">
        &nbsp;
      </td>
      <td *ngIf="p.unitType == 'perKg'" [style.width.px]="productQuantityWidth">
        {{p.quantity | weight}}
      </td>
      <td *ngIf="p.unitType != 'perKg'" [style.width.px]="productQuantityWidth">
        {{p.quantity}}
      </td>
    </tr>
  </table>
  <div>&nbsp;</div>
</div>
<select>
  <option *ngFor="let p of unusedProducts">{{p.name}}</option>
</select>