<cc-td>{{model.name}}</cc-td>
<cc-td [class.editable-background]="model.editing" [class.invalid]="submitted && !quantity.valid" (mouseenter)="hover = true" (mouseleave)="hover = false" (click)="startEdit()" [class.editable-display-clickable]="!model.editing" [class.hover]="focused || hover">
  <span *ngIf="!model.editing">
    <cc-product-quantity [quantity]="model.quantity" [unitType]="model.unitType"></cc-product-quantity>
  </span>
  <span *ngIf="model.editing">
    <span *ngIf="model.unitType == 'each'">x</span>
    <form [class.submitted]="submitted">
      <cc-number cssClass="order-quantity" #quantityCmpt
                [decimalPrecision]="2"
                [(value)]="model.editingQuantity"
                (valueChange)="setValidationMessage()"
                [control]="quantity">
      </cc-number>
    </form>
    <span *ngIf="model.unitType == 'perKg'">Kg</span>
  </span>
<!--</cc-td>-->
<!--<cc-td class="action" [class.editable-background]="model.editing" (mouseenter)="hover = true" (mouseleave)="hover = false" [class.editable-display-clickable]="!model.editing" [class.hover]="focused || hover">-->
  <cc-editable-button icon="edit" #editBtn
                      *ngIf="!model.editing"
                      (click)="startEdit()" (focus)="focused = true" (blur)="focused = false">
  </cc-editable-button>
  <span class="validation-warning"
        *ngIf="model.editing && submitted && !quantity.valid"
        [title]="quantityValidationMessage">
    <i class="icon-warning"></i>
  </span>
  <cc-editable-buttons *ngIf="model.editing"
                        [invalid]="submitted && !quantity.valid"
                        (ok)="completeEdit()"
                        (cancel)="cancelEdit()">
  </cc-editable-buttons>
</cc-td>
<cc-td class="action">
  <a #removeBtn class="button-new-small show-on-edit"
      tabindex="1"
      (click)="removeProduct(false)"
      (keydown.Enter)="removeProduct(true)"><i class="icon-trash"></i></a>
</cc-td>