<div #root class="box-products" [class.editing]="editing" cc-active (activate)="editing = true" (deactivate)="editing = false">
  <table *ngFor="let c of columns; let i = index" [style.margin-left.px]="i && columnPadding">
    <tr>
      <th [style.width.px]="productNameWidth + productNamePadding">&nbsp;</th>
      <th [style.width.px]="productQuantityWidth + productQuantityPadding">&nbsp;</th>
      <th [style.width.px]="actionsWidth">&nbsp;</th>
    </tr>
    <tr *ngFor="let p of c" [class.remove-hover]="removeHoverProductId == p.id">
      <td>{{p.name}}</td>
      <td>
        <cc-box-product-quantity
          editId="{{editId}}:q:{{p.id}}"
          [value]="p.quantity"
          [unitType]="p.unitType"
          [editTabindex]="editTabindex"
          (update)="onProductQuantityUpdate(p.id, $event)">
        </cc-box-product-quantity>
      </td>
      <td>
        <cc-box-product-remove #remove
          editId="{{editId}}:r:{{p.id}}"
          [editTabindex]="editTabindex" 
          (remove)="onRemove(p, $event)">
        </cc-box-product-remove>
      </td>
    </tr>
    <tr *ngIf="!value.length"> 
      <td colspan="3"><div class="no-products">No products added yet.</div></td>
    </tr>
    <tr>
      <td colspan="3">
        <cc-box-product-add #add *ngIf="i == columns.length - 1"
          editId="{{editId}}:a"
          [products]="unusedProducts"
          [productNameWidth]="productNameWidth + productNamePadding"
          [productQuantityWidth]="productQuantityWidth + productQuantityPadding"
          [editTabindex]="editTabindex"
          text="Add {{!value.length? 'a' : 'another'}} product..."
          (add)="onProductAdd($event)">
        </cc-box-product-add>
      </td>
    </tr>
  </table>
</div>

<div class="box-products width-test">
  <table>
    <tr *ngFor="let p of value">
      <td class="box-product-name" #productNameTest>{{p.name}}</td>
      <td class="box-product-quantity" #productQuantityTest class="hover">
        <span class="box-product-quantity-each" *ngIf="p.unitType == 'each'">x</span>
        <span *ngIf="p.unitType == 'perKg'">{{p.quantity | weight}}</span>
        <span *ngIf="p.unitType != 'perKg'">{{p.quantity}}</span>
        <i class="icon-edit"></i>
      </td>
    </tr>
    <tr>
      <td class="box-product-name" #productNameTest>
        <select>
          <option *ngFor="let p of unusedProducts">{{p.name}}</option>
        </select>
      </td>
      <td class="box-product-quantity" #productQuantityTest>
        <input type="text" class="input" />
        <span class="box-product-quantity-perkg">Kg</span>
      </td>
    </tr>
  </table>
</div>