<div class="row" [class.focused]="rowFocused" #active=cc-active cc-active (activate)="rowFocused = true" (deactivate)="rowFocused = false">
  <div class="details">
    <cc-editable-heading key="boxName-{{box.id}}" 
                         [(value)]="box.name" (valueChange)="onUpdate()"
                         [validators]="boxNameValidators"
                         [messages]="{required: 'Box name is required.'}">
    </cc-editable-heading>
    <cc-editable-price key="boxPrice-{{box.id}}"
                        [(value)]="box.price"
                        (valueChange)="onUpdate()"
                        [validators]="boxNameValidators"
                        [messages]="{required: 'Box price is required.', notGreaterThanZero: 'Box price must be greater than zero.', notNumeric: 'Box price must be a number.'}">
    </cc-editable-price>
    <cc-box-products key="boxProducts-{{box.id}}"
                     [box]="box"
                     [products]="products">
    </cc-box-products>
  </div>
  <div class="actions">
    <button class="button-new button-new-right" (click)="onDelete()" tabindex="1">
      <i class="icon-trash"></i>Delete
    </button>
  </div>
</div>