<div class="row" [class.addMode]="addMode" [class.focused]="rowFocused" #active=cc-active cc-active (activate)="onActivate()" (deactivate)="onDeactivate()">
  <div class="actions">
    <div class="action" *ngIf="!addMode || !adding">
    </div>
    <div class="action" *ngIf="!addMode">
      <button cc-active cc-activate-on-focus cc-deactivate-on-blur (click)="onDelete()" [tabindex]="(index * 2) + 2">
        <div class="icon"><i class="icon-trash"></i></div>
        <span>Delete</span>
      </button>
    </div>
    <div class="action" *ngIf="addMode && !adding && loaded">
      <button #add cc-active cc-activate-on-focus cc-deactivate-on-blur (click)="startAdd()" [tabindex]="(index * 2) + 2">
        <div class="icon"><i class="icon-add"></i></div>
        <span>Add</span>
      </button>  
    </div>
    <div class="action" *ngIf="addMode && adding">
      <button cc-active cc-activate-on-focus cc-deactivate-on-blur (click)="completeAdd()" [tabindex]="(index * 2) + 2">
        <div class="icon"><i class="icon-ok"></i></div>
        <span>Save</span>
      </button>  
    </div>
    <div class="action" *ngIf="addMode && adding">
      <button cc-active cc-activate-on-focus cc-deactivate-on-blur (click)="cancelAdd()" [tabindex]="(index * 2) + 2">
        <div class="icon"><i class="icon-cancel"></i></div>
        <span>Cancel</span>
      </button>  
    </div>
  </div>
  <p *ngIf="addMode && loaded && showAddMessage && !adding">There are no boxes yet.</p>
  <p *ngIf="addMode && !loaded"><i class="icon-spin3 animate-spin"></i> Loading boxes...</p>
  <div class="details" [hidden]="addMode && !adding">
    <cc-heading #boxName [(value)]="box.name" (update)="onUpdate()" [editTabindex]="(index * 2) + 1"></cc-heading>
    <div class="flex">
      <div class="price-detail">
        <cc-box-price
          [(value)]="box.price"
          (update)="onUpdate()"
          [editTabindex]="(index * 2) + 1">
        </cc-box-price>
      </div>
      <div></div>
    </div>
    <cc-box-products *ngIf="!addMode"
      editId="bp{{box.id}}"
      [value]="box.products"
      [products]="products"
      [editTabindex]="(index * 2) + 1"
      (add)="onProductAdd($event)"
      (update)="onProductUpdate($event)"
      (remove)="onProductRemove($event)">
    </cc-box-products>
  </div>
</div>