<h2>Boxes</h2>

<div class="row-view" cc-focus id="row-view" focusedClass="focused" [handleClickOutside]="true">
  <cc-box *ngFor="let b of boxes; let i = index"
    [box]="b"
    [products]="products"
    [productNameWidth]="productNameWidth"
    [productQuantityWidth]="productQuantityWidth"
    [index]="i"
    (delete)="onDelete($event)"
    (update)="onUpdate($event)"
    (productAdd)="onProductAdd($event)"
    (productUpdate)="onProductUpdate($event)"
    (productRemove)="onProductRemove($event)">
  </cc-box>
  <cc-box addMode="true"
    [showAddMessage]="!boxes.length"
    [loaded]="loaded"
    (add)="onAdd($event)"
    [products]="products"
    [index]="boxes.length">
  </cc-box>
</div>