<h2>Boxes</h2>

<div id="row-view" class="row-view" cc-active [class.focused]="focused" (activate)="focused = true" (deactivate)="focused = false">
  <cc-box *ngFor="let b of boxes; let i = index"
    [box]="b"
    [products]="products"
    [productNameWidth]="productNameWidth"
    [productQuantityWidth]="productQuantityWidth"
    [index]="i"
    (delete)="onDelete($event)"
    (update)="onUpdate($event)"
    (productAdd)="onProductAdd($event)"
    (productUpdate)="onProductUpdate($event)"
    (productRemove)="onProductRemove($event)">
  </cc-box>
  <cc-box addMode="true"
    [showAddMessage]="!boxes.length"
    [loaded]="loaded"
    (add)="onAdd($event)"
    [products]="products"
    [index]="boxes.length">
  </cc-box>
</div>