<cc-section-header headerIcon="box" headerTitle="Boxes">
  <a class="button-new" tabindex="1"
     cc-active cc-activate-on-focus
     (click)="add.startAdd()"
     (keydown.Enter)="add.startAdd()"><i class="icon-add"></i>New box</a>
</cc-section-header>
<div class="loading-indicator" *ngIf="!loaded"><i class="icon-spin3 animate-spin"></i></div>
<p *ngIf="loaded && !boxes.length">There are no boxes yet.</p>
<div class="row-view-new no-hover" cc-active [class.focused]="focused" (activate)="focused = true" (deactivate)="focused = false">
  <cc-box-add #add (add)="onAdd($event)"></cc-box-add>
  <cc-box *ngFor="let b of boxes; let i = index"
    [box]="b"
    [products]="products"
    [productNameWidth]="productNameWidth"
    [productQuantityWidth]="productQuantityWidth"
    (delete)="onDelete($event)"
    (update)="onUpdate($event)"
    (productAdd)="onProductAdd($event)"
    (productUpdate)="onProductUpdate($event)"
    (productRemove)="onProductRemove($event)">
  </cc-box>
</div>