<h2>Boxes</h2>

<div class="row-view" cc-active [class.focused]="focused" (activate)="focused = true" (deactivate)="focused = false">
  <button class="add-button" (click)="add.startAdd()" tabindex="1" cc-active cc-activate-on-focus cc-deactivate-on-blur>
    <div class="icon"><i class="icon-add"></i></div>
    <span>Add</span>
  </button>
  <cc-box *ngFor="let b of boxes; let i = index"
    [box]="b"
    [products]="products"
    [productNameWidth]="productNameWidth"
    [productQuantityWidth]="productQuantityWidth"
    [tabindex]="i"
    (delete)="onDelete($event)"
    (update)="onUpdate($event)"
    (productAdd)="onProductAdd($event)"
    (productUpdate)="onProductUpdate($event)"
    (productRemove)="onProductRemove($event)">
  </cc-box>
  <cc-box-add #add
    [showAddMessage]="!boxes.length"
    [loaded]="loaded"
    (add)="onAdd($event)"
    [tabindex]="boxes.length">
  </cc-box-add>
</div>