<h2>Collection Points</h2>

<p>Under construction...</p>
<br /><br />
<div cc-active-parent id="a">
  a
  <div cc-active id="a-1">
    a-1
    <div cc-active-parent id="a-1-i">
      a-1-i
      <div cc-active id="a-1-i-x" cc-active-on-click>
        a-1-i-x
      </div>
      <div cc-active id="a-1-i-y">
        a-1-i-y
      </div>
      <div cc-active id="a-1-i-z">
        a-1-i-z
      </div>
    </div>
    <div cc-active-parent id="a-1-ii">
        a-1-ii
    </div>
  </div>
  <div cc-active id="a-2">
    a-2
    <div cc-active-parent id="a-1-i">
      a-1-i
    </div>
  </div>
  <div cc-active id="a-3">
    a-3
  </div>
</div>