  <cc-tr-header class="order-header">
    <cc-td>{{heading}}</cc-td>
    <cc-td></cc-td>
    <cc-td></cc-td>
    <cc-td></cc-td>
    <cc-td class="action">
      <a class="button-new-small" #add
         cc-active cc-activate-on-focus cc-deactivate-on-blur
         cc-editable-button="{{heading}}-add"
         tabindex="1"><i class="icon-add"></i>
      </a>
    </cc-td>
  </cc-tr-header>
  <cc-tr cc-editable-edit="{{heading}}-add" cc-editable-background="{{heading}}-add">
    <cc-td>Stu</cc-td>
    <cc-td></cc-td>
    <cc-td></cc-td>
    <cc-td class="total" [innerHTML]="0 | money:true"></cc-td>
    <cc-td class="action">
        <a class="button-new-small"
          cc-ok-button="{{heading}}-add"
          cc-active cc-activate-on-focus cc-deactivate-on-blur
          tabindex="1"><i class="icon-ok"></i>
        </a>
        <a class="button-new-small"
          cc-cancel-button="{{heading}}-add"
          cc-active cc-activate-on-focus cc-deactivate-on-blur
          tabindex="1"><i class="icon-cancel"></i>
        </a>
    </cc-td>
  </cc-tr>
  <cc-tr *ngIf="!model.items.length">
    <cc-td></cc-td>
    <cc-td></cc-td>
    <cc-td></cc-td>
    <cc-td class="total" [innerHTML]="0 | money:true"></cc-td>
    <cc-td></cc-td>
  </cc-tr>
  <cc-tr *ngFor="let item of model.items; let i = index; trackBy:getItemId">
    <cc-td>{{item.name}}</cc-td>
    <cc-td cc-editable-background="{{heading}}-{{i}}">
      <span cc-editable-display="{{heading}}-{{i}}">
        <cc-product-quantity [quantity]="item.quantity" [unitType]="item.unitType"></cc-product-quantity>
      </span>
      <span cc-editable-edit="{{heading}}-{{i}}">
        <span class="box-product-quantity-each" *ngIf="item.unitType == 'each'">x</span>
        <!--<cc-validatable
            [valid]="editable.editingValue > 0"
            message="Quantity should be a number greater than 0">-->
          <input type="text" #input
            class="inputx pricex editable-input"
            cc-numeric maxDecimals="3" [(value)]="item.quantity"
            cc-active cc-activate-on-focus
            tabindex="1"
            (focus)="editable.startEdit()" />
        <!--</cc-validatable>-->
        <span class="box-product-quantity-perkg" *ngIf="item.unitType == 'perKg'">Kg</span>
      </span>
      <!--<cc-order-item-quantity
        [(value)]="item.quantity"
        (valueChange)="item.updateQuantity($event);"
        (editingValueChange)="item.modifyQuantity($event);"
        [unitType]="item.unitType">
      </cc-order-item-quantity>-->
    </cc-td>
    <cc-td class="action" cc-editable-background="{{heading}}-{{i}}">
      <span cc-editable-display="{{heading}}-{{i}}">
        <a class="button-new-small"
          cc-editable-button="{{heading}}-{{i}}"
          cc-active cc-activate-on-focus cc-deactivate-on-blur
          tabindex="1"><i class="icon-edit"></i>
        </a>
      </span>
      <span cc-editable-edit="{{heading}}-{{i}}">
        <a class="button-new-small"
          cc-ok-button="{{heading}}-{{i}}"
          cc-active cc-activate-on-focus cc-deactivate-on-blur
          tabindex="1"><i class="icon-ok"></i>
        </a>
        <a class="button-new-small"
          cc-cancel-button="{{heading}}-{{i}}"
          cc-active cc-activate-on-focus cc-deactivate-on-blur
          tabindex="1"><i class="icon-cancel"></i>
        </a>
      </span>
    </cc-td>
    <cc-td class="total"
           [innerHTML]="item.editingTotal | money:true"
           [class.modified]="item.editingTotal != item.total">
    </cc-td>
    <cc-td class="action">
      <a #remove
        class="button-new-small show-on-edit"
        cc-active cc-activate-on-focus cc-deactivate-on-blur
        tabindex="1"
        (click)="onOrderItemRemove(item)"
        (keydown.Enter)="onOrderItemRemove(item, true)"><i class="icon-trash"></i>
      </a>
    </cc-td>
  </cc-tr>
  <!--div style="margin-bottom: 10px;">
    <cc-editable-value #editable
        *ngIf="model.itemsAvailable.length"
        className="order-item order-item-add"
        [editing]="editing"
        [catchTabAway]="model.itemsAvailable.length > 1"
        (start)="onAddStart()"
        (ok)="onAddOk($event)"
        (cancel)="onAddCancel()">
      <display>
        <div class="order-item-add-display" [class.hover]="addFocused">
          <div class="order-item-part show-on-edit"
                cc-distribute-width-sum="name,quantity,total"
                [padding]="orderItemPadding * 3">
            <!--Add {{model.items.length? 'another' : itemNameArticle }} {{itemName}}...->
          </div><!--
        -><div class="order-item-part show-on-edit">
            
          </div>
        </div>
      </display>
      <edit>
        <div class="order-item-add-edit">
          <div class="order-item-part"
               cc-distribute-width="name">
            <select #select
                cc-active cc-activate-on-focus
                tabindex="{{editable.editing? 1 : 9999}}"
                [(ngModel)]="model.addingItem"
                (focus)="editable.startEdit()"
                (ngModelChange)="model.editingTotalRecalculationNeeded()">
              <option *ngFor="let i of model.itemsAvailable" [ngValue]="i">{{i.name}}</option>
            </select>
          </div><!--
       -><div class="order-item-part"
               cc-distribute-width="quantity"
               [style.margin-left.px]="orderItemPadding">
            <span [style.visibility]="model.addingItem?.unitType == 'each' ? 'visible' : 'hidden'">x</span>
              <cc-validatable
                [valid]="model.addingItemQuantity > 0"
                message="Quantity should be a number greater than 0">
                  <input type="text"
                      cc-active cc-activate-on-focus
                      cc-numeric [(value)]="model.addingItemQuantity" (valueChange)="model.editingTotalRecalculationNeeded()"
                      tabindex="{{editable.editing? 1 : 9999}}"
                      (focus)="editable.startEdit()" />
              </cc-validatable>
            <span [style.visibility]="model.addingItem?.unitType == 'perKg' ? 'visible' : 'hidden'">Kg</span>
          </div><!--
       -><div class="order-item-part order-item-total"
               cc-distribute-width="total"
               [style.margin-left.px]="orderItemPadding"
               [innerHTML]="(model.addingItem?.price * model.addingItemQuantity || 0) | money: true">
          </div>
        </div>
      </edit>
    </cc-editable-value>
  </div-->
<!--</div>-->