  <cc-tr-header class="order-header">
    <cc-td>{{heading}}</cc-td>
    <cc-td></cc-td>
    <cc-td></cc-td>
    <cc-td></cc-td>
    <cc-td class="action">
      <cc-editable-button #addBtn
                          icon="add"
                          *ngIf="!model.adding && model.itemsAvailable.length"
                          [tabindex]="1"
                          (click)="startAdd()">
      </cc-editable-button>
    </cc-td>
  </cc-tr-header>
  <form class="cc-tr add-row editable-background"
         *ngIf="model.adding && model.itemsAvailable.length"
         [class.submitted]="submitted">
    <cc-td>
      <cc-select cssClass="order-item" #select
        [(value)]="model.addingItem"
        [options]="model.itemsAvailable"
        textProperty="name">
      </cc-select>
    </cc-td>
    <cc-td>
      <span *ngIf="model.addingItem.unitType == 'each'">x</span>
      <cc-number cssClass="order-quantity"
            [decimalPrecision]="0"
            [(value)]="model.addingItemQuantity"
            [control]="quantity" 
            [messages]="{notGreaterThanZero: 'Quantity must be greater than zero.', notNumeric: 'Quantity must be a number.'}">
      </cc-number>
      <span *ngIf="model.addingItem.unitType == 'perKg'">Kg</span>
    </cc-td>
    <cc-td></cc-td>
    <cc-td class="total modified"
           [innerHTML]="model.addingItemTotal | money: true">
    </cc-td>
    <cc-td class="action">
      <cc-editable-buttons [disabled]="submitted && !quantity.valid"
                           (ok)="completeAdd($event)"
                           (cancel)="cancelAdd()">
      </cc-editable-buttons>
    </cc-td>
  </form>
  <cc-tr *ngIf="!model.adding && !model.items.length">
    <cc-td>No {{heading | lowercase}}</cc-td>
    <cc-td></cc-td>
    <cc-td></cc-td>
    <cc-td class="total" [innerHTML]="0 | money:true"></cc-td>
    <cc-td></cc-td>
  </cc-tr>
  <cc-tr cc-order-item #itemCmpt key="{{key + '-' + item.id}}" *ngFor="let item of model.items; let i = index; trackBy:getItemId" [model]="item" (remove)="itemRemoved(i, $event)">
  </cc-tr>