<cc-table>
  <cc-tbody cc-order-section heading="Boxes" itemName="box"
    [model]="model.boxesSection">
  </cc-tbody>
  <cc-tbody cc-order-section heading="Extra Products" itemName="product"
    [model]="model.productsSection">
  </cc-tbody>
  <cc-tbody>
    <cc-tr>
      <cc-td>&nbsp;</cc-td>
      <cc-td>&nbsp;</cc-td>
      <cc-td>&nbsp;</cc-td>
      <cc-td class="order-total"
             [class.modified]="model.editingTotal != model.total"
             [innerHTML]="model.editingTotal | money:true">
      </cc-td>
      <cc-td>&nbsp;</cc-td>
    </cc-tr>
  </cc-tbody>
</cc-table>