<cc-editable-value #editable 
    className="box-product-quantity"
    [(value)]="value"
    [editing]="editing"
    (valueChange)="valueChange.emit($event);"
    (start)="onStart()"
    (cancel)="editingValueChange.emit(value);">
  <display>
    <cc-product-quantity [quantity]="editable.value" [unitType]="unitType"></cc-product-quantity>
    <a cc-button small icon="edit"></a>
  </display>
  <edit>
    <span class="box-product-quantity-each" [style.visibility]="unitType == 'each' ? 'visible' : 'hidden'">x</span>
    <cc-validatable
        [valid]="editable.editingValue > 0"
        message="Quantity should be a number greater than 0">
      <input type="text" #input
        class="inputx pricex"
        cc-numeric maxDecimals="3" [(value)]="editable.editingValue" (valueChange)="onEditingValueChange($event)"
        tabindex="1"
        (focus)="editable.startEdit()" />
    </cc-validatable>
    <span class="box-product-quantity-perkg" [style.visibility]="unitType == 'perKg' ? 'visible' : 'hidden'">Kg</span>
  </edit>
</cc-editable-value>