<cc-main-header></cc-main-header>
<div class="sections">
  <cc-error-notify></cc-error-notify>
  <ul>
    <li>
      <a [routerLink]="['Section', 'Products']">
        <div class="icon"><i class="icon-carrot"></i></div>
        <span>Products</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['Section', 'Boxes']">
        <div class="icon"><i class="icon-box"></i></div>
        <span>Boxes</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['Section', 'Customers', 'Customers']">
        <div class="icon"><i class="icon-person"></i></div>
        <span>Customers</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['Section', 'Rounds', 'Rounds']">
        <div class="icon"><i class="icon-truck"></i></div>
        <span>Rounds</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['Section', 'CollectionPoints']">
        <div class="icon"><i class="icon-flag"></i></div>
        <span>Collection Points</span>        
      </a>
    </li>
  </ul>
</div>