<cc-logout></cc-logout>
<h1>open<span>veg</span>box</h1>
<cc-error-notify></cc-error-notify>

<div class="home-sections">
  <a class="home-section" [routerLink]="['Section/Products']" tabindex="1">
    <i class="icon-carrot"></i>
    <h2>Products</h2>
    <p>Stuff you want to sell to people</p>
  </a> 
  <a class="home-section" [routerLink]="['Section/Boxes']" tabindex="1">
    <i class="icon-box"></i>
    <h2>Boxes</h2>
    <p>Chunks of your stuff that you sell together</p>
  </a> 
  <a class="home-section" [routerLink]="['Section', 'Customers', 'Customers']" tabindex="1">
    <i class="icon-person"></i>
    <h2>Customers</h2>
    <p>People who want to buy your stuff from you</p>
  </a> 
  <a class="home-section" [routerLink]="['Section', 'Rounds', 'Rounds']" tabindex="1">
    <i class="icon-map-signs"></i>
    <h2>Rounds</h2>
    <p>How you get your stuff the people who want it</p>
  </a> 
</div>