<cc-logout></cc-logout>
<h1>open<span>veg</span>box</h1>
<cc-error-notify></cc-error-notify>

<div class="home-sections">
  <a class="home-section" [routerLink]="['Section/Products']" tabindex="1">
    <i class="icon-carrot"></i>
    <h2>Products</h2>
    <p>Fruit, veg, eggs, bread... Manage the things you want to sell.</p>
  </a> 
  <a class="home-section" [routerLink]="['Section/Boxes']" tabindex="1">
    <i class="icon-box"></i>
    <h2>Boxes</h2>
    <p>Choose how many of each product goes in each type of box.</p>
  </a> 
  <a class="home-section" [routerLink]="['Section', 'Customers', 'Customers']" tabindex="1">
    <i class="icon-person"></i>
    <h2>Customers</h2>
    <p>Manage customer's contact details, orders and payments.</p>
  </a> 
  <a class="home-section" [routerLink]="['Section', 'Rounds', 'Rounds']" tabindex="1">
    <i class="icon-map-signs"></i>
    <h2>Rounds</h2>
    <p>Divide your customers into rounds, and create regular deliveries of their orders.</p>
  </a> 
</div>