<div class="home">
  <div class="sections" *ngIf="currentUser">
    <p>Hi {{currentUser.name}}, please choose a section to manage:</p>
    <ul>
      <li>
        <a [routerLink]="['Products']">
          <div class="icon"><i class="icon-carrot"></i></div>
          <span>Products</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['Boxes']">
          <div class="icon"><i class="icon-box"></i></div>
          <span>Boxes</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['Customers']">
          <div class="icon"><i class="icon-person"></i></div>
          <span>Customers</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['Deliveries']">
          <div class="icon"><i class="icon-truck"></i></div>
          <span>Deliveries</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['CollectionPoints']">
          <div class="icon"><i class="icon-flag"></i></div>
          <span>Collection Points</span>        
        </a>
      </li>
    </ul>
  </div>

  <div *ngIf="!currentUser">
    <form>
      <p>Enter your acount details:</p>
      <div class="form-row"><label>Username:</label> <input #username type="text" /></div>
      <div class="form-row"><label>Password:</label> <input #password type="text" /></div>

      <button type="button" (click)="login(username.value, password.value)">
        <div class="icon"><i class="icon-login"></i></div>
        <span>Log in</span>
      </button>

      <p>Don't have an account?</p>
      <button type="button" class="look-around" (click)="login('guest', '')">
        <div class="icon"><i class="icon-eye"></i></div>
        <span>Look inside</span>
      </button>
    </form>
  </div>
  <button *ngIf="currentUser" type="button" (click)="logout()" style="position: absolute; top: 50px; right: 10px">
    <div class="icon"><i class="icon-logout"></i></div>
    <span>Log out</span>
  </button>
</div>