<h1>open<span>veg</span>box</h1>
<form>
  <cc-error-notify></cc-error-notify>
  <h2>Enter your account details:</h2>
  <div class="form-row">
    <div *ngIf="invalidLogin" class="form-validation-message">Didn't recognise that username or password.</div>
    <label>Username:</label> <input #username type="text" />
  </div>
  <div class="form-row">
    <label>Password:</label> <input #password type="password" />
  </div>
  <button class="button-new login" (click)="login(username.value, password.value)">
    <div class="icon"><i class="icon-login"></i></div>
    <span>Log in</span>
  </button>
  <h2 class="no-account">Don't have an account?</h2>
  <p>Log in as a guest and have a play around.</p>
  <button class="button-new play" (click)="login('guest', '')">
    <div class="icon"><i class="icon-swing"></i></div>
    <span>Have fun!</span>
  </button>
</form>