<div class="outer">
  <cc-header [isHome]="true"></cc-header>
  <div class="home">
    <div>
      <form>
        <cc-error-notify></cc-error-notify>
        <p>Enter your account details:</p>
        <div class="form-row">
          <div *ngIf="invalidLogin" class="form-validation-message">Didn't recognise that username or password.</div>
          <label>Username:</label> <input #username type="text" />
        </div>
        <div class="form-row">
          <label>Password:</label> <input #password type="password" />
        </div>

        <button type="button" (click)="login(username.value, password.value)">
          <div class="icon"><i class="icon-login"></i></div>
          <span>Log in</span>
        </button>

        <p>Don't have an account?</p>
        <button type="button" class="look-around" (click)="login('guest', '')">
          <div class="icon"><i class="icon-swing"></i></div>
          <span>Have a play</span>
        </button>
      </form>
    </div>
  </div>
</div>