<div class="row-view-new no-hover" *ngIf="productList">
  <div class="row" style="height: 0"></div>
  <div class="row totals">
    <h3>Total products</h3>
    <div *ngIf="!productList.totals.length">
      <p>No products.</p>
    </div>
    <table>
      <tr *ngFor="let p of productList.totals">
        <td>{{p.name}}</td>
        <td><cc-product-quantity [quantity]="p.quantity" [unitType]="p.unitType"></cc-product-quantity></td>
      </tr>
    </table>
  </div>
  <div class="row customer" *ngFor="let c of productList.customers">
    <h3>{{c.name}}</h3>
    <p>{{c.address}}</p>
    <table>
      <tr *ngFor="let p of c.products">
        <td>{{p.name}}</td>
        <td><cc-product-quantity [quantity]="p.quantity" [unitType]="p.unitType"></cc-product-quantity></td>
      </tr>
    </table>
  </div>
</div>