<cc-section-header headerIcon="truck" [headerTitle]="nextDeliveryDate | dateString" [breadcrumbs]="[{title: 'Rounds', routerLink: ['../../../Rounds']}, {title: roundPage.round.name, routerLink: ['../Deliveries']}]">
  <a cc-button right icon="basket" class="selected" text="Edit orders" [routerLink]="['../OrderList']"></a>
  <a cc-button right icon="carrot" text="Check product list" [routerLink]="['../ProductList']"></a>
</cc-section-header>

<div class="row-view-new no-hover order-list" *ngIf="orderList">
  <div class="row" style="height: 0"></div>
  <div class="row totals">
    <h3>Total orders: <span [innerHTML]="orderList.totalCost | money:true"></span></h3>
  </div>
  <div class="row customer" *ngFor="let o of orderList.orders" [class.excluded]="o.excluded">
    <a cc-button right icon="cancel" text="Exclude from delivery"
       *ngIf="!o.excluded"
       (click)="exclude(o)" style="float: right;margin-right:-5px;"></a>
    <a cc-button right icon="add" text="Include in delivery"
       *ngIf="o.excluded"
       (click)="include(o)" style="float: right;margin-right:-5px;"></a>
    <h3>{{o.name}}</h3>
    <p>{{o.address}}</p>
    <table *ngIf="!o.excluded">
      <tr *ngFor="let b of o.boxes">
        <td>{{b.name}}</td>
        <td><cc-product-quantity [quantity]="b.quantity" [unitType]="b.unitType"></cc-product-quantity></td>
        <td class="money" [innerHTML]="b.totalCost | money:true"></td>
      </tr>
      <tr *ngFor="let p of o.extraProducts">
        <td>{{p.name}}</td>
        <td><cc-product-quantity [quantity]="p.quantity" [unitType]="p.unitType"></cc-product-quantity></td>
        <td class="money" [innerHTML]="p.totalCost | money:true">
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td [innerHTML]="o.totalCost | money:true" class="money order-total"></td>
      </tr>
    </table>
  </div>
</div>