<cc-section-header headerIcon="truck" [headerTitle]="nextDeliveryDate | dateString" [breadcrumbs]="[{title: 'Rounds', routerLink: ['../../../Rounds']}, {title: roundPage.round.name, routerLink: ['../Deliveries']}]">
  <a cc-button right icon="basket" text="Edit orders" [routerLink]="['../OrderList']"></a>
  <a cc-button right icon="carrot" class="selected" text="Check product list" [routerLink]="['../ProductList']"></a>
</cc-section-header>

<div class="row-view-new no-hover" *ngIf="productList">
  <div class="row" style="height: 0"></div>
  <div class="row totals">
    <h3>Total products</h3>
    <div *ngIf="!productList.totals.length">
      <p>No products to deliver - are there any customer orders yet?</p>
      <p style="margin-top: 10px">If so, are they <a [routerLink]="['../OrderList']">included in the delivery</a>?</p>
    </div>
    <table *ngIf="productList.totals.length">
      <tr *ngFor="let p of productList.totals">
        <td>{{p.name}}</td>
        <td><cc-product-quantity [quantity]="p.quantity" [unitType]="p.unitType"></cc-product-quantity></td>
      </tr>
    </table>
  </div>
  <div class="row customer" *ngFor="let c of productList.customers">
    <h3>{{c.name}}</h3>
    <p>{{c.address}}</p>
    <table>
      <tr *ngFor="let p of c.products">
        <td>{{p.name}}</td>
        <td><cc-product-quantity [quantity]="p.quantity" [unitType]="p.unitType"></cc-product-quantity></td>
      </tr>
    </table>
  </div>
</div>