<cc-section-header headerIcon="map-signs" [headerTitle]="loading ? '' : (round?.name || 'Round not found')">
  <a cc-button icon="person" text="Customers" *ngIf="round" [class.selected]="isCurrent(['./Customers'])" [routerLink]="['./Customers']"></a>
  <a cc-button icon="truck" text="Deliveries" *ngIf="round" [class.selected]="isCurrent(['./Deliveries', 'Deliveries'])" [routerLink]="['./Deliveries', 'Deliveries']"></a>
  <a cc-button icon="mail-dark" text="Email" *ngIf="round" [class.selected]="isCurrent(['./Email'])" [routerLink]="['./Email', {fromRound: true}]"></a>

  <!--
  <a cc-button icon="carrot" text="Product list" *ngIf="round" [class.selected]="isCurrent(['./ProductList'])" [routerLink]="['./ProductList']"></a>
  <a cc-button icon="basket" text="Order list" *ngIf="round" [class.selected]="isCurrent(['./OrderList'])" [routerLink]="['./OrderList']"></a>
  -->
  
</cc-section-header>
<div class="loading-indicator" *ngIf="loading"><i class="icon-spin3 animate-spin"></i></div>
<router-outlet *ngIf="round"></router-outlet>
<p *ngIf="!loading && !round" style="margin-left: 10px; margin-top: 20px;">Sorry, couldn't find any Round with ID '{{routeParams.params['roundId']}}'.</p>
