<cc-section-header *ngIf="isCurrent(['./Details']) || isCurrent(['./Deliveries', 'Deliveries']) || isCurrent(['./Email']) || isCurrent(['./CollectionPoints', 'CollectionPoints'])" headerIcon="map-signs" [headerTitle]="loading ? '' : (round?.name || 'Round not found')" [breadcrumbs]="[{title: 'Rounds', routerLink: ['../Rounds']}]">
  <a cc-button icon="doc-text" text="Details" *ngIf="round" [class.selected]="isCurrent(['./Details'])" [routerLink]="['./Details']"></a>
  <a cc-button icon="truck" text="Deliveries" *ngIf="round" [class.selected]="isCurrent(['./Deliveries', 'Deliveries'])" [routerLink]="['./Deliveries', 'Deliveries']"></a>
  <a cc-button icon="flag" text="Collection points" *ngIf="round" [class.selected]="isCurrent(['./CollectionPoints', 'CollectionPoints'])" [routerLink]="['./CollectionPoints', 'CollectionPoints']"></a>
  <a cc-button icon="mail-dark" text="Email" *ngIf="round" [class.selected]="isCurrent(['./Email'])" [routerLink]="['./Email']"></a>
</cc-section-header>
<div class="loading-indicator" *ngIf="loading"><i class="icon-spin3 animate-spin"></i></div>
<router-outlet *ngIf="round"></router-outlet>
<p *ngIf="!loading && !round" style="margin-left: 10px; margin-top: 20px;">Sorry, couldn't find any Round with ID '{{routeParams.params['roundId']}}'.</p>
