
.icon-ok:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-truck:before { content: '\e802'; } /* '' */
.icon-add:before { content: '\e803'; } /* '' */
.icon-box:before { content: '\e804'; } /* '' */
.icon-carrot:before { content: '\e805'; } /* '' */
.icon-person:before { content: '\e806'; } /* '' */
.icon-flag:before { content: '\e808'; } /* '' */