<cc-section-header headerIcon="map-signs" [headerTitle]="round?.name" [headerRouterLink]="['./Details']">
  <a class="button-new button-new-right" [class.selected]="isCurrent(['./Email'])" [routerLink]="['./Email', {fromRound: true}]" tabindex="1"><i class="icon-mail-dark"></i>Email</a>
  <a class="button-new button-new-right" [class.selected]="isCurrent(['./OrderList'])" [routerLink]="['./OrderList']" tabindex="1"><i class="icon-basket"></i>Order list</a>
  <a class="button-new button-new-right" [class.selected]="isCurrent(['./ProductList'])" [routerLink]="['./ProductList']" tabindex="1"><i class="icon-carrot"></i>Product list</a>
</cc-section-header>