<cc-editable-value className="round-customer-add" *ngIf="customers.length" #editable (start)="onStart()" (ok)="onOk($event)" (cancel)="onCancel()" [catchTabAway]="customers.length > 1" [tabindex]="tabindex">
  <display>
    <div class="round-customer-add-display show-on-edit" [class.hover]="addHover">
      <div [style.width.px]="customerNameWidth + customerAddressWidth">{{text}}</div>
      <div><a #add *ngIf="!adding"
          cc-active cc-activate-on-focus cc-deactivate-on-blur
          [tabindex]="tabindex"
          (keydown.Enter)="onAdd()"
          (focus)="addHover = true"
          (blur)="addHover = false"><i class="icon-add"></i></a>
      </div>       
    </div>
  </display>
  <edit>
    <div>
      <div class="round-customer-name" [style.width.px]="customerNameWidth">
        <select *ngIf="adding" #select
          cc-active cc-activate-on-focus
          [tabindex]="tabindex"
          (change)="onCustomerChange($event)">
          <option *ngFor="let c of customers; let i = index" [value]="i">{{c.name}}</option>
        </select>
      </div>
      <div class="round-customer-address" [style.width.px]="customerAddressWidth">{{customer.address | defaultTo: 'no address'}}
      </div>
    </div>
  </edit>
</cc-editable-value>