<div class="round-customer round-customer-add"
    (keydown)="keydown($event)"
    cc-active cc-active-parent 
    (deactivate)="onDeactivate()">
  <div *ngIf="customers.length && !adding" (click)="onClick()" [class.hover]="addHover">
    <div class="round-customer-detail round-customer-name round-customer-display" [style.width.px]="customerNameWidth + customerAddressWidth">{{text}}</div>
    <div class="round-customer-detail round-customer-action round-customer-display">
      <a #add
        cc-active cc-activate-on-focus
        [tabindex]="editTabindex"
        (focus)="addHover = true"
        (blur)="addHover = false"><i class="icon-add"></i></a>
    </div>       
  </div>
  <div *ngIf="adding" style="position: relative" class="round-customer-detail" [style.width.px]="customerNameWidth + customerAddressWidth">
    <div class="edit-background">
      <a cc-active cc-activate-on-focus tabindex="99999" (click)="onOkClick()"><i class="icon-ok"></i></a>
      <a cc-active cc-activate-on-focus tabindex="99999" (click)="onCancelClick()"><i class="icon-cancel"></i></a>
    </div>
    <div class="round-customer-detail round-customer-name round-customer-edit" [style.width.px]="customerNameWidth"><select #select
        cc-active cc-activate-on-focus
        [tabindex]="editTabindex"
        (change)="onCustomerChange($event)">
        <option *ngFor="let c of customers; let i = index" [value]="i">{{c.name}}</option>
      </select>
    </div>
    <div class="round-customer-detail round-customer-address round-customer-edit" [style.width.px]="customerAddressWidth">{{customer.address}}
    </div>
  </div>
</div>
<input type="text" *ngIf="adding && customers.length > 1" style="position: absolute; left: -10000px"
  [tabindex]="editTabindex" />