<div class="section-header">
  <a class="new right" (click)="add.startAdd()" tabindex="1"><i class="icon-add"></i>New round</a>
  <h2><i class="icon-map-signs"></i>Rounds</h2>
</div>
<div class="loading-indicator" *ngIf="!loaded"><i class="icon-spin3 animate-spin"></i></div>
<p *ngIf="loaded && !rounds.length">There are no rounds yet.</p>
<div class="row-view-new" cc-active [class.focused]="focused" (activate)="focused = true" (deactivate)="focused = false">
  <cc-rounds-page-add #add
    (add)="onAdd($event)"
    [tabindex]="1">
  </cc-rounds-page-add>
  <cc-rounds-page-round *ngFor="let r of rounds; let i = index"
    [round]="r"
    [unusedCustomers]="unusedCustomers"
    [tabindex]="i + 1"
    (delete)="onDelete($event)"
    (update)="onUpdate($event)"
    (customerAdd)="onCustomerAdd($event)"
    (customerRemove)="onCustomerRemove($event)">
  </cc-rounds-page-round>
</div>