<div #root cc-focus #focusable=cc-focus (blur)="onRootBlur()" class="round-customers" focusedClass="editing">
  <div class="round-customer" *ngFor="let c of value">
    <div class="round-customer-detail round-customer-name round-customer-display" [style.width.px]="customerNameWidth + customerNamePadding">{{c.name}}</div>
    <div class="round-customer-detail round-customer-address round-customer-display" [style.width.px]="customerAddressWidth + customerAddressPadding">{{c.address}}</div>
    <div class="round-customer-detail round-customer-action round-customer-display">
      <cc-round-customer-remove #remove
        editId="{{editId}}:r:{{c.id}}"
        [editTabindex]="editTabindex" 
        (remove)="onRemove(c, $event)">
      </cc-round-customer-remove>
    </div>
  </div>
  <div class="round-customer" *ngIf="!value.length">
    <div class="round-customer-detail">No customers added yet.</div>
  </div> 
  <cc-round-customer-add #add
    editId="{{editId}}:a"
    [customers]="unusedCustomers"
    [editTabindex]="editTabindex"
    [customerNameWidth]="customerNameWidth + customerNamePadding"
    [customerAddressWidth]="customerAddressWidth + customerAddressPadding"
    text="Add {{!value.length? 'a' : 'another'}} customer..."
    (add)="onCustomerAdd($event)">
  </cc-round-customer-add>
</div>

<div class="round-customers width-test">
  <div class="round-customer">
    <div #customerNameTest class="round-customer-detail round-customer-name round-customer-display" *ngFor="let c of value">{{c.name}}</div>
    <div #customerNameTest class="round-customer-detail round-customer-name round-customer-edit"><select>
        <option *ngFor="let c of customers">{{c.name}}</option>
      </select>
    </div>
    <div #customerAddressTest *ngFor="let c of customers" class="round-customer-detail round-customer-address round-customer-edit">{{c.address}}</div>
  </div>
</div>