<div class="row add-mode" *ngIf="adding" #active=cc-active cc-active [class.focused]="rowFocused" (activate)="onActivate()" (deactivate)="onDeactivate()">
  <div class="actions">
    <div class="action">
      <button cc-active cc-activate-on-focus (click)="completeAdd()" [tabindex]="(tabindex * 2) + 2">
        <div class="icon"><i class="icon-ok"></i></div>
        <span>Save</span>
      </button>  
    </div>
    <div class="action">
      <button cc-active cc-activate-on-focus (click)="cancelAdd()" [tabindex]="(tabindex * 2) + 2">
        <div class="icon"><i class="icon-cancel"></i></div>
        <span>Cancel</span>
      </button>  
    </div>
  </div>
  <div class="details round-add" [class.invalid]="!valid">
    <div class="round-name">
      <cc-validatable [valid]="!!round.name.length" message="Name should not be empty">
        <input #roundName placeholder="New Round" type="text" [(ngModel)]="round.name" [tabindex]="(tabindex * 2) + 1" cc-active cc-activate-on-focus />
      </cc-validatable>
    </div>
  </div>
</div>