<div class="email-edit focused" [class.invalid]="!valid">
  <div class="form-row">
    <label>To:</label>
    <ul class="field recipients">
      <li [class.removed]="!r.address" [class.muted]="!r.address" *ngFor="let r of recipients">{{r.name}} <span class="muted">({{r.address | defaultTo:'no email'}})</span></li>
    </ul>
  </div>
  <div class="form-row subject">
    <label>Subject:</label>
    <cc-validatable [valid]="!!subject.length" message="Subject should not be empty">
      <input type="text" class="field" #input tabindex="1" [(ngModel)]="subject" />
    </cc-validatable>
  </div>
  <div class="form-row message">
    <label>Message:</label>
    <cc-validatable [valid]="!!body.length" message="Message should not be empty">
      <textarea class="field" tabindex="1" [(ngModel)]="body"></textarea>
    </cc-validatable>
  </div>
  <div class="actions">
    <button class="button-new button-new-right" [disabled]="noRecipients" tabindex="1" (click)="send()"><i class="icon-mail-dark"></i>Send</button>
    <a class="button-new button-new-right" tabindex="1" [routerLink]="cancelLinkParams"><i class="icon-cancel"></i>Cancel</a>
  </div>  
</div>