@import "variables";
@import "mixins";
 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Master Styles */
h1, h2, h3 {
  margin-bottom:10px;   
  color: @heading;
  font-weight: 300;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 200%;  
}
h3 {
  font-size: 150%;  
}
body { 
  margin: 0; 
}
body { 
  color: #888; 
  //font-family: Cambria, Georgia;
  background: @background; 
}
a {
  cursor: pointer;
  cursor: hand;
}

/* everywhere else */
* { 
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box; 
}

input[type="text"], button { 
  color: #888; 
  //font-family: sans-serif;// Cambria, Georgia;
}

input[type="text"] {
  color: #999; 
  padding: 2px 4px;
  border: 1px solid #bbb;
  border-radius: 2px;
  font-size: 100%; 
  width:80%;
}

button {
  padding: 5px 10px;
  padding-left: 5px;
  cursor: pointer;
  cursor: hand;
  color: white;
  .boxBump(@button, 2px);
  &:hover {
    .boxBump(lighten(@button, 10%), 2px);
  }
  &:disabled {
   .boxBump(@buttonDisabled, 2px);
    color: #aaa; 
    cursor: auto;
    &:active {
      .boxBump(lighten(@buttonDisabled, 10%), 2px);
      background-color: lighten(@buttonDisabled, 10%);
    }
  }
  &:active {
    .boxBump(lighten(@button, 10%), 2px);    
    background-color: lighten(@button, 10%);
  }
  &:focus {
    outline: 0;
  }
}

.container {
    background: @container;
    height: 100%;
    margin-left:40px;
    margin-right:40px;
    padding-top:100px;
    padding-left:20px;
    padding-right:20px;
}

// Header
.header {
    position:absolute;
    width:100%;
    .box(@header, 5px);
    
    margin-top:20px;
    padding: 10px;

    h1 {
        color: @headerText;
        float:left;
        margin: 0 0 0 50px;
    }

    nav {
        margin-top:18px;
        margin-left:100px;
        float: left;

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 0 10px;
                padding: 0;
                display: inline-block;

                a {
                    margin: 0;
                    color: @headerNavLink;
                    font-size: 120%;
                    font-weight: 300;
                    text-decoration: none;

                    &:hover, &.selected {
                      color: lighten(@headerNavLink, 20%);
                    }
                }
            }
        }
    }
}

// Products
.page-header {
  &>button {
    margin-right:10px;
    margin-bottom:20px;
    margin-top:10px;
    float:right;
  }
  h2 {
    margin-top:0;
  }
}

.product {
  clear:right;
  margin-top: 20px;
  padding: 10px;
  .box(@product, 5px);
  cursor: pointer;
  cursor: hand;

  button {
    float: right;
    clear:right;
    margin-bottom:10px;
  }
}