@import "variables";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Master Styles */
h1, h2, h3 {
  margin-bottom:10px;   
  color: @heading;
  font-weight: 300;
}
h1 {
  font-size: 250%;
}
h2 {
  font-size: 200%;  
}
h3 {
  font-size: 150%;  
}
body { 
  margin: 0; 
}
body, input[text], button { 
  //color: #888; 
  //font-family: Cambria, Georgia;
  background: @background; 
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa; 
  cursor: auto;
}

/* everywhere else */
* { 
  font-family: 'Josefin Sans', sans-serif;
  box-sizing: border-box; 
}

.container {
    background: @container;
    height: 100%;
    margin-left:40px;
    margin-right:40px;
    padding-top:105px;
    padding-left:20px;
    padding-right:20px;
}

.header {
    background: @header;
    position:absolute;
    width:100%;
    box-shadow: @background 0px 5px 10px;
    border-top: 1px solid @headerHighlight;
    margin-top:20px;
    padding: 10px;

    h1 {
        color: @headerText;
        float:left;
        margin: 0 0 0 50px;
        //margin: 0 0 0 -6px;
    }

    nav {
        margin-top:18px;
        margin-left:100px;
        float: left;

        ul {
            margin: 0;
            padding: 0;

            li {
                margin: 0 10px;
                padding: 0;
                display: inline-block;

                a {
                    margin: 0;
                    color: @headerNavLink;
                    font-size: 120%;
                    font-weight: 300;
                    text-decoration: none;

                    &:hover, &.selected {
                      color: @headerText;
                    }
                }
            }
        }
    }
}

.products {
  .product {
    margin-top: 20px;
    border-radius:2px;
    padding: 10px;
    background: @product;
    box-shadow: @productShadow 0px 5px 10px;
    border-top: 2px solid @productHighlight;
    
    &:hover {
      background: darken(@product, 5%); 
      border-top-color: darken(@productHighlight, 5%);
    }
  }
}